<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jethro - Asian Hope VDP Monitoring and Evaluation</title>
    <link href="/static/mande/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/mande/bower_components/bootstrap-social/bootstrap-social.css" rel="stylesheet" type="text/css">
    <link href="/static/mande/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  </head>
  <body>
      <div class="container" style="margin-top:50px; text-align:center;">
        <h2 style="margin-bottom:30px;">Asian Hope's Village Development Program</h1>
    {% if messages %}
     <ul style="color:red; list-style-type:none;">
        {% for message in messages %}
         {%if "login_error" in message.tags %}
           <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endif %}
       {% endfor %}
     </ul>
    {% endif %}
    <a href="{% url 'authorize' %}" class="btn btn-social btn-google-plus">
        <span class="fa fa-google"></span> Sign in with Google
    </a>
</div>

  </body>
</html>
