{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Absent Lack of Information" %}
{% if school_year == 1 %}
(All)
{% else %}
({{school_year}}-{{school_year|add:"1"}})
{% endif %}
{% endblock %}

{% block content %}

<div class="col-md-9">
  <table class="table table-striped table-hover table-bordered" id="tbl_absence">
    <thead>
      <tr>
        <th>{% trans "Site" %}</th>
        <th>{% trans "Student" %}</th>
        <th>{% trans "Grade" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Attendance" %}</th>
        <th>{% trans "Comment" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for absence in absence_with_special_comment %}
      <tr>
        <td>{{absence.student_id.site}}</td>
        <td><a href ="{% url 'student_detail' absence.student_id.student_id %}">{{ absence.student_id }}</a></td>
        <td>{{absence.classroom.get_cohort_display}}</td>
        <td>{{absence.classroom.classroom_number}}</td>
        {% with date=absence.date%}
        {% if absence.classroom%}
        <td><a href ="{% url 'take_class_attendance' absence.classroom.classroom_id date%}?next={% url 'absence_with_special_comment' school_year %}">{{absence.date|date:"d M Y"}}</a></td>
        {% else%}
        <td>{{absence.date|date:"d M Y"}}</td>
        {%endif%}
        {%endwith%}
        <td>{{absence.get_attendance_display}}</td>
        <td>{{absence.notes}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="col-md-3">
    <div class="form-group">
      <select class="form-control" id="school_year">
          <option value="" selected="selected">---{% trans "Select School Year" %}---</option>
          <option value="1">{% trans "All" %}</option>
          {% for school_year in school_year_list %}
          <option value="{{school_year}}">{{school_year}}-{{school_year|add:"1"}}</option>
          {% endfor%}
          <option value="">{% trans "Clear" %}</option>
      <select>
    </div>
    <div class="form-group">
      <select class="form-control" id="schools_list">
              <option value="" selected="selected">---{% trans "Select School" %}---</option>
              {% for school in schools %}
              <option value="{{school}}">{{school}}</option>
              {% endfor%}
              <option value="">{% trans "Clear" %}</option>
      <select>
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready( function() {
  $('#school_year').val('{{school_year}}');
  $('#school_year').change(function() {
      url = '{%url 'absence_with_special_comment' %}' + $(this).val()
      window.location.href = url
  });
  $('#schools_list').change(function() {
      var school = $(this).val()
      //set search text on Code column
      table.columns(0).search(school);
      //make ajax to call server
      table.draw();
  });

  var table = $('#tbl_absence').DataTable({
      responsive: true,
      pageLength: 25,
      search: {caseInsensitive: false},
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'AbsenceWithSpecialComment'
             },

    ]
  });


});
</script>
{% endblock %}
