{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% blocktrans %}Students Attendance on {{ attendance_date }} to {{ attendance_end_date }}{% endblocktrans %}<br/>
{% if current_site and current_site != 'None' %} {{current_site}} {% endif %} {% if current_classroom and current_classroom != 'None' %} {{current_classroom}} {% endif %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <form class="form-inline" role="form" method="post" action="{% url 'daily_absence_report' %}">
    {% csrf_token %}
    <div class="col-md-6">
      <div class="form-group">
        <select name="site" class="form-control" id="site">
          <option value="None" selected="selected">{% trans "Select Site" %}</option>
          {% for school in schools %}
          <option value="{{school.school_id}}">{{school}}</option>
          {% endfor%}
        </select>
      </div>
      <div class="form-group">
        <select name="classroom" class="form-control" id="classroom">
          <option value="None" selected="selected">{% trans "Select Classroom" %}</option>
          {% for classroom in classroom_list %}
          <option value="{{ classroom.classroom_id }}">{{ classroom }}</option>
          {% endfor%}
        </select>
      </div>
    </div>
    <div class="col-md-6">
          <div class="form-group">
            <input type="date" name="attendance_date" class="form-control" id="datePicker"/>
          </div>
          <div class="form-group">
            <input type="date" name="attendance_end_date" class="form-control" id="datePickerEndDate"/>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" id="submit" value="{% trans 'Submit' %}"/>
          </div>
    </div>
  </form>
</div>
  <div class="col-md-12">
      <table style="width:100%;" class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Grade" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Student" %}</th>
          <th>{% trans "Code" %}</th>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Guardian 1" %}</th>
          <th>{% trans "Phone Number" %}</th>
          <th>{% trans "Guardian 2" %}</th>
          <th>{% trans "Phone Number" %}</th>
          <th>{% trans "Update" %}</th>
          <th>{% trans "Note" %}</th></tr></thead>
        <tbody>
          {% for classroom,attendance in classroomattendance.items %}
          {% if attendance %}
          {% for student in attendance %}
          <tr>
              <td>{{ classroom.school_id }}</td>
              <td>{{ classroom.get_cohort_display }}</td>
              <td>{{ classroom.classroom_number }}</td>
              <td>{{ student.student_id }}</td>
              <td>{{ student.get_attendance_display }}</td>
              <td>{{ student.date }}</td>
              <td>{{ student.student_id.getRecentFields | get_item:'guardian1_name' }}</td>
              <td>{{ student.student_id.getRecentFields | get_item:'guardian1_phone' }}</td>
              <td>{{ student.student_id.getRecentFields | get_item:'guardian2_name' }}</td>
              <td>{{ student.student_id.getRecentFields | get_item:'guardian2_phone' }}</td>
              <td><a href = "{% url 'take_class_attendance' classroom.classroom_id attendance_date %}" role="button" class="btn btn-xs btn-danger">{% trans "Update Attendance" %}</a></td>
              <td>{{ student.notes }}</td>
          {% endfor %}
          </tr>
          {% else %}
          {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}

{% block script %}

<script type="text/javascript">

// check select option for disable submit button
function disableSubmit(){
    if(($('#site').val() == "None") && ($('#classroom').val() == "None")) {
       $("#submit").attr("disabled", true);
     }
    else if(($('#site').val() != "None") && ($('#classroom').val() != "None")){
       $("#submit").attr("disabled", true);
     }
     else{
       $("#submit").attr("disabled", false);
     }
}
$(document).ready(function(){
  $('#datePicker').val('{{attendance_date}}');
  $('#datePickerEndDate').val('{{attendance_end_date}}');
  // call function to check if submit button should disable or not
  disableSubmit();
  $('#site').change(function() {
    data = $(this).val();
    if(data != 'None'){
        $('#classroom').val('None')
    }
    disableSubmit();
  });
  $('#classroom').change(function() {
    data = $(this).val();
    if(data != 'None'){
        $('#site').val('None')
    }
    disableSubmit();
  });

  var table = $('#attendanceReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc'],[1,'asc'],[2,'asc']],
     dom: 'frtipB',
     buttons: [
       {
                extend: 'csvHtml5',
                text: 'TSV export <i class="fa fa-download"></i>',
                className: 'btn btn-sm btn-success',
                fieldSeparator: '\t',
                extension: '.tsv',
                title: 'AttendanceReport'
            },
   ],
  });
  var current_classroom = '{{current_classroom}}';
  // if search by site show absent attendance only
  if (current_classroom == 'None'){
    //set search text on Code column
    table.columns(4).search('Absence');
    //make ajax to call server
    table.draw();
  }
});
</script>

{% endblock %}
