{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load mandefilters %}
{% block title %}
{% if locked == True %}
  {% trans 'Sorry, you cannot change Academic Tests.' %}
{% else %}
  {% trans action %} {% trans "a Semester Test for" %} {{student_id|name_by_sid}}
{% endif %}
{% endblock %}

{% block content %}
<div class="col-lg-11">
{% if test_id %}
<form action = "{% url 'academic_form_single' student_id test_id%}?next={{next_url}}" method="post">
{% else %}
<form action = "{% url 'academic_form_single' student_id %}?next={{next_url}}" method="post">
{% endif %}
{% if locked == True %}
  {% trans 'Academic test currently locked' %}
{% else %}
<div class="form-group table-responsive">
  <table class="table table-bordered table-striped table-hover" id="academicTable">
    <thead><tr>
      <th>{% trans "Date" %}</th>
      <th>{% trans "SID" %}</th>
      <th>{% trans "Name" %}</th>
      <th>{% trans "Level" %}</th>
      <th>{% trans "Math" %}</th>
      <th>{% trans "Khmer" %}</th>
      <th>{% trans "Promote?" %}</th>
      <th>{% trans "Notes" %}</th>
      </tr></thead>
    <tbody>
        {% if form.test_grade_math.value %}
          <tr class="info">
        {% else %}
          <tr>
        {% endif %}
            <td>{% bootstrap_field form.test_date placeholder=False %}</td>
            <td style="vertical-align:middle;"><a href="{%url 'student_detail' form.student_id.value %}">{{form.student_id.value}}</a>
              {{ form.student_id.as_hidden }}{{form.id}}
            </td>
            <td style="vertical-align:middle;">{{form.student_id.value | name_by_sid}}</td>
            <td>{% bootstrap_field form.test_level placeholder=False %}</td>
            <td>{% bootstrap_field form.test_grade_math placeholder=False %}</td>
            <td>{% bootstrap_field form.test_grade_khmer placeholder=False %}</td>
            <td style="vertical-align:middle;">{% bootstrap_field form.promote placeholder=False %}</td>
            <td>{% bootstrap_field form.notes placeholder=False %}</td>
        </tr>
    </tbody>

    <tfoot>

      <tr><td colspan=8>
        <!-- <button class="btn btn-primary">{% trans "Submit" %}</button> -->
      </td></tr>
    </tfoot>


  </table>
  {% csrf_token %}
</form>
</div>
{% endif %}

</div>
<div style="color:red;" class="col-md-1">
  {% if form.errors%}
     {{form.non_field_errors}}
  {%endif%}
</div>
{% endblock %}
