{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% load bootstrap3 %}
{% block title %}
{% if locked == True %}
  {% trans 'Sorry, you cannot change Academic Tests.' %}
{% else %}
  {% trans "Academic performance for" %} {{classroom.school_id}} ({{ classroom.get_cohort_display }} - {{classroom.classroom_number}})
{% endif %}
{% endblock %}

{% block content %}
{% if locked == True %}
  {% trans 'Academic tests currently locked' %}
{% else %}
<div class="col-md-9">
  <form method="post" action="{% url 'academic_form' classroom.school_id.school_id test_date classroom.classroom_id %}">
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="form-group table-responsive">
      <table class="table table-bordered table-striped table-hover" id="academicTable">
        <thead>
          <tr>
            <th>SID</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Level" %}</th>
            <th>{% trans "Activity Test" %}</th>
            <th>{% trans "Quiz" %}</th>
            <th>{% trans "Monthly Test" %}</th>
            <th>{% trans "Midterm Test" %}</th>
            <th>{% trans " Final Test" %}</th>
            <th>{% trans "Promote?" %}</th>
            <th>{% trans "Notes" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for form in formset %}

            {% if form.test_grade_math.value %}
              <tr class="info">
            {% else %}
              <tr>
            {% endif %}
                <td><a href="{%url 'student_detail' form.student_id.value %}">{{form.student_id.value}}</a>
                  {{ form.student_id.as_hidden }}{{form.test_date.as_hidden}}{{form.id}}
                </td>
                <td>{{form.student_id.value | name_by_sid}}</td>
                <td>{{ form.test_level }}</td>
                <td>{% bootstrap_field form.activity_test %}</td>
                <td>{% bootstrap_field form.quiz %}</td>
                <td>{% bootstrap_field form.monthly_test %}</td>
                <td>{% bootstrap_field form.middle_test %}</td>
                <td>{% bootstrap_field form.final_test %}</td>
                <td>{{ form.promote }}</td>
                <td>{{ form.notes }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr><td colspan=6>
              <button class="btn btn-primary">{% trans 'Submit' %}</button>
          </td></tr>
        </tfoot>

      </table>
    </div>
  </form>
</div>
<div class="col-md-3">
      <input type="date" name="attendance_date" class="form-control" id="datePicker"/>
      <p style="color:red">{{warning}}</p>
      <p style="color:green">{{ message }}</p>
      <ul>
        {% for classroom_by_school in classrooms_by_school %}
        <li>
          <a href="{% url 'academic_form' classroom_by_school.school_id.school_id test_date %}{{classroom_by_school.classroom_id}}/">{{classroom_by_school.get_cohort_display}} - {{classroom_by_school.classroom_number}}</a>
        </li>
        {% endfor %}

      </ul>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script type="text/javascript">

$(document).ready( function() {
    $('#datePicker').val('{{test_date}}');

    $(function() {
      $('#datePicker').change(function() {
          //split on /
          $url = window.location.href.split('/')
          //replace the final value (the date)
          $url[$url.length-3] = $(this).val()
          //rewrite the url with the new date in place
          window.location.href = $url.join('/')
      });
    });

    $('#academicTable').DataTable({
      responsive: true,
      pageLength: 300,
    });

});

</script>
{% endblock %}
