{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Achievement Test Report" %} {% if site  and site != '0' %} {{ site | site_by_id}} {% endif %} {% if grade  and grade != '0' %} {{ grade | grade_by_id}} {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-11">
        <div class="form-inline" style="text-align: right; margin-bottom: 15px">
              <div class="form-group">
                <select class="form-control" id="current_date" data-toggle="tooltip" data-placement="top" title="Current Date">
                    {% for test_date in test_date_lists %}
                    <option value="{{test_date|date:'c'}}">{{test_date|date:'c'}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                  <select class="form-control" id="previous_date" data-toggle="tooltip" data-placement="top" title="Previous Date 1">
                      {% for test_date in test_date_lists %}
                      <option value="{{test_date|date:'c'}}">{{test_date|date:'c'}}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="form-group">
                  <select class="form-control" id="previous_date2" data-toggle="tooltip" data-placement="top" title="Previous Date 2">
                      {% for test_date in test_date_lists %}
                      <option value="{{test_date|date:'c'}}">{{test_date|date:'c'}}</option>
                      {% endfor %}
                  </select>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary form-control" onclick="submit();">{% trans "Submit" %}</button>
              </div>
        </div>
        <table class="table table-responsive table-bordered table-striped table-hover" id="achievementTestReportTableCurrent">
            <thead>
                <tr>
                    <td># {% trans "Students" %}</td>
                    <td>{{students}}</td>
                    <td colspan="12"></td>
                </tr>
                <tr>
                    <td># {% trans "Passed" %}</td><td>{{passed}}</td>
                    <td colspan="12"></td>
                </tr>
                <tr>
                    <td>% {% trans "Passed" %}</td><td>{% widthratio passed students 100 %}%</td>
                    <td colspan="12"></td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td style="text-align:center; background:red;" colspan="4">{{ current_date|iso_to_date|date:"d M Y" }}</td>
                    <td style="text-align:center; background: yellow;" colspan="4">{{ previous_date|iso_to_date|date:"d M Y" }}</td>
                    <td style="text-align:center; background: pink;" colspan="4">{{ previous_date2|iso_to_date|date:"d M Y" }}</td>
                </tr>
                <tr>
                    <th>{% trans "Site" %}</th>
                    <th>{% trans "Student" %}</th>
                    <th>{% trans "Level" %}</th>
                    <th>{% trans "Khmer" %}</th>
                    <th>{% trans "Math" %}</th>
                    <th>{% trans "Promoted" %}</th>
                    <th>{% trans "Level" %}</th>
                    <th>{% trans "Khmer" %}</th>
                    <th>{% trans "Math" %}</th>
                    <th>{% trans "Promoted" %}</th>
                    <th>{% trans "Level" %}</th>
                    <th>{% trans "Khmer" %}</th>
                    <th>{% trans "Math" %}</th>
                    <th>{% trans "Promoted" %}</th>
                </tr>
            </thead>
            <tbody>
              {% for student_achievement, achievement in student_achievements.items %}
              <tr>
                  <td>{{ student_achievement.student_id.site }}</td>
                  <td><a href="{% url 'student_detail' student_achievement.student_id.student_id %}#academic">{{ student_achievement.student_id }} </a></td>
                  <td>{{ student_achievement.test_level | grade_by_id }}</td>
                  <td>{{ student_achievement.test_grade_khmer }}</td>
                  <td>{{ student_achievement.test_grade_math }}</td>
                  <td>{{ student_achievement.promote }}</td>
                  <td>{% if achievement.previous.test_level %} {{ achievement.previous.test_level | grade_by_id }} {% endif %}</td>
                  <td>{{ achievement.previous.test_grade_khmer }}</td>
                  <td>{{ achievement.previous.test_grade_math }}</td>
                  <td>{{ achievement.previous.promote }}</td>
                  <td>{% if achievement.previous2.test_level %} {{ achievement.previous2.test_level | grade_by_id }} {% endif %}</td>
                  <td>{{ achievement.previous2.test_grade_khmer }}</td>
                  <td>{{ achievement.previous2.test_grade_math }}</td>
                  <td>{{ achievement.previous2.promote }}</td>
              </tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-1">
        <table class="table table-responsive">
          <thead><tr><th>{% trans "Site" %}</th></tr></thead>
          <tbody>
            {% for site in sites %}
              <tr>
                <td>
                <a href = "{% url 'achievement_test' current_date previous_date previous_date2 site.school_id grade %}" role="button" class="btn btn-xs btn-success">{{site}}</a>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td>
              <a href = "{% url 'achievement_test' current_date previous_date previous_date2 0 grade %}" role="button" class="btn btn-xs btn-warning">{% trans "Clear Search" %}</a>
              </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive">
          <thead><tr><th>{% trans "Grade Level" %}</th></tr></thead>
          <tbody>
            {% for grade_id,grade in grades.items %}
              <tr>
                <td>
                <a href = "{% url 'achievement_test' current_date previous_date previous_date2 site grade_id %}" role="button" class="btn btn-xs btn-success">{% trans grade %}</a>
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td>
              <a href = "{% url 'achievement_test' current_date previous_date previous_date2 site 0 %}" role="button" class="btn btn-xs btn-warning">{% trans "Clear Search" %}</a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  var current_date = "{{current_date}}"
  var previous_date = "{{previous_date}}"
  var previous_date2 = "{{previous_date2}}"
  var grade  = "{{grade}}"
  var site = "{{site}}"

  $('#current_date').val(current_date);
  $('#previous_date').val(previous_date);
  $('#previous_date2').val(previous_date2);


  function submit()
  {
     current_date = $('#current_date').val()
     previous_date = $('#previous_date').val()
     previous_date2 = $('#previous_date2').val()

     url = '{%url 'achievement_test' %}' + current_date + "/" + previous_date + "/"+ previous_date2 + "/" + site + "/" + grade
     window.location.href = url
  }

  $(document).ready(function(){
    // enable tooltip
    $('[data-toggle="tooltip"]').tooltip()
    $('#achievementTestReportTableCurrent').DataTable({
        responsive: true,
        pageLength: 15,
        order: [[0,'asc']],
        dom: 'frtipB',
        buttons: [
          {
                   extend: 'csvHtml5',
                   text: 'TSV export <i class="fa fa-download"></i>',
                   className: 'btn btn-sm btn-success',
                   fieldSeparator: '\t',
                   extension: '.tsv',
                   title: 'achievementTestReportTableCurrent'
               },

      ]
    });
  });
</script>

{% endblock %}
