{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
  {% trans "Advanced Report" %}
{% endblock %}

{% block content %}
{% if show_data == 'yes' %}
<div class="col-md-12" id="resutl">
    <button class="btn btn-primary" id="click_back" style="margin-bottom:20px;"><i class="fa fa-chevron-left" aria-hidden="true"></i> {% trans "Go Back to Filter" %}</button>
    <br/>
    {% if students|length > 0 %}
    <div id="all_field" style="padding-bottom:10px;">

    </div>
    <div style="margin-bottom:15px;">
      <select id="field_list">
        <option selected="selected" value="">--- {% trans "Choose a Column" %} ---</option>
        {% for key,value in list_of_fields %}
          <option value="{{key}}">{% trans value %}</option>
        {% endfor %}
      </select>
      &nbsp;
      <i id="add" style="color:#398439; margin-top: -3px; vertical-align: middle;" class="fa fa-plus-circle fa-3x" aria-hidden="true"></i>
    </div>
    <button class="btn btn-primary" id="show_result" style="margin-top:15px;">{% trans "Show Result" %}</button>
    {% else %}
     <p>No matching records found</p>
    {% endif %}
    <div id="result_tbl" style="display:none;">
      <table id="tblAdvancedReport" class="table table-bordered table-striped table-hover">
        <thead></thead>
        <tbody></tbody>
      </table>
      <table style="width:100%; display:none;" class="table table-bordered table-striped table-hover" id="tbl_data">
           <thead>
             <tr>
              <th class="site">{% trans "Site" %}</th>
              <th class="id">{% trans "ID" %}</th>
              <th class="name">{% trans "Name" %}</th>
              <th class="gender">{% trans "Gender" %}</th>
              <th class="date">{% trans "Date of Intake" %}</th>
              <th class="dob">{% trans "Date of Birth" %}</th>
              <th class="address">{% trans "Address" %}</th>
              <th class="grade_appropriate">{% trans "Grade Appropriate" %}</th>

              <th class="vdp_grade">{% trans "VDP Grade" %}</th>
              <th class="classroom">{% trans "Classroom" %}</th>

              <th class="guardian1_name">{% trans "Guardian 1 Name" %}</th>
              <th class="guardian1_relationship">{% trans "Guardian 1 Relationship" %}</th>
              <th class="guardian1_phone">{% trans "Guardian 1 Phone" %}</th>
              <th class="guardian1_profession">{% trans "Guardian 1 Profession" %}</th>
              <th class="guardian1_employment">{% trans "Guardian 1 Employment" %}</th>

              <th class="guardian2_name">{% trans "Guardian 2 Name" %}</th>
              <th class="guardian2_relationship">{% trans "Guardian 2 Relationship" %}</th>
              <th class="guardian2_phone">{% trans "Guardian 2 Phone" %}</th>
              <th class="guardian2_profession">{% trans "Guardian 2 Profession" %}</th>
              <th class="guardian2_employment">{% trans "Guardian 2 Employment" %}</th>

              <th class="minors">{% trans "Minors" %}</th>
              <th class="minors_in_public_school">{% trans "Minors in Public School" %}</th>
              <th class="minors_in_other_school">{% trans "Minors in Other School" %}</th>
              <th class="minors_working">{% trans "Minors Working" %}</th>
              <th class="minors_profession">{% trans "Minors Profession" %}</th>
              <th class="minors_encouraged">{% trans "Minors Encouraged" %}</th>
              <th class="minors_training">{% trans "Minors Training" %}</th>
              <th class="minors_training_type">{% trans "Minors Training Type" %}</th>

              <th class="enrolled">{% trans "Enrolled" %}</th>
              <th class="grade_current">{% trans "Current Grade in Public School" %}</th>
              <th class="grade_last">{% trans "Last Grade in Public School" %}</th>
              <th class="public_school_name">{% trans "Public School Name" %}</th>
              <th class="reasons">{% trans "Reasons not Attending School" %}</th>

              <th class="notes">{% trans "Notes" %}</th>

             </tr>
           </thead>
           <tbody>
             {% for student in students %}
             <tr>
               <td class="site">{{student.site}}</td>
               <td class="id">{{student.student_id}}</td>
               <td class="name">{{student.name}}</td>
               <td class="gender">{{student.gender}}</td>
               <td class="date">{{student.date}}</td>
               <td class="dob">{{student.dob}}</td>
               <td class="address">{{student.getRecentFields.address}}</td>
               <td class="grade_appropriate">{{student.grade_appropriate}}</td>

               <td class="vdp_grade">{{student.current_vdp_grade|grade_by_id}}</td>
               <td class="classroom">
                 {% for classroom in student|student_classroom%}
                    {{classroom.classroom_id}},&nbsp;
                 {% endfor%}
               </td>

               <td class="guardian1_name">{{student.getRecentFields.guardian1_name}}</td>
               <td class="guardian1_relationship">{{student.getRecentFields.guardian1_relationship}}</td>
               <td class="guardian1_phone">{{student.getRecentFields.guardian1_phone}}</td>
               <td class="guardian1_profession">{{student.getRecentFields.guardian1_profession}}</td>
               <td class="guardian1_employment">{{student.getRecentFields.guardian1_employment}}</td>

               <td class="guardian2_name">{{student.getRecentFields.guardian2_name}}</td>
               <td class="guardian2_relationship">{{student.getRecentFields.guardian2_relationship}}</td>
               <td class="guardian2_phone">{{student.getRecentFields.guardian2_phone}}</td>
               <td class="guardian2_profession">{{student.getRecentFields.guardian2_profession}}</td>
               <td class="guardian2_employment">{{student.getRecentFields.guardian2_employment}}</td>

               <td class="minors">{{student.getRecentFields.minors}}</td>
               <td class="minors_in_public_school">{{student.getRecentFields.minors_in_public_school}}</td>
               <td class="minors_in_other_school">{{student.getRecentFields.minors_in_other_school}}</td>
               <td class="minors_working">{{student.getRecentFields.minors_working}}</td>
               <td class="minors_profession">{{student.getRecentFields.minors_profession}}</td>
               <td class="minors_encouraged">{{student.getRecentFields.minors_encouraged}}</td>
               <td class="minors_training">{{student.getRecentFields.minors_training}}</td>
               <td class="minors_training_type">{{student.getRecentFields.minors_training_type}}</td>
               {% with pschool=student.get_pschool %}
               <td class="enrolled">{{pschool.get_status_display}}</td>
               <td class="grade_current">
                 {% if pschool.grade == None %}
                  N/A
                 {%else%}
                  {{pschool.grade | grade_by_id}}
                 {%endif%}
               </td>
               <td class="grade_last">
                 {% if pschool.last_grade == None %}
                  N/A
                 {%else%}
                  {{pschool.last_grade | grade_by_id}}
                 {%endif%}
               </td>
               <td class="public_school_name">{{pschool.school_name}}</td>
               <td class="reasons">{{pschool.reasons}}</td>
               {% endwith%}
               <td class="notes">
                   {% for note in student.getNotes %}
                     {{note.date|date:'d N Y'}} : {{note.note}}
                     <br/>
                   {% endfor %}
               </td>
             </tr>
             {% endfor %}
           </tbody>
        </table>
    </div>
</div>
{% endif %}
 <form class="form-horizontal" action = "{% url 'advanced_report' %}" method="post">
 <div id="search_form" class="col-md-12" style="display:{% if show_data == 'yes' %}none{% else %}block{% endif %};">
     {% csrf_token %}
     <div class="col-md-6">
     <table class="search">
       <tr>
         <td>{% trans "Name" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="name"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "ID" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="studnet_id"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "School" %}</td>
         <td>
           <select name="school" class="form-control input-sm">
             <option value="" selected="selected">{% trans "Select Site" %}</option>
             {% for school in schools %}
             <option value="{{school.school_id}}">{{school}}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Date of Intake" %}</td>
         <td>
           <input type="date" class="form-control input-sm" name="intake_date"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Date of Intake" %} ({% trans "year" %})</td>
         <td>
           <input type="number" class="form-control input-sm" name="intake_date_year"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Date of Birth" %}</td>
         <td>
           <input type="date" class="form-control input-sm" name="dob"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Date of Birth" %} ({% trans "year" %})</td>
         <td>
           <input type="number" class="form-control input-sm" name="dob_year"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Gender" %}</td>
         <td>
           <select name="gender" class="form-control input-sm">
             <option value="" selected="selected">{% trans "Select Gender" %}</option>
             {% for key,value in genders.iteritems %}
             <option value="{{key}}">{% trans value %}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Address" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="address"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 1 Name" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="guardian1_name"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 1 Relationship" %}</td>
         <td>
           <select name="guardian1_relationship" class="form-control input-sm">
             <option value="" selected="selected">{% trans "Select Guardian 1 Relationship" %}</option>
             {% for id,relationship in relationships.items %}
             <option value="{{id}}">{% trans relationship %}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 1 Phone" %}</td>
         <td>
           <input type="number" class="form-control input-sm" name="guardian1_phone"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 1 Profession" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="guardian1_profession" id="guardian1_profession"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 1 Employment" %}</td>
         <td>
           <select name="guardian1_employment" class="form-control input-sm">
             <option value="" selected="selected">{% trans "Select Guardian 1 Employment" %}</option>
             {% for id,employment in employments.items %}
             <option value="{{id}}">{% trans employment %}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 2 Name" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="guardian2_name"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 2 Relationship" %}</td>
         <td>
           <select name="guardian2_relationship" class="form-control input-sm">
             <option value="" selected="selected">{% trans "Select Guardian 2 Relationship" %}</option>
             {% for id,relationship in relationships.items %}
             <option value="{{id}}">{% trans relationship %}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 2 Phone" %}</td>
         <td>
           <input type="number" class="form-control input-sm" name="guardian2_phone"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 2 Profession" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="guardian2_profession" id="guardian2_profession"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Guardian 2 Employment" %}</td>
         <td>
           <select name="guardian2_employment" class="form-control input-sm">
             <option value="" selected="selected">{% trans "Select Guardian 2 Employment" %}</option>
             {% for id,employment in employments.items %}
             <option value="{{id}}">{% trans employment %}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Minors" %}</td>
         <td>
           <input type="number" class="form-control input-sm" name="minors"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Minors In Public School" %}</td>
         <td>
           <input type="number" class="form-control input-sm" name="minors_in_public_school"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Minors In Other School" %}</td>
         <td>
           <input type="number" class="form-control input-sm" name="minors_in_other_school"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Minors Working" %}</td>
         <td>
           <input type="number" class="form-control input-sm" name="minors_working"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Minors Profession" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="minors_profession" id="minors_profession"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Minors Encouraged" %}</td>
         <td>
           <select name="minors_encouraged" class="form-control input-sm">
             <option value="" selected="selected">{% trans "Select Minors Encouraged" %}</option>
             {% for id,yn in yns.items %}
             <option value="{{id}}">{% trans yn %}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Minors Training" %}</td>
         <td>
           <select name="minors_training" class="form-control input-sm">
             <option value="" selected="selected">{% trans "Select Minors Training" %}</option>
             {% for id,yn in yns.items %}
             <option value="{{id}}">{% trans yn %}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Minors Training Type" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="minors_training_type" id="minors_training_type"/>
         </td>
       </tr>
     </table>
   </div>
   <div class="col-md-6">
     <table class="search">
       <tr>
         <td>{% trans "Classroom" %}</td>
         <td>
           <select name="classroom" class="form-control input-sm" id="site">
             <option value="" selected="selected">{% trans "Select Classroom" %}</option>
             {% for classroom in classrooms %}
             <option value="{{classroom.classroom_id}}">{{classroom}}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "VDP Grade" %}</td>
         <td>
           <select name="vdp_grade" class="form-control input-sm">
             <option value="" selected="selected">{% trans "Select VDP Grade" %}</option>
             {% for id,grade in grades.items %}
               <option value="{{id}}">{{grade}}</option>
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Enrolled" %}</td>
         <td>
           <select name="enrolled" class="form-control input-sm" id="search_enrolled">
             <option value="" selected="selected">{% trans "Select Enrolled" %}</option>
             {% for id,yn in yns.items %}
              {% if id != 'NA'%}
              <option value="{{id}}">{% trans yn %}</option>
              {% endif %}
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Current Grade in Public School" %}</td>
         <td>
           <select name="grade_current" class="form-control input-sm" id="search_c_g_pschool">
             <option value="" selected="selected">{% trans "Select Current Grade in Public School" %}</option>
             {% for id,grade in grades.items %}
              {% if id >= 0 and id <= 12 %}
               <option value="{{id}}">{{grade}}</option>
              {% endif %}
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Last Grade in Public School" %}</td>
         <td>
           <select name="grade_last" class="form-control input-sm" id="search_l_g_pschool">
             <option value="" selected="selected">{% trans "Select Last Grade in Public School" %}</option>
             {% for id,grade in grades.items %}
              {% if id >= 0 and id <= 12 %}
               <option value="{{id}}">{{grade}}</option>
              {% endif %}
             {% endfor %}
           </select>
         </td>
       </tr>
       <tr>
         <td>{% trans "Public School Name" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="public_school_name" id="search_pschool_name"/>
         </td>
       </tr>
       <tr>
         <td>{% trans "Reasons not Attending School" %}</td>
         <td>
           <input type="text" class="form-control input-sm" name="reasons" id="search_reasons"/>
         </td>
       </tr>
       <tr>
         <td colspan="2">
           <input type="submit" class="btn btn-success" style="text-align:right" value="{% trans 'Submit' %}"/>
         </td>
       </tr>
     </table>
   </div>
 </div>
 </form>
  <style>
    .search td{
      padding: 5px;
    }
    .input-sm {
      height: 25px !important;
    }
    /*#result_tbl th, #result_tbl td{
      display: none;
    }*/
    .tblcheckbox tr td {
    padding-right: 20px;
    }
    .button_field{
      color: #5cb85c;
      background-color: #fff;
      border-color: #5cb85c;
      margin-right:4px;
    }
    .hide{
      display: none;
    }
  </style>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  var search_enrolled = $("#search_enrolled").val()
  $("#search_c_g_pschool").closest('tr').hide();
  $("#search_l_g_pschool").closest('tr').hide();
  $("#search_reasons").closest('tr').hide();
  $("#search_pschool_name").closest('tr').hide();
  if (search_enrolled=='Y'){
    $("#search_c_g_pschool").closest('tr').show();
    $("#search_pschool_name").closest('tr').show();
    $("#search_l_g_pschool").closest('tr').hide();
    $("#search_reasons").closest('tr').hide();
  }
  else if (search_enrolled=='N') {
    $("#search_l_g_pschool").closest('tr').show();
    $("#search_reasons").closest('tr').show();
    $("#search_c_g_pschool").closest('tr').hide();
    $("#search_pschool_name").closest('tr').hide();

  }else{
    $("#search_c_g_pschool").closest('tr').hide();
    $("#search_pschool_name").closest('tr').hide();
    $("#search_l_g_pschool").closest('tr').hide();
    $("#search_reasons").closest('tr').hide();
  }
  $("#search_enrolled").click(function(){
    var search_enrolled = $('#search_enrolled').val()
    if (search_enrolled=='Y'){
      $("#search_c_g_pschool").closest('tr').show();
      $("#search_pschool_name").closest('tr').show();
      $("#search_l_g_pschool").closest('tr').hide();
      $("#search_reasons").closest('tr').hide();
    }
    else if (search_enrolled=='N') {
      $("#search_l_g_pschool").closest('tr').show();
      $("#search_reasons").closest('tr').show();
      $("#search_c_g_pschool").closest('tr').hide();
      $("#search_pschool_name").closest('tr').hide();
    }else{
      $("#search_c_g_pschool").closest('tr').hide();
      $("#search_pschool_name").closest('tr').hide();
      $("#search_l_g_pschool").closest('tr').hide();
      $("#search_reasons").closest('tr').hide();
    }
  });

  $('#field_list').select2({
    placeholder: "---Select a Column---",
  });

  var data_guardian1_profession = {{ data_guardian1_profession | safe }}
  var data_guardian2_profession = {{ data_guardian2_profession | safe }}
  var data_minors_profession = {{ data_minors_profession | safe }}
  var data_minors_training_type = {{ data_minors_training_type | safe }}
  var data_reasons = {{ data_reasons | safe }}
  var data_public_schools = {{ data_public_schools | safe}}
  $("#guardian1_profession" ).autocomplete({
      source: data_guardian1_profession
    });
  $("#guardian2_profession" ).autocomplete({
      source: data_guardian2_profession
    });
  $("#minors_profession" ).autocomplete({
        source: data_minors_profession
    });
  $("#minors_training_type" ).autocomplete({
        source: data_minors_training_type
    });
  $("#search_reasons" ).autocomplete({
        source: data_reasons
  });
  $("#search_pschool_name" ).autocomplete({
        source: data_public_schools
  });

});
$("#add").click(function(){
  key = $("#field_list :selected").val()
  value = $("#field_list :selected").text();
  if (key!="" && key !=undefined){
    selected_field = $('#all_field').has('button[id="'+key+'"]')
    if (selected_field.length){
       alert('You already selected this column name!');
     }
     else{
       $('#all_field').append("<button role='button' class='field btn button_field' type='button' id='"+key+"''>"+value+" <a href='#' style='display:none; color:red;' class='remove_icon'><span class='glyphicon glyphicon-remove'></span></a></button>")
       //  reset selected to default
       $('#field_list').val('').trigger('change')
     }
  }
});
//show resutl
$("#show_result").click(function(){
    var button = $(".field");
    if(button.length){
        $('#result_tbl').show();
        // remove datatable from table
        if ( $.fn.DataTable.isDataTable( '#tblAdvancedReport' ) ) {
            $("#tblAdvancedReport").DataTable().destroy();
        }
        // clear tr in table
        $("#tblAdvancedReport tr").remove()

        var tbl = $('#tbl_data');
        var rows = $('tr', tbl);
        var cols;
        var row_tblAdvancedReport, this_row, btn, class_name, td_th_tblAdvancedReport;

        rows.each(function(i,obj){
          row_tblAdvancedReport = $("<tr></tr>");
          cols = $(this).children('th, td');
          this_row= $(this)
          button.each(function() {
            btn = $(this)
            class_name = btn.attr("id");
            td_th_tblAdvancedReport = this_row.children("."+class_name+"")
            td_th_tblAdvancedReport.each(function(j, obj){
                if(j==0){
                  // copy match th or td to new table
                  $(this).clone().appendTo(row_tblAdvancedReport);
                }
            });
          });

          // add row to table (if the first row at to thead, else add to tbody)
          if(i == 0){
              $("#tblAdvancedReport thead").append(row_tblAdvancedReport);
          }
          else{
              $("#tblAdvancedReport tbody").append(row_tblAdvancedReport);
          }
        });
        // add datatable to table
        var table = $('#tblAdvancedReport').DataTable({
            responsive: true,
            pageLength: 10,
            order: [[0,'asc']],
            dom: 'frtipB',
            buttons: [
              {
                       extend: 'csvHtml5',
                       text: 'TSV export <i class="fa fa-download"></i>',
                       className: 'btn btn-sm btn-success',
                       fieldSeparator: '\t',
                       extension: '.tsv',
                       title: 'AdvancedReport'
                   },

           ]
        });
    }
    else{
      alert("You didn't select any column to show!");
    }
});
$("#click_back").click(function(){
    $('#resutl').hide();
    $('#search_form').show();
});
// show/hide remove icon in button field
$("#all_field").on({
    mouseenter: function () {
      $(this).children("a").show();
    },
    mouseleave:function () {
       $(this).children("a").hide();
    }
},'button');

$(document).on('click','.field a',function(e){
  // remove button
  $(this).parent().remove();
});
</script>

{% endblock %}
