{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Modify attendance calendar for" %}:
{% endblock %}

{% block content %}
<div class="col-md-9">
  <table id="classroomDataTable" class="table table-bordered table-hover">
    <thead>
      <tr><th>{% trans "Site" %}</th><th>{% trans "Grade" %}</th><th>{% trans "Description" %}</th><th>{% trans "Edit" %}</th></tr>
    </thead>
    <tbody>
      {% for classroom in classrooms %}
        <tr>
          <td>{{ classroom.school_id }}</td>
          <td>{{ classroom.get_cohort_display }}</td>
          <td>{{ classroom.classroom_number }}</td>
          {% if classroom.attendance_calendar %}
            <td><a href = "{% url 'attendance_days' classroom.attendance_calendar.classroom_id attendance_date %}" role="button" class="btn btn-xs btn-danger">{% trans "Modify Master Attendance Calendar" %} ({{ classroom.attendance_calendar }})</a></td>
          {% else %}
            <td><a href = "{% url 'attendance_days' classroom.classroom_id attendance_date %}" role="button" class="btn btn-xs btn-success">{% trans "Modify Attendance Calendar" %}</a></td>
          {% endif %}
      {% endfor %}
      </tbody>
  </table>
</div>

<div class="col-md-3">
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  $('#classroomDataTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc'],[1,'asc'],[2,'asc']],
      columnDefs: [
       { type: 'jethro', targets: 1 }
     ]
  });
});
</script>

{% endblock %}
