{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
  {%trans "Attendance taken/available to be taken on" %} {{ attendance_date }}
{% endblock %}

{% block content %}

<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Grade" %}</th>
          <th>{% trans "Description"%}</th>
          <th>{% trans "Present" %}</th>
          <th>{% trans "Absent" %}</th>
          <th>{% trans "Take Attendance" %}</th></tr></thead>
        <tbody>
          {% for classroom,attendance in classroomattendance.items %}
          <tr>
              <td>{{ classroom.school_id }}</td>
              <td>{{ classroom.get_cohort_display }}</td>
              <td>{{ classroom.classroom_number }}</td>
              <td>{{ attendance.present }}</td>
              <td>{{ attendance.absent }}</td>
              {% if attendance %}
              <td><a href = "{% url 'take_class_attendance' classroom.classroom_id attendance_date %}" role="button" class="btn btn-xs btn-success">{% trans "Taken" %}</a></td>
              {% else %}
              <td><a href = "{% url 'take_class_attendance' classroom.classroom_id attendance_date %}" role="button" class="btn btn-xs btn-danger">{% trans "Take Attendance" %}</a></td>
              {% endif %}
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>


    <div class="col-md-3">
        <form method="post" action="{% url 'daily_attendance_report' %}">
          {% csrf_token %}
          <input type="date" name="attendance_date" class="form-control" id="datePicker"/>
        </form>
    </div>


{% endblock %}

{% block script %}
<script type="text/javascript">
$('#datePicker').val('{{attendance_date}}');
$(function() {
      $('#datePicker').change(function() {
          //split on /
          url = '{%url 'daily_attendance_report' %}' + $(this).val()
          window.location.href = url
      });
    });

$(document).ready(function(){
  $('#attendanceReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc'],[1,'asc'],[2,'asc']],
     dom: 'frtipB',
     buttons: [
       {
                extend: 'csvHtml5',
                text: 'TSV export <i class="fa fa-download"></i>',
                className: 'btn btn-sm btn-success',
                fieldSeparator: '\t',
                extension: '.tsv',
                title: 'Attendance'
            },

   ]
  });
});
</script>

{% endblock %}
