{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Catch up Student Academic History Report" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <form class="form-inline" role="form" method="post" action="{% url 'catchup_academic_history_report' %}">
    {% csrf_token %}
    <div class="row" >
      <div class="col-md-4">
        <div class="row pull-left">
          <select name="site" class="form-control">
            <option>{% trans "Select Site" %}</option>
            {% for site in sites %}
              <option value="{{site}}">{{site}}</option>
            {% endfor%}
            <option  value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
          </select>    

          <select name="classroom" class="form-control">
            <option value="None" selected="selected">{% trans "Select Classroom" %}</option>
            {% for value,key in grades.items %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor%}
            <option value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
          </select>
        </div>
      </div>
      <div class="col-md-5" > 
        <div class="row pull-right">
          From  <input type="date" name="min" id="min" class="form-control"/>
          To  <input type="date" name="max" id="max" class="form-control"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row pull-right">
          <input type="submit" name="search" id="search" class="form-control btn btn-primary"  id="#submit" value="{% trans 'search' %}"/>
          <input type="submit" class="form-control btn btn-primary"  id="#submit" value="{% trans 'clear' %}"/>
          <input type="submit" class="form-control btn btn-primary"  id="export-btn" value="{% trans 'Export' %}"/>
          
          
      </div>
    </div>
   
  </form>
</div> 
<br>

<div class="col-md-13">  
      <table class="table table-bordered table-striped table-hover" id="StudentAcademicTable"
      data-academic='{% for a in ac %}{"gender":"{{ a.gender }}","school_name":"{{ a.school_name }}","test_date":"{{ a.test_date }}","test_grade_math":"{{ a.test_grade_math }}","test_grade_khmer":"{{ a.test_grade_khmer }}","activity_test":"{{ a.activity_test }}","quiz":"{{ a.quiz }}","monthly_test":"{{ a.monthly_test }}","middle_test":"{{ a.middle_test }}","final_test":"{{ a.final_test }}","student_id":"{{ a.student_id }}","name":"{{ a.name }}","test_level":"{{ a.test_level }}","promote":"{{ a.promote }}"},{% endfor %}'>
      <thead><tr>
        <th>{% trans "Site" %}</th>
        <th>{% trans "Test Grade" %}</th>          
        <th>{% trans "Student" %}</th>
        <th>{% trans "Gender" %}</th>
        <th>{% trans "Test Date" %}</th>
        <th>{% trans "Math" %}</th>
        <th>{% trans "Khmer" %}</th>
        <th>{% trans "Activity Test" %}</th>
        <th>{% trans "Quiz" %}</th>
        <th>{% trans "Monthly Test" %}</th>
        <th>{% trans "Midterm Test" %}</th>
        <th>{% trans "Final Test" %}</th>
        <th>{% trans "Result" %}</th>
        <th>{% trans "Total" %}</th>    
                 
        
         </tr></thead>
      <tbody>
         
      </tbody>
      </table>
      
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>
<script type = "text/JavaScript" src = "https://underscorejs.org/underscore-min.js"></script>
<script src="/static/mande/js/jquery.table2excel.js"></script>

<script type="text/javascript">
 
var table = null
function filterBySite(search_value){
  table.columns(0).search(search_value).draw();
  $("#site").val(search_value);
  $("#site").show();
}
function ClearFilterBySite(){
  table.columns(0).search('').draw();
  $("#site").val("Site");
  $("#site").hide();
}
function filterByGrade(search_value){
  if (search_value=='English' || search_value=='Vietnamese'){
      table.columns(1).search("^"+search_value[0],true,false).draw();
  }
  else{
      table.columns(1).search("^"+search_value,true,false).draw();
  }
  $("#grade").val(search_value);
  $("#grade").show();
}
function ClearFilterByGrade(){
  table.columns(1).search('').draw();
  $("#grade").val("Grade");
  $("#grade").hide();
}

function loadData(){
    var url = $(document).find(url);
    console.log(url);
    url = '{%url 'catchup_academic_history_report' %}' 
  $.ajax({    
    url: url ,
    type: 'GET',
    
    data: {
      'min': $("input[name='min']").val(),
      'max': $("input[name='max']").val()
    }
  })
  .done(function(academics) {
    var groups = _.uniq(academics, x => x.student_id); 
    var results = [];
    _.each(groups, function(group, index, groups) {
      var filters = _.filter(academics, function(academic, index, academics){
        return academic.student_id == group.student_id;
      });
      var one = 0;
      var zero = 0;
      _.each(filters, function(filter, index, filters) {
        (filter.promote == "1") ? one++: zero++;
        results.push({
          "gender": filter.gender,
          "school_name": filter.school_name,
          "test_date": filter.test_date,
          "test_grade_math": filter.test_grade_math,
          "test_grade_khmer": filter.test_grade_khmer,
          "activity_test": filter.activity_test,
          "quiz": filter.quiz,
          "monthly_test": filter.monthly_test,
          "middle_test": filter.middle_test,
          "final_test": filter.final_test,
          "student_id": filter.student_id,
          "name": filter.name,
          "test_level": filter.test_level,
          "promote": filter.promote,
          "total": null
        });
        if(_.size(filters) == index+1){
          results.push({
            "gender": filter.gender,
            "school_name": filter.school_name,
            "test_date": filter.test_date,
            "test_grade_math": filter.test_grade_math,
            "test_grade_khmer": filter.test_grade_khmer,
            "activity_test": filter.activity_test,
            "quiz": filter.quiz,
            "monthly_test": filter.monthly_test,
            "middle_test": filter.middle_test,
            "final_test": filter.final_test,
            "student_id": filter.student_id,
            "name": filter.name,
            "test_level": filter.test_level,
            "promote": filter.promote,
            "total":  "<b> {% trans "Total"%} &nbsp;&nbsp;&nbsp;= &nbsp; &nbsp;"+one + "&nbsp;{% trans "Pass"%} &nbsp;/&nbsp;" +  zero+ "&nbsp;{% trans "Fail"%} &nbsp;&nbsp; &nbsp;&nbsp; </b>"
          });
        }
      });
    });
    
    table = $('#StudentAcademicTable').DataTable({
      data: results,
      responsive: true,
      bDestroy: true,
      lengthMenu: [
        [25, 50, 100, -1],
        [25, 50, 100,'All'],
      ],
      order: [[2,'asc']],
      columns: [
        { data: 'school_name' },
        {
          data: 'test_level',
          render:function(data){
            var grade = [];
            grade[-3] = 'K3';
            grade[-2] = 'K4';
            grade[-1] = 'K5';
            grade[1] = 'G1';
            grade[2] = 'G2';
            grade[3] = 'G3';
            grade[4] = 'G4';
            grade[5] = 'G5';
            grade[6] = 'G6';
            grade[51] = 'E1';
            grade[52] = 'E2';
            grade[53] = 'E3';
            grade[54] = 'E4';
            grade[55] = 'E5';
            grade[0] = '';
            return grade[data];       
          }
        },
        {
          data: 'student_id',
          render:function(data, type, row, meta){
            var url = "{% url 'student_detail' 123456 %}";
            return '<a href='+url.replace(/123456/g, row.student_id)+'>'+ row.student_id + ' - '+row.name+'</a>';
          }
        },
        { data: 'gender' },
        { data: 'test_date' },
        { data: 'test_grade_math' },           
        { data: 'test_grade_khmer' }, 
        { data: 'activity_test' },           
        { data: 'quiz' },           
        { data: 'monthly_test' },           
        { data: 'middle_test' },           
        { data: 'final_test' },
        {
          data: 'promote',
          render:function(data){
            return (data == "1") ? "Pass":'Fail';
          }
        },
        { data: 'total', visible:false },
      ],
      drawCallback: function(nRow, aData, iDisplayIndex){      
        var api = this.api();
        var rows = api.rows( {page:'current'} ).nodes();

        api.column(13, {page:'current'} ).data().each(function(total, i) {
          if(total){
            $(rows).eq(i).html('<td colspan="13"  class="text-right">'+total+'</td >');
          }
        });
      }
    });
  });
}

$(document).ready(function(){
  $("#site").hide();
  $("#grade").hide();
  loadData();
 
  $("select[name='site']").on( "change", function() {
    //alert($(this).find(":selected").val());
    if($(this).val()=="Clear_Search") {
      ClearFilterBySite($(this).val());
      }
    else{
      filterBySite($(this).val());      
    }    
  });
  $("select[name='classroom']").on( "change", function() {
    //alert($(this).find(":selected").val());

    if($(this).val()=="Clear_Search") {
      ClearFilterByGrade($(this).val());($(this).val());      
    }
    else{
      filterByGrade($(this).val());      
    }  
  });
  $('#export-btn').on('click', function(e){
    alert ("ok");
    e.preventDefault();    
    $("#StudentAcademicTable").table2excel({      
      exclude: ".excludeThisClass",
      name: "Student-fail-pass-list"
    });
  });
  $('#search').on('click', function(e){
    e.preventDefault();
    //alert ("ok");
    loadData();
  });
  
});

</script>
{% endblock %}
