{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
{% trans "Classroom Enrollment" %}
{% if classroom != None %}
<small>{% blocktrans %}Enrolling students in {{classroom}}{% endblocktrans %} </small>
{% endif %}
{% endblock %}

{% block content %}

<div class="col-md-12">
  <form action = "{% url 'classroomenrollment_form' %}" method="post">
      {% csrf_token %}
      <div class = "col-md-4">
      {% bootstrap_field form.classroom_id placeholder=False %}
      {% bootstrap_field form.enrollment_date placeholder=False %}

      <label for "selectedstudents">{% trans "Currently Selected Students" %}</label>
      <ol id="selectedstudents">
      </ol>

      </div>
      {% if classroom %}
        <div class = "col-md-8">
        {{form.student_id }}
        </div>
      {% endif %}
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary">{% trans "Enroll" %}</button>
      </div>
  </form>


</div>
{% if classroom %}
<div class="col-md-12">
  <h2>{% trans "Students Currently Enrolled in" %} {{classroom}}</h2>
    <table id="enrolled_students" class="table table-border table-striped table-hover">
      <thead>
        <tr><th>{% trans "Student" %}</th><th>{% trans "Gender" %}
</th><th>{% trans "Enrollment Date" %}</th><th>{% trans "Drop Date" %}</th></tr>
      </thead>
      {% for student in enrolled_students %}
      <tr>
        <td>{{student.student_id}}</td>
        <td>{{student.student_id.gender}}</td>
        <td>{{student.enrollment_date}}</td>
        {% if student.drop_date %}
        <td>{{student.drop_date}}</td>
        {% else %}
        <td><a href="{% url 'classroomenrollment_individual' classroom.classroom_id student.student_id.student_id %}?next={% url 'classroomenrollment_form' classroom.classroom_id %}" class="btn btn-xs btn-danger" role="button">{% trans "Drop this class" %}</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
</div>
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript">

$(document).ready(function(){
  $('#id_student_id').DataTable({
      responsive: true,
      pageLength: 5,
  });

  $('#enrolled_students').DataTable({
      responsive: true,
      pageLength: 25,
  });

});
$('#id_classroom_id').change(function(){
  var selected = $('#id_classroom_id').val()
  if(selected) url = '{% url 'classroomenrollment_form' %}'+selected+'/'
  window.location.href=url
});
$("[type=checkbox]").change(function(){
      // varible to hold string
      if($(this).is(':checked')){
          $('#selectedstudents').append('<li id="'+this.id+'student">'+$('label[for="'+this.id+'"]').text()+'</li>');
      } else {
          $('#'+this.id+'student').remove();
      }
});
$('#id_classroom_id').select2({
  placeholder: "---Select a Classroom---",
});
</script>

{% endblock %}
