{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
{% trans "Dropping student from" %}
{% endblock %}

{% block content %}

<div class="col-md-3"></div>
<div class="col-md-6">
<form method="post">
    {% bootstrap_form form set_placeholder=False %}
    {% csrf_token %}
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
<div class="col-md-3"></div>
<script>
  document.getElementById("id_classroom_id").disabled=true;
  document.body.innerHTML = document.body.innerHTML.replace("from", "from " + document.getElementById("id_classroom_id").options[document.getElementById("id_classroom_id").selectedIndex].text);
</script>
{% endblock %}
