{% extends "base.html" %}
{% load i18n%}
{% load bootstrap3 %}
{% block title %}
{% trans "Manage Classrooms" %}
{% if classroom_id > 0 %}
<small>{% trans "editing" %} {{selected_classroom}}</action>
{% else %}
<small>{% trans "adding a classroom" %}</small>
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-9">
  <table id="classroomDataTable" class="table table-bordered table-hover">
    <thead>
      <tr><th>{% trans "Site" %}</th><th>{% trans "Grade" %}</th><th>{% trans "Description" %}</th><th>{% trans "Active" %}</th><th>{% trans "Edit" %}</th></tr>
    </thead>
    <tbody>
      {% for classroom in current_classrooms %}
        <tr>
          <td>{{ classroom.school_id }}</td>
          <td>{{ classroom.get_cohort_display }}</td>
          <td>{{ classroom.classroom_number }}</td>
          <td>{{ classroom.active }}</td>
          <td><a href = "{% url 'classroom_form' %}{{classroom.classroom_id}}" role="button" class="btn btn-xs btn-success">{% trans "Edit" %}</a></td>
      {% endfor %}
      </tbody>
  </table>
</div>

<div class="col-md-3">
<form action = "{% url 'classroom_form' classroom_id %}" method="post">

    {% bootstrap_form form set_placeholder=False %}
    {% csrf_token %}
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
      {% if classroom_id > 0 %}
        <a href = "{% url 'classroom_form' %}" class="btn btn-success" role="button" id="add_new_class">{% trans "Add a new classroom" %}</a>
      {%endif%}
  </div>
</form>
</div>
{% if enrollments != None %}
<div class = "col-md-4">
  <h3>{% trans "Currently Enrolled Students" %}</h3>
  <ul>
    {% for enrollment in enrollments %}
      <li>{{enrollment.student_id}}</li>
    {% endfor %}
  </ul>
</div>
{% endif %}


{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  $('#classroomDataTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc'],[1,'asc'],[2,'asc']],
      columnDefs: [
       { type: 'jethro', targets: 1 }
     ]
  });
});
</script>

{% endblock %}
