{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load mandefilters %}
{% block title %}
{% trans "Manage Classroom Assignments" %}
{% if current_academic_year and current_academic_year != '0'  %}
    ({{current_academic_year | get_academic_year}})
{% endif %}
{% endblock %}

{% block content %}

<div class="col-md-12">
    <div class="col-md-3">
      <h3>{% trans "Unassigned Classrooms" %}</h3>
      <ul style="color:red;">
        {% for class in unassigned_classrooms %}
          <li>{{ class }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-6">
    <form action = "{% url 'classroomteacher_form' current_academic_year teacher_id %}" method="post">

        {% bootstrap_form form set_placeholder=False %}
        {% csrf_token %}
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </form>
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="col-md-9">
  <h3>{% trans "Current Assignments" %}</h3>
    <table class="table table-striped table-hover" id="classroomDataTable">
    <thead>
      <tr><th>{% trans "Site" %}</th><th>{% trans "Academic Year" %}</th><th>{% trans "Teacher" %}</th><th>{% trans "Classroom" %}</th></tr>
    </thead>
    <tbody>
      {% for class in current_assignments %}
      <tr>
          <td>{{ class.classroom_id.school_id }}</td>
          <td>{{ class.year | get_academic_year }}</td>
          <td>{{ class.teacher_id }}</a></td>
          <td>{{ class.classroom_id }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
   </table>
</div>
<div class="col-md-3" style="padding-top:30px;">
    <ul style="list-style:none; padding:0;">
      <li>
          {% trans "Filter by Academic Year" %}
      </li>
      <li>
          <select class="form-control" id="select_year">
              <option value="0">{% trans "All" %}</option>
              {% for year,academic_year in academic_years %}
                  <option value="{{year}}">{{academic_year}}</option>
              {% endfor%}
          </select>
      </li>
</div>

{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  $("#select_year").val({{current_academic_year}});
  var teacher_id = '{{teacher_id}}';

  $('#select_year').on('change', function() {
      var selected_year = this.value;
      if (teacher_id && teacher_id !="0"){
          url = '{%url 'classroomteacher_form' %}'+ selected_year + '/' + teacher_id
      }
      else {
          url = '{%url 'classroomteacher_form' %}'+ selected_year

      }
      window.location.href = url;
  })

  $('#classroomDataTable').DataTable({
      responsive: true,
      pageLength: 25,
  });
  $('#id_classroom_id').select2({
    placeholder: "---Select a Classroom---",
  });
  $('#id_teacher_id').select2({
    placeholder: "---Select a Teacher---",
  });
});
</script>

{% endblock %}
