{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Class List" %}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="classList">
        <thead><tr>
          <th style="width:7em;">{% trans "Site" %}</th>
          <th>{% trans "Grade" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Teacher" %} ({{academic_year | get_academic_year}})</th>
          <th>{% trans "Students" %}</th>
          <th>% {% trans "Female" %}</th>
        <!--  <th>Enroll Students</th> -->
        <tbody>
          {% for classroom,class in class_list.items %}
          <tr>
              <td>{{ class.site }}</td>
              <td>{{ class.target_grade|grade_by_id }}</td>
              <td>{{ class.classroom_number }}</td>
              <td>{% for teacher in class.teacher%} {{teacher.teacher_id.name}}<br/>{% endfor %}</td>
              <td>{{ class.students}}</td><td> {% widthratio class.female class.students 100 %}%</td>
          <!--    <td><a href="{% url 'classroomenrollment_form' classroom.classroom_id %}" role="button" class="btn btn-xs btn-success">Enroll students in this course</a> !-->

          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
<div class="col-md-3"></div>

{% endblock %}

{% block script %}
<script type="text/javascript">

$(document).ready(function(){
  $('#classList').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc'],[1,'asc'],[2,'asc']],
      columnDefs: [
       { type: 'jethro', targets: 1 }
     ],
     dom: 'frtipB',
     buttons: [
       {
                extend: 'csvHtml5',
                text: 'TSV export <i class="fa fa-download"></i>',
                className: 'btn btn-sm btn-success',
                fieldSeparator: '\t',
                extension: '.tsv',
                title: 'ClassList'
            },

   ]
  });
});

</script>

{% endblock %}
