{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Data Audit" %}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="dataAudit">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Grade" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Student" %}</th>
          <th>{% trans "Gender" %}</th>
          <th>{% trans "Enrollment Date" %}</th>
          <th>{% trans "Problem" %}</th>
        <tbody>
          {% for student,issues in students.items %}
          {% for issue in issues %}
          <tr>
            <td style="width:7em;">{{ student.site }}</td>
            <td>{{ student.current_vdp_grade | grade_by_id}}</td>                
            <td>
              {% with classroom=student|student_classroom%}
                {% if classroom|length > 0%}
                  {% for classroom in student|student_classroom %}
                      {{classroom.classroom_id.classroom_number}}
                    {% if not forloop.last %}
                    ,<br/>
                    {% endif %}
                  {% endfor%}
                {% else %}
                  N/A
                {% endif %}
              {% endwith %}
             </td>              
              <td><a href="{% url 'student_detail' student.student_id %}">{{ student }}</a></td>
              <td style="width:7em;">{{ student.gender }}</td>
              <td>{{ student.getRecentFields.enrollment.enrollment_date}}</td>                             
              <td><a href="{{issue.resolution}}?next={% url 'data_audit' %}&limit={{issue.limit}}" role="button" class="btn btn-xs btn-danger">{{ issue.text }}</a></td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>

      </table>
    </div>
<div class="col-md-3">
  <h3>{% trans "Filters" %}</h3>
  <ul class = "buttonlist">

    {% for filter in filters %}
    <li>
      <a role = "button" class="btn btn-sm btn-info" onclick ="table.search('{{filter|escapejs}}').draw();" href='#'>
        {% with foo=filter|trim %}
            {% trans foo %}
        {% endwith %}
    </a></li>
    {% endfor %}
    <li><a role = "button" class="btn btn-sm btn-warning" onclick="table.search('').draw()" href="#">{% trans 'Clear Search' %}</a></li>
  </ul>
  </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
var table = null;
$(document).ready(function(){
  table = $('#dataAudit').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[2,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'DataAudit'
             },

    ]
  });
});
</script>

{% endblock %}
