{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}
{% load mandefilters %}
{% block title %}

{% if exit_survey != None %}<style>div{color: red;}</style>{% endif %}

{{survey.name}} ({{survey.site}})<br/>
    <small>
      <a href="#"><i id="decrement" class="fa fa-arrow-left"></i></a>
        {% trans "Student ID:" %} <strong id="student_id">{{survey.student_id}}</strong>
      <a href="#"><i id="increment" class="fa fa-arrow-right"></i></a>
    </small><br/>
<a href="{% url 'student_list' %}" class="btn btn-primary" role="button">{% trans "Back to all students" %} </a>
{% if exit_survey == None %}
  <a href="{% url 'intake_update' survey.student_id %}?next={% url 'student_detail' survey.student_id %}&tab=enrollment" class="btn btn-info" role="button">{% trans "Update this Student's Information?" %}
</a>
  {% if current_grade == None %}
  <a href="{% url 'intake_internal' survey.student_id %}" class="btn btn-success" role="button">{% trans "Enroll this student in VDP" %}
</a>
  {% else %}
  <a href="{% url 'exit_survey' survey.student_id %}" class="btn btn-danger" role="button">{% trans "Perform an exit survey for this student" %}
</a>
  {% endif %}
{%else%}
    <a href="{% url 'reenroll_student' survey.student_id %}" id="reenroll" class="btn btn-warning" role="button">{% trans "Re Enroll this student?" %}</a>
{% endif %}
{% if post_exit_survey == None and exit_survey %}
  <a href="{% url 'post_exit_survey' survey.student_id %}" class="btn btn-danger" role="button">{% trans "Perform post-exit survey for this student" %}</a>
{% endif %}
<br/>


{% endblock %}

{% block content %}


<div class="row">
  {% if exit_survey %}
    <div class = "col-md-12 text-center">
    <h3>{% trans "Exit Survey performed on " %} {{exit_survey.survey_date|date:'d N Y'}}</h3>
    <h3>{% trans "Student will leave the program on " %}
{{exit_survey.exit_date|date:'d N Y'}}</h3>
    {% if post_exit_survey %}<h3>{% trans " A post-exit survey has been performed" %}</h3> {% endif %}
    <br/><br/>
    </div>
  {% endif %}
  <div class="col-md-12">
    {% if messages %}
    <ul class="messages messages_upload">
      {% for message in messages %}
        {%if "save_photo" in message.tags %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <div class = "col-md-3">
    <div style="background-color: gray;border: 1px solid black; width:170px; height: 225px;">
      <img id="profile_pic" src="{{MEDIA_URL}}{{survey.student_id}}.jpg" onerror="this.src='/static/image/no_image_available.gif'"style="width:100%; height:100%;"/>
    </div>
    <br/>
    <button onclick="open_popup('{{MEDIA_URL}}{{survey.student_id}}.jpg','{{survey.student_id}}','student')" type"button" class="btn btn-warning" style="margin-bottom:20px;">Update Photo</button>
    <!-- <small>{% trans "Last Update: " %} {{ survey.date|date:'d N Y' }}</small> -->
  </div>
    <div class = "col-md-4">
      <div class = "table-responsive">
        <table class="table table-striped table-hover">
            <tr>
              <td>{% trans "Gender: " %}</td>
              <td>{{ survey.gender }}</td>
            </tr>
            <tr>
              <td>{% trans "VDP Class" %}:</td>
              <td>
                {% with classroom=survey.student_id|student_classroom%}
                  {% if classroom|length > 0%}
                    {% for classroom in survey.student_id|student_classroom %}
                      {{classroom.classroom_id.get_cohort_display}} - {{classroom.classroom_id.classroom_number}}
                      {% if not forloop.last %}
                      ,<br/>
                      {% endif %}
                    {% endfor%}
                  {% else %}
                    N/A
                  {% endif %}
                {% endwith %}
              </td>
            </tr>
            <tr>
              <td>{% trans "DOB: " %}</td>
              <td>{{ survey.dob|date:'d N Y'}}</td>
            </tr>
            <tr>
              <td>{% trans "Age" %}:</td>
              <td>{{survey.dob|timesince}} old</td>
            </tr>
            <tr>
              <td>{% trans "VDP Enrollment Date" %}:</td>
              <td>{% firstof recent_intake.enrollment_date|date:'d N Y' "Not yet enrolled" %}</td>
            </tr>
            {% if exit_survey_logs %}
            <tr class="text-danger">
              <td>{% trans "Re enroll Date" %}:</td>
              <td>{{exit_survey_logs.0.date|date:'d N Y'}}  ({{exit_survey_logs.0.date | timesince}})</td>
            </tr>
            {% endif %}
            {% if exit_survey %}
            <tr>
              <td>{% trans "Exit Reason" %}: </td>
              <td>{{exit_survey.early_exit_reason|exit_reason_display}}</td>
            </tr>
            <tr>
              <td>{% trans "Comment" %}:</td>
              <td>{{exit_survey.early_exit_comment}}</td>
            </tr>
            {% endif %}
          </table>
        </div>
  </div>
  <div class="col-md-4">
    <div class = "table-responsive">
      <table class="table table-striped table-hover">
          <tr>
            <td>{% trans "Guardian 1" %}: ({% firstof survey.guardian1_relationship|relationship_display "Not Entered"%})</td>
            <td>{% firstof survey.guardian1_name "Not Entered"%} - {% firstof survey.guardian1_phone "Not Entered"%}</td>
          </tr>
          <tr>
            <td>{% trans "Guardian 2" %}: ({% firstof survey.guardian2_relationship|relationship_display "Not Entered"%})</td>
            <td>{% firstof survey.guardian2_name "Not Entered"%} - {% firstof survey.guardian2_phone "Not Entered"%}</td>
          </tr>
          {% if pschool and pschool.status == 'Y' %}
          <tr>
            <td>{% trans "Public School Grade" %}:</td>
            <td>{% firstof pschool.grade|public_school_grade_display "Not Entered"%}</td>
          </tr>
          <tr>
            <td>{% trans "Public School Name: " %}</td>
            <td>{% firstof pschool.school_name "Not Entered"%}</td>
          </tr>
          {% else %}
          <tr>
            <td>{% trans "Public School Grade" %}:</td>
            <td>Not Enrolled</td>
          </tr>
          <tr>
            <td>{% trans "Reasons" %}:</td>
            <td>{% firstof pschool.reasons "Not Entered"%}</td>
          </tr>
          {% endif %}
          <tr>
            <td>{% trans "Church Name" %}:</td>
            {% if survey.church.personal_attend_church == 'N' %}
            <td>{% trans "Doesn't Attend Church" %}</td>
            {% else %}
            <td> {% firstof survey.church.church_name "Not Entered" %}</td>
            {% endif %}
          </tr>


        </table>
    </div>
  </div>

</div>
<ul class ="nav nav-tabs">
  <li role = "presentation" class="active"><a href="#academic" aria-controls="academic" role="tab" data-toggle="tab">{% trans "Academic" %}</a></li>
  <li role = "presentation"><a href="#enrollment" aria-controls="contact" role="tab" data-toggle="tab">{% trans "Course History" %}</a></li>
  <li role = "presentation"><a href="#exitsurveyshistory" aria-controls="exitsurveyshistory" role="tab" data-toggle="tab">{% trans "Exit History" %}</a></li>
  <li role = "presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab">{% trans "Contact" %}</a></li>
  <li role = "presentation"><a href="#household" aria-controls="household" role="tab" data-toggle="tab">{% trans "Household" %}</a></li>
  <li role = "presentation"><a href="#intake_notes" aria-controls="intake_notes" role="tab" data-toggle="tab">{% trans "Intake Notes" %}</a></li>
  <li role = "presentation"><a href="#general_notes" aria-controls="general_notes" role="tab" data-toggle="tab">{% trans "General Notes" %}</a></li>
  <li role = "presentation"><a href="#health" aria-controls="health" role="tab" data-toggle="tab">{% trans "Health" %}</a></li>
  <li role = "presentation"><a href="#spiritual_activities" aria-controls="health" role="tab" data-toggle="tab">{% trans "Spiritual Activities" %}</a></li>

</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="academic">
    <div class = "col-md-12">
      <h3>{% trans "Academics " %} <a href="{% url 'academic_form_single' survey.student_id %}" class="btn btn-xs btn-success" role="button">{% trans "+ Add an achievement test" %}</a></h3>

        <table class="table table-bordered table-striped table-hover" id="academicTable">
          <thead>
            <tr>
              <th>{% trans "Edit" %}</th>
              <th>{% trans "Test Date" %}</th>
              <th>{% trans "Test Grade" %}</th>
              <th>{% trans "Math" %}</th>
              <th>{% trans "Khmer" %}</th>
              <th>{% trans "Promoted?" %}</th>
              <th>{% trans "Notes" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for test in academics %}
            <tr><td><a href="{% url 'academic_form_single' survey.student_id test.id %}?next={% url 'student_detail' survey.student_id %}#academic" role="button" class="btn btn-xs btn-warning">{% trans "Edit" %}</a></td>
              <td>{{test.test_date|date:'d N Y'}}</td>
              <td>{{test.get_test_level_display}}</td>
              <td>{{test.test_grade_math}}</td>
              <td>{{test.test_grade_khmer}}</td>
              <td>{{test.promote}}</td>
              <td>{{test.notes}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


    </div>
    <div class = "col-md-12">
      <h3>{% trans "Academics(2) " %} <a href="{% url 'academic_form_single2' survey.student_id %}" class="btn btn-xs btn-success" role="button">{% trans "+ Add an achievement test" %}</a></h3>

        <table class="table table-bordered table-striped table-hover" id="academicTable2">
          <thead>
            <tr>
              <th>{% trans "Edit" %}</th>
              <th>{% trans "Test Date" %}</th>
              <th>{% trans "Test Grade" %}</th>              
              <th>{% trans "Activity Test" %}</th>
              <th>{% trans "Quiz" %}</th>
              <th>{% trans "Monthly Test" %}</th>
              <th>{% trans "Midterm Test" %}</th>
              <th>{% trans " Final Test" %}</th>
              <th>{% trans "Promoted?" %}</th>
              <th>{% trans "Notes" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for test2 in academics2 %}
            <tr><td><a href="{% url 'academic_form_single2' survey.student_id test2.id %}?next={% url 'student_detail' survey.student_id %}#academic" role="button" class="btn btn-xs btn-warning">{% trans "Edit" %}</a></td>
              <td>{{test2.test_date|date:'d N Y'}}</td>
              <td>{{test2.get_test_level_display}}</td>              
              <td>{{  test2.activity_test }}</td>
                <td>{{ test2.quiz }}</td>
                <td>{{ test2.monthly_test }}</td>
                <td>{{ test2.middle_test }}</td>
                <td>{{ test2.final_test }}</td>
              <td>{{test2.promote}}</td>
              <td>{{test2.notes}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class = "col-md-12">
      <h3>{% trans "English Test " %} <a href="{% url 'englishtest_form_single' survey.student_id %}" class="btn btn-xs btn-success" role="button">{% trans "+ Add an achievement test" %}</a></h3>

        <table class="table table-bordered table-striped table-hover" id="englishtestTable">
          <thead>
            <tr>
              <th>{% trans "Edit" %}</th>
              <th>{% trans "Test Date" %}</th>
              <th>{% trans "Test Grade" %}</th>
              <th>{% trans "Activity Test" %}</th>
              <th>{% trans "Quiz" %}</th>
              <th>{% trans "Monthly Test" %}</th>
              <th>{% trans "Midterm Test" %}</th>
              <th>{% trans "Final Test" %}</th>
              <th>{% trans "Promoted?" %}</th>
              <th>{% trans "Notes" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for test in englishtests %}
            <tr><td><a href="{% url 'englishtest_form_single' survey.student_id test.id %}?next={% url 'student_detail' survey.student_id %}#academic" role="button" class="btn btn-xs btn-warning">{% trans "Edit" %}</a></td>
              <td>{{test.test_date|date:'d N Y'}}</td>
              <td>{{test.get_test_level_display}}</td>
              <td>{{test.activity_test}}</td>
              <td>{{test.quiz}}</td>
              <td>{{test.monthly_test}}</td>
              <td>{{test.middle_test}}</td>
              <td>{{test.final_test}}</td>
              <td>{{test.promote}}</td>
              <td>{{test.notes}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>


    </div>
    <div class = "col-md-12">
      <h3>{% trans "Student Evaluations" %}   <a href="{% url 'studentevaluation_form_single' survey.student_id %}" class="btn btn-xs btn-info" role="button">{% trans "+ Add a student evaluation" %}</a> </h3>
      <table class="table table-bordered table-striped table-hover" id="evaluationTable">
        <thead>
          <tr><th>{% trans "Date" %}</th><th>{% trans "Evaluation" %}
</th>
        </thead>
        <tbody>
      {% for evaluation in evaluations %}

          <tr>
            <td class="col-md-2">{{evaluation.date|date:'d N Y'}}</td>
            <td class ="col-md-10">

              <table class="table table-bordered table-striped table-hover">
                <tr>
                  <th>{% trans "Academic" %}</th>
                  <th>{% trans "Study/Learning Skills" %}</th>
                  <th>{% trans "Life Skills/Personal Development" %}</th>
                  <th>{% trans "Hygiene Knowledge" %}</th>
                  <th>{% trans "Christian Growth" %}</th>
                </tr>

                <tr>
                  <td class="col-md-2">{{evaluation.academic_score}}%</td>
                  <td class="col-md-2">{{evaluation.study_score}}%</td>
                  <td class="col-md-2">{{evaluation.personal_score}}%</td>
                  <td class="col-md-2">{{evaluation.hygiene_score}}%</td>
                  <td class="col-md-2">{{evaluation.faith_score}}%</td>
                </tr>
                <tr>
                  <td colspan=5>
                    <strong>{% trans "General Comments" %}</strong>
                  </td>
                </tr>
                <tr>
                  <td colspan=6>
                    {{evaluation.comments}}
                  </td>
                </tr>
                </table>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="col-md-6">
      <h3>{% trans "Discipline" %} <a href="{% url 'discipline_form' survey.student_id %}" class="btn btn-xs btn-danger" role="button">+ {% trans "Add Incident" %}</a></h3>
    <table class="table table-bordered table-striped table-hover" id="disciplineTable">
      <thead>
        <tr>
          <th>{% trans "Date of Incident" %}</th>
          <th>{% trans "Code" %}</th>

        </tr>
      </thead>
      <tbody>
        {% for incident in discipline %}
        <tr>
          <td>{{incident.incident_date|date:'d N Y'}}</td>
          <td>{{incident.get_incident_code_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    </div>
    <div class="col-md-6">
      <h3>
        {% trans "Attendance" %}
        <a href="{% url 'attendance' %}" class="btn btn-xs btn-warning" role="button">{% trans "+ Take Attendance" %}</a>
        <a href="{% url 'student_attendance_detail' survey.student_id %}" class="btn btn-xs btn-warning" role="button">{% trans "Attendance Detail" %}</a>
      </h3>
    <table class="table table-bordered table-striped table-hover">
      <tr>
        <th>{% trans "Year" %}</th>
        <th>{% trans "Present" %}</th>
        <th>{% trans "Unapproved" %}</th>
        <th>{% trans "Approved" %}</th>
      </tr>
      {% for attendance_year in attendance_years %}
      <tr>
        <td>{{attendance_year.year}} - {{attendance_year.year | add:1}}</td>
        <td>{{attendance_year.present | length}}</td>
        <td>{{attendance_year.unapproved | length}}</td>
        <td>{{attendance_year.approved | length}}</td>
      </tr>
      {% endfor %}
      </table>

    </div>


  </div>

  <div role="tabpanel" class="tab-pane" id="enrollment">
    <div class ="col-md-12">
      <h3>{% trans "Course History" %}   <a href="{% url 'classroomenrollment_form' %}" class="btn btn-xs btn-success" role="button">{% trans "+ Add a course" %}</a></h3>

        <table class="table table-bordered table-striped table-hover" id="courseHistoryTable">
          <thead>
            <tr>
              <th>{% trans "Date Enrolled" %}</th>
              <th>{% trans "Date Dropped" %}</th>
              <th>{% trans "Course" %}</th>

            </tr>
          </thead>
          <tbody>
            {% for class in classroomenrollment %}
            <tr>
              <td>{{class.enrollment_date|date:'d N Y'}}</td>
              {% if class.drop_date %}
                <td>{{class.drop_date|date:'d N Y'}}</td>
              {% else %}
                <td><a href="{% url 'classroomenrollment_individual' class.classroom_id.classroom_id survey.student_id %}?next={% url 'student_detail' survey.student_id %}" class="btn btn-danger btn-xs" role="button">{% trans "Drop this class" %}</a></td>
              {% endif %}
              <td>{{class.classroom_id}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>
    <div class ="col-md-12">
        <h3>{% trans "Public School History" %}   <a href="{% url 'publicschool_form' survey.student_id %}" class="btn btn-xs btn-success" role="button">{% trans "+ Add a Public School History" %}</a></h3>
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            {%if "delete_public_school" in message.tags %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
        <table class="table table-bordered table-striped table-hover" id="publicSchoolHistory">
          <thead>
            <tr>
              <th>{% trans "Edit" %} {% trans "Delete" %}</th>
              <th>{% trans "From Date" %}</th>
              <th>{% trans "To Date" %}</th>
              <th>{% trans "Grade" %}</th>
              <th>{% trans "School" %}</th>
              <th>{% trans "Reasons for not attending" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for publich_school_history in publich_school_historys %}
            <tr>
              <td>
                <a href="{% url 'publicschool_form' survey.student_id publich_school_history.id%}" role="button" class="btn btn-xs btn-warning">{% trans "Edit" %}</a>
                <a id="delete_public_school" href="{% url 'delete_public_school' publich_school_history.id %}?next={% url 'student_detail' survey.student_id %}#enrollment" role="button" class="btn btn-xs btn-danger">{% trans "Delete" %}</a>

              </td>
              <td>{{publich_school_history.enroll_date | date:'d N Y'}}</td>
              <td>
                {% if publich_school_history.status and publich_school_history.status == 'Y' and not publich_school_history.drop_date%}
                  On going
                {% else %}
                    {{publich_school_history.drop_date | date:'d N Y'}}
                {% endif %}
              </td>
              {% if publich_school_history.status and publich_school_history.status == 'Y' %}
                <td>{{publich_school_history.get_grade_display}}</td>
                <td>{{publich_school_history.school_name}}</td>
                <td>N/A</td>
              {% else %}
                <td>N/A</td>
                <td>N/A</td>
                <td>{{publich_school_history.reasons}}</td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="exitsurveyshistory">
    <h3>{% trans "Exit Surveys Log" %}</h3>
      <table class="table table-bordered table-striped table-hover" id="exitSurveysHistory">
        <thead>
          <tr>
              <th>{% trans "Date" %}</th>
              <th>{% trans "Exit Date" %}</th>
              <th>{% trans "Grade" %}</th>
              <th>{% trans "Early Exit?" %}</th>
              <th>{% trans "Public School" %}</th>
              <th>{% trans "Reason" %}</th>
              <th style="width:30%">{% trans "Comment" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for log in exit_survey_logs %}
          <tr>
              <td>{{log.date|date:'d N Y'}}</td>
              <td>{{log.exit_date | date:'d N Y'}}  ({{log.exit_date | timesince}}</td>
              <td>{{log.get_vdp_grade_display}}</td>
              <td>{{log.get_early_exit_display}}</td>
              <td>{{log.get_last_grade_display}}</td>
              <td>{{log.get_early_exit_reason_display}}</td>
              <td style="width:30%">{{log.early_exit_comment}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h3>{% trans "Post Exit Survey Log" %}</h3>
        <table class="table table-bordered table-striped table-hover" id="postExitSurveysHistory">
          <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Exit Date" %}</th>
                <th>{% trans "Currently in school?" %}</th>
                <th>{% trans "Grade (if in school)" %}</th>
                <th>{% trans "Last Grade (if not in school)" %}</th>
                <th style="width:30%">{% trans "Reason" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for log in post_exit_survey_logs %}
            <tr>
                <td>{{log.date|date:'d N Y'}}</td>
                <td>{{log.exit_date | date:'d N Y'}}</td>
                <td>{{log.get_enrolled_display}}</td>
                <td>{{log.get_grade_current_display}}</td>
                <td>{{log.get_grade_previous_display}}</td>
                <td style="width:30%">{{log.reasons}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
  </div>
  <div role="tabpanel" class="tab-pane" id="contact">
    <h3>{% trans "Contact Information" %} <a href="{% url 'intake_update' survey.student_id %}?next={% url 'student_detail' survey.student_id %}&tab=contact" class="btn btn-xs btn-info" role="button"> {% trans "+Update this information?" %}</a></h3>
    <div class="col-md-12">

      <div class = "table-responsive">
        <table class="table table-bordered table-striped table-hover">
              <tr><td colspan=4 class="text-center">
                    <strong>{% trans "Guardian 1:" %}
 {% firstof survey.guardian1_relationship|relationship_display "Not Entered" %}</strong>
                  </td>
                  <td colspan=4 class="text-center">
                    <strong>{% trans "Guardian 2:" %}  {% firstof survey.guardian2_relationship|relationship_display "Not Entered" %}</strong>
                  </td></tr>
              <td><strong>{% trans "Name:" %}</strong></td>
              <td>{% firstof survey.guardian1_name "Not Entered" %}</td>

              <td><strong>{% trans "Phone:" %}</strong> </td>
              <td>{% firstof survey.guardian1_phone "Not Entered" %}</td>

              <td><strong>{% trans "Name:" %}</strong> </td>
              <td>{% firstof survey.guardian2_name "Not Entered" %}</td>

              <td><strong>{% trans "Phone:" %}</strong> </td>
              <td>{% firstof survey.guardian2_phone "Not Entered" %}</td>
            <tr><td colspan=8 class="text-center"><strong>{% trans "Home Address" %}</strong></td></tr>
            <tr><td colspan=8 class="text-center">{% firstof survey.address "Not Entered" %}</td></tr>
            <tr><td colspan=8 class="text-center"><strong>{% trans "Place of Birth" %}</strong></td></tr>
            <tr><td colspan=8 class="text-center">{% firstof survey.pob "Not Entered" %}</td></tr>
          </table>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="household">
    <div class="col-md-12">
      <h3>{% trans "Home of Origin" %} <a href="{% url 'intake_update' survey.student_id %}?next={% url 'student_detail' survey.student_id %}&tab=household" class="btn btn-xs btn-info" role="button"> {% trans "+Update this information?" %}</a></h3>
        <div class = "table-responsive">
          <table class="table table-bordered table-striped table-hover text-center">
              <tr><td colspan=2><strong>{% trans "Guardian 1:" %} {% firstof survey.guardian1_relationship|relationship_display "Not Entered" %}</strong></td>
                  <td colspan=2><strong>{% trans "Guardian 2:" %} {% firstof survey.guardian2_relationship|relationship_display "Not Entered" %}</strong></td></tr>
              <tr><td class="info"><strong>{% trans "Profession" %}</strong></td>
                  <td class="success"><strong>{% trans "Income" %}</strong></td>
                  <td class="info"><strong>{% trans "Profession" %}</strong></td>
                  <td class="success"><strong>{% trans "Income" %}</strong></td></tr>
              <tr>
                <td class="info">{% firstof survey.guardian1_profession "Not Entered" %}</td>
                <td class="success">{% firstof survey.guardian1_employment "Not Entered" %}</td>
                <td class="info">{% firstof survey.guardian2_profession "Not Entered" %}</td>
                <td class="success">{% firstof survey.guardian2_employment "Not Entered" %}</td>
              </tr>

            </table>
          </div>

      <div class="table-responsive">

        <table class="table table-bordered table-striped table-hover">
          <tr><td><strong>{% trans "Minors in Household" %}</strong></td><td colspan=3>{% firstof survey.minors "Not Entered"%}</td></tr>
          <tr><!-- <td><strong>{% trans "Working Minors" %}</strong></td><td>{% firstof survey.minors_working "Not Entered"%}</td> !-->
          <td><strong>{% trans "Minors in School (Public | Private)" %}
</strong></td><td>{{survey.minors_in_public_school}} |
                                                        {{survey.minors_in_other_school}}</td></tr>
        </table>
        <!--
        <table class="table table-bordered table-striped table-hover">
          <tr><td><strong>{% trans "What are they doing for work?" %}</strong></td><td colspan=3>{% firstof survey.minors_profession "Not Entered"%}</td></tr>
          <tr><td><strong>{% trans "Were they encouraged?" %}</strong></td><td>{% firstof survey.minors_encouraged "Not Entered"%}</td>
              <td><strong>{% trans "Did they receive any vocational training?" %}</strong></td><td>{% firstof survey.minors_training "Not Entered"%}</td></tr>
          <td><strong>{% trans "What kind of vocational training did they receive?" %}</strong></td><td colspan=3>{% firstof survey.minors_training_type "Not Entered"%}</td></tr>
        </table>
        !-->
      </div>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane" id="intake_notes">
    <h3>{% trans "Intake Notes" %} <a href="{% url 'intake_update' survey.student_id %}?next={% url 'student_detail' survey.student_id %}&tab=intake_notes" class="btn btn-xs btn-info" role="button"> {% trans "+Update this information?" %}</a></h3>

      <table class="table table-bordered table-striped table-hover" id="intakeNotesTable">
        <thead>
          <tr><th>{% trans "Date" %}</th><th>{% trans "Notes" %}</th></tr>
        </thead>
        <tbody>
          {% for note in notes %}
          <tr><td>{{note.date|date:'d N Y'}}</td><td>{{note.note}}</td></tr>
          {% endfor %}
        </tbody>
      </table>

  </div>
  <div role="tabpanel" class="tab-pane" id="general_notes">
    <h3>{% trans "General Notes" %} <a href="{% url 'student_note' survey.student_id %}" class="btn btn-xs btn-info" role="button"> {% trans "+Add a note?" %}</a></h3>
      <table class="table table-bordered table-striped table-hover" id="generalNotesTable">
        <thead>
          <tr><th>{% trans "Date" %}</th><th>{% trans "Notes" %}</th></tr>
        </thead>
        <tbody>
          {% for note in general_notes %}
          <tr><td>{{note.date|date:'d N Y'}}</td><td>{{note.notes}}</td></tr>
          {% endfor %}
        </tbody>
      </table>

  </div>
  <div role="tabpanel" class="tab-pane" id="health">
    <h3>{% trans "Checkups" %}   <a href="{% url 'health_form' survey.student_id TODAY 'CHECKUP' %}?next={% url 'student_detail' survey.student_id %}#health" class="btn btn-xs btn-success" role="button">{% trans "+ Add a checkup" %}</a></h3>

      <table class="table table-bordered table-striped table-hover" id="checkupTable">
        <thead>
          <tr><th style="width:4em;">{% trans "Edit" %}</th><th>{% trans "Date" %}</th><th>{% trans "Height" %}</th><th>{% trans "Weight" %}</th><th>{% trans "Notes" %}</th></tr>
        </thead>
        <tbody>
          {% for checkup in checkups %}
          <tr><td><a href="{% url 'health_form' survey.student_id checkup.appointment_date|date:'Y-m-d' 'CHECKUP' %}" role="button" class="btn btn-xs btn-warning">{% trans "Edit" %}</a></td>
              <td>{{checkup.appointment_date |date:'d N Y'}}</td>
              <td>{{checkup.height}}</td>
              <td>{{checkup.weight}}</td>
              <td>{{checkup.notes}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    <h3>{% trans "Dentist Visits" %} <a href="{% url 'health_form' survey.student_id TODAY 'DENTAL' %}?next={% url 'student_detail' survey.student_id %}#health" class="btn btn-xs btn-success" role="button">{% trans "+ Add a dental visit" %}</a></h3>

      <table class="table table-bordered table-striped table-hover" id="dentalTable">
        <thead>
          <tr><th style="width:4em;" >{% trans "Edit" %}</th>
              <th>{% trans "Date" %}</th>
              <th>{% trans "Extractions" %}</th>
              <th>{% trans "Sealent" %}</th>
              <th>{% trans "Fillings" %}</th>
              <th>{% trans "Endo" %}</th>
              <th>{% trans "Scaling" %}</th>
              <th>{% trans "Pulped" %}</th>
              <th>{% trans "Xray" %}</th>
              <th>{% trans "Notes" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for checkup in dental %}
          <tr><td><a href="{% url 'health_form' survey.student_id checkup.appointment_date|date:'Y-m-d' 'DENTAL' %}?next={% url 'student_detail' survey.student_id %}#health" role="button" class="btn btn-xs btn-warning">{% trans "Edit" %}</a></td>
              <td>{{checkup.appointment_date |date:'d N Y'}}</td>
              <td>{{checkup.extractions}}</td>
              <td>{{checkup.sealent}}</td>
              <td>{{checkup.filling}}</td>
              <td>{{checkup.endo}}</td>
              <td>{{checkup.scaling}}</td>
              <td>{{checkup.pulped}}</td>
              <td>{{checkup.xray}}</td>
              <td>{{checkup.notes}}</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
      <h3>{% trans "Diseases" %} <a href="{% url 'disease_form' survey.student_id  %}?next={% url 'student_detail' survey.student_id %}#health" class="btn btn-xs btn-success" role="button">{% trans "+ Add Disease" %}</a></h3>

  <table class="table table-bordered table-striped table-hover" id="diseaseTable">
    <thead>
      <tr><th style="width:4em;" >{% trans "Edit" %}</th>
          <th >{% trans "Disease Name" %}</th>
          <th >{% trans "Notes" %}</th>
          <th >{% trans "Survey Date" %}</th>
          
      </tr>
    </thead>
    <tbody>
      {% for disease in diseases %}
      <tr><td><a href="{% url 'disease_form' survey.student_id %}?next={% url 'student_detail' survey.student_id %}#health" role="button" class="btn btn-xs btn-warning">{% trans "Edit" %}</a></td>
          <td>{{disease.disease_name}}</td>
          <td>{{disease.notes}}</td>
          <td>{{disease.survey_date|date:'d N Y'}}</td>
                    
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <h3>{% trans "Vaccines" %} <a href="{% url 'vaccine_form' survey.student_id  %}?next={% url 'student_detail' survey.student_id %}#health" class="btn btn-xs btn-success" role="button">{% trans "+ Add Vaccine" %}</a></h3>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        {%if "delete_vaccine_survey" in message.tags %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  <table class="table table-bordered table-striped table-hover" id="vaccineTable">
    <thead>
      <tr><th style="width:4em;" >{% trans "Edit" %}</th>
          <th >{% trans "Vaccine Type" %}</th>
          <th >{% trans "Vaccine Name" %}</th>
          <th >{% trans "Other" %}</th>
          <th >{% trans "Vaccine Time" %}</th>              
          <th >{% trans "Vaccine Date" %}</th>
          <th >{% trans "Survey Date" %}</th>
          <th >{% trans "Note" %}</th> 
          <th >{% trans "" %}</th> 
          
      </tr>
    </thead>
    <tbody>
      {% for vaccine in vaccines %}
      <tr><td><a href="{% url 'vaccine_form' survey.student_id vaccine.id %}?next={% url 'student_detail' survey.student_id %}#health" role="button" class="btn btn-xs btn-warning">{% trans "Edit" %}</a></td>
            <td>{{vaccine.type}}</td>
            <td>{{vaccine.name}}</td>
          <td>{{vaccine.other}}</td>
          <td>{{vaccine.time}}</td>             
          <td>{{vaccine.vaccine_date|date:'d N Y'}}</td>
          <td>{{vaccine.survey_date|date:'d N Y'}}</td>
          <td>{{vaccine.notes}}</td>
          <td><a class="delete_vaccine_survey" href="{% url 'delete_vaccine_survey' vaccine.id %}?next={% url 'student_detail' survey.student_id %}#health" role="button" class="btn btn-xs btn-danger">{% trans "Delete" %}</a></td>
          
      </tr>
      {% endfor %}
    </tbody>
    </table>
 </div>
  


<div role="tabpanel" class="tab-pane" id="spiritual_activities">
    <h3>{% trans "Spiritual Activities" %} <a href="{% url 'spiritualactivities_survey' survey.student_id %}?next={% url 'student_detail' survey.student_id %}#spiritual_activities" class="btn btn-xs btn-info" role="button"> {% trans "+ Add spiritual activities?" %}</a></h3>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
          {%if "delete_spiritualactivities_survey" in message.tags %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
      <table class="table table-bordered table-striped table-hover" id="spiritualActivitiesTable">
        <thead>
          <tr><th>{% trans "Edit" %}</th><th>{% trans "Date" %}</th><th>{% trans "Attend Church" %}</th><th>{% trans "Frequency of Attending"%}</th><th>{% trans "Church Name" %}</th><th>{% trans "Delete" %}</th></tr>
        </thead>
        <tbody>
          {% for spiritual_activitie in spiritual_activities %}
          <tr>
            <td><a href="{% url 'spiritualactivities_survey' survey.student_id spiritual_activitie.id %}?next={% url 'student_detail' survey.student_id %}#spiritual_activities" role="button" class="btn btn-xs btn-warning">{% trans "Edit" %}</a></td>
            <td>{{spiritual_activitie.date|date:'d N Y'}}</td>
            <td>{{spiritual_activitie.personal_attend_church|yn_display}}</td>
            <th>{{spiritual_activitie.frequency_of_attending|frequency_display}}</td>
            <td>{{spiritual_activitie.church_name}}</td>
            <td><a id="delete_spiritualactivities_survey" href="{% url 'delete_spiritualactivities_survey' spiritual_activitie.id %}?next={% url 'student_detail' survey.student_id %}#spiritual_activities" role="button" class="btn btn-xs btn-danger">{% trans "Delete" %}</a></td>

          </tr>
          {% endfor %}
        </tbody>
      </table>

  </div>
</div>
<div class="popup" id="popup">
            <div class="popup-inner">
              <div class="col-md-12">
                <div class="col-md-5">
                  <ul class ="nav nav-tabs">
                    <li role = "presentation" class="active"><a href="#upload_file" aria-controls="academic" role="tab" data-toggle="tab">{% trans "Upload Picture" %}</a></li>
                    <li role = "presentation"><a href="#take_picture" aria-controls="contact" role="tab" data-toggle="tab">{% trans "Take Picture" %}</a></li>
                  </ul>
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="upload_file">
                      <div style="margin-top:10px; margin-bottom:10px;">
                        <input type="file" id="file" name="photo" onchange="readURL(this);">
                      </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="take_picture">
                      <div style="margin-top:10px; margin-bottom:10px;">
                        <div id="my_camera"></div>
                        <input type="button" value="Take Photo" onclick="take_photo();" class="btn btn-primary" style="margin-top: 20px;">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-5 crop_area">
                    <div class="img-container" style="margin-bottom:20px;">
                      <img id="photo" src="" onerror="hide_crop_area(this);"/>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" onclick='save_photo("{% url 'save_photo' %}","{{csrf_token}}","{{ request.path }}");'>
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> Save photo
                      </button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" title="Rotate" onclick="rotate()">
                        <span class="docs-tooltip" data-toggle="tooltip">
                          <span class="fa fa-repeat" aria-hidden="true"></span>
                        </span>
                      </button>
                    </div>
                    <div class="btn-group">
                      <button type="button" class="btn btn-primary" title="Zoom In" onclick="zoom_in()">
                        <span class="docs-tooltip" data-toggle="tooltip">
                          <span class="fa fa-search-plus"></span>
                        </span>
                      </button>
                      <button type="button" class="btn btn-primary" title="Zoom Out" onclick="zoom_out()">
                        <span class="docs-tooltip" data-toggle="tooltip">
                          <span class="fa fa-search-minus"></span>
                        </span>
                      </button>
                    </div>
               </div>
               <div class="col-md-2 crop_area">
                 <div style="width:170px; height:225px;">
                   <img id="preview" src="" style="max-width:100%; background: #f7f7f7;"/>
                 </div>
              </div>
              </div>
                <p style="text-align:right;"><a onclick="close_popup()" href="#" >Close</a></p>
                <a class="popup-close" onclick="close_popup()" href="#">x</a>
            </div>
        </div>

{% endblock %}
{% block script %}
 <script type="text/javascript">
 $("#reenroll").click(function(event){
     event.preventDefault();
     if(confirm("Are you sure you want to re enroll this student?")) {
       window.location = $(this).attr('href');
     }
 });

$("#delete_spiritualactivities_survey").click(function(event){
    event.preventDefault();
    if(confirm("Are you sure you want to delete?")) {
      window.location = $(this).attr('href');
    }
});
$(".delete_vaccine_survey").click(function(event){
    event.preventDefault();
    if(confirm("Are you sure you want to delete?")) {
      window.location = $(this).attr('href');
    }
});
$("#delete_public_school").click(function(event){
    event.preventDefault();
    if(confirm("Are you sure you want to delete?")) {
      window.location = $(this).attr('href');
    }
});
// Javascript to enable link to tab
var url = document.location.toString();
if (url.match('#')) {
    $('.nav-tabs a[href=#'+url.split('#')[1]+']').tab('show') ;
}

// Change hash for page-reload
$('.nav-tabs a').on('shown.bs.tab', function (e) {
    window.location.hash = e.target.hash;
})
$(document).ready( function() {
  $(function() {
    $("#profile_pic").attr('src','{{MEDIA_URL}}{{survey.student_id}}.jpg?'+new Date().getTime());
    $('#decrement').click(function() {
        //split on /
        $url = window.location.href.split('/')
        $url[$url.length-2] = Number($('#student_id').html())-1
        window.location.href = $url.join('/')
    });
    $('#increment').click(function() {
        //split on /
        $url = window.location.href.split('/')
        $url[$url.length-2] = Number($('#student_id').html())+1
        window.location.href = $url.join('/')
    });
  });
  var evaluationtable = $('#evaluationTable').DataTable({
      responsive: true,
      pageLength: 1,
      searching: false,
      bLengthChange: false,
      bInfo: false,
  });
  var academictable = $('#academicTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
      order: [[ 1, "desc" ]]
  });
  var academictable = $('#academicTable2').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
      order: [[ 1, "desc" ]]
  });
  var academictable = $('#englishtestTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
      order: [[ 1, "desc" ]]
  });
  var disciplinetable = $('#disciplineTable').DataTable({
      responsive: true,
      pageLength: 1,
      searching: false,
      bLengthChange: false,
      bInfo: false,
  });
  var coursehistorytable = $('#courseHistoryTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
  });
  var checkuptable = $('#checkupTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
  });
  var dentaltable = $('#dentalTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
  });
  var diseasetable = $('#diseaseTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
  });
  var vaccinetable = $('#vaccineTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
  });  
  var notestable = $('#intakeNotesTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
  });
  var generalnotestable = $('#generalNotesTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
  });
  var publicSchoolHistory = $('#publicSchoolHistory').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
      order: [[ 1, "desc" ]]
  });
  var spiritualActivities = $('#spiritualActivitiesTable').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
      order: [[ 1, "desc" ]]
  });
  var exitSurveysHistory = $('#exitSurveysHistory').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
      order: [[ 0, "desc" ]]

  });
  var postExitSurveysHistory = $('#postExitSurveysHistory').DataTable({
      responsive: true,
      pageLength: 5,
      searching: false,
      bLengthChange: false,
      bInfo: false,
      order: [[ 0, "desc" ]]
  });
});
</script>
<style type="text/css">
.error{
  color: red;
}
.success{
  color: green;
}

</style>
{% endblock %}
