{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
{% trans "Disease Form" %}
{% endblock %}

{% block content %}
  <div class="col-md-0"></div>
  <div class="col-md-10">
    <form action = "{% url 'disease_form' student_id %}?next={{next_url}}" method="post">
      {% csrf_token %}
      <table class="table" id="disease">
        <thead>
          <tr>
            <th>{% trans "Disease Name" %}</th>
              <th>{% trans "Notes" %}</th>
              <th>{% trans "Survey Date" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for key, value in default_diseases %}
            <tr>
              <td width="240px">      
                <input 
                  type="checkbox" 
                  value="{{ key  }}" 
                  name="disease"
                  class="form-check-input"
                  {% if diseases %}
                    {% for disease in diseases %}
                      {% if key == disease.disease_name %}
                        checked
                      {% endif %}
                    {% endfor %}
                  {% endif %} 
                  > {{value}}
              </td>
              <td>
                <input
                  type="text"
                  name="note"
                  class="form-control"
                  {% if diseases %}
                    {% for disease in diseases %}
                      {% if key == disease.disease_name %}
                        value="{{disease.notes}}"
                      {% endif %}
                    {% endfor %}
                  {% endif %} 
                  >
              </td>
              <td width="20px">
                <input
                  type="date"
                  name="survey_date"
                  class="form-control"
                  {% if diseases %}
                    {% for disease in diseases %}
                      {% if key == disease.disease_name %}
                        value="{{disease.survey_date|date:'Y-m-d'}}"
                      {% endif %}
                    {% endfor %}
                    value="{% now 'Y-m-d' %}"
                  {% else %}
                    value="{% now 'Y-m-d' %}"
                  {% endif %} 
                  >
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="col-md-12">
        <button type="submit" class="btn btn-primary submit">{% trans "Submit" %}</button>
      </div>
    </form>
  </div>
  <div class="col-md-3"></div>
{% endblock %}

{% block javascript %}
<script>
  $(document).ready(function() {
    $(document).on('click', '.submit', function(event) {
        event.preventDefault();
        var url = $(document).find('form').attr('action');
        var disease = [];
        $('#disease > tbody  > tr').each(function () {
          if($(this).find('input:checkbox').prop('checked')){
            var name = $(this).find('input:checkbox').val();
            var note = $(this).find('input:text').val();
            var survey_date = $(this).find('input[name="survey_date"]').val();
            disease.push({
              student_id: "{{ student_id }}",
              disease_name: name,
              notes: note,
              survey_date: new Date(survey_date).toISOString().slice(0, 10)
            });
          }
        });
        /*
        disease = [
          {
            name : 'a',
            node: '1'
          },
          {
            name : 'a',
            node: '1'
          },
          {
            name : 'a',
            node: '1'
          }
        ]
        */
        var formData = new FormData();

        formData.append('disease', JSON.stringify(disease))
        
        $.ajax({
          headers: {
            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()
          },
          url: url,
          type: 'POST',
          dataType: 'json',
          data: formData,
          processData: false,
          contentType: false,
          success: function(response){
            if(response.success){
              //alert(response.redirect); return '';
              window.location.replace(response.redirect + '#health');
            }
          //  alert(response.success);
          }
        });
    });
  });
</script>
{% endblock %}
