{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% if locked == True %}
 {% trans 'Sorry, you cannot change English Tests.' %}
{% else %}
  {% trans 'Please select a classroom.' %}
{% endif %}
{% endblock %}

{% block content %}

  <div class="col-md-9">
    {% if locked == True %}
     {% trans 'English tests currently locked' %}
    {% else %}
    <table id="classroomDataTable" class="table table-bordered table-hover">
      <thead>
        <tr><th>{% trans "Site" %}</th><th>{% trans "Grade" %}</th><th>{% trans "Description" %}</th><th>{% trans "Evaluation" %}</th></tr>
      </thead>
      <tbody>
        {% for classroom in classrooms %}
          <tr>
            <td>{{ classroom.school_id }}</td>
            <td>{{ classroom.get_cohort_display }}</td>
            <td>{{ classroom.classroom_number }}</td>
            <td>
              <a href="{% url 'englishtests_form' classroom.school_id.school_id today %}{{classroom.classroom_id}}/" role="button" class="btn btn-xs btn-success">
              {% trans "Input English Test" %}
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      {% endif %}
  </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  $('#classroomDataTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc'],[1,'asc'],[2,'asc']],
     //  columnDefs: [
     //   { type: 'jethro', targets: 1 }
     // ]
  });
});
</script>

{% endblock %}
