{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "English Student Academic History Report" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <form class="form-inline" role="form" method="post" action="{% url 'english_academic_history_report' %}">
    {% csrf_token %}
    <div class="row" >
      <div class="col-md-4">
        <div class="row pull-left">
          <select name="site" class="form-control">
            <option>{% trans "Select Site" %}</option>
            {% for site in sites %}
              <option value="{{site}}">{{site}}</option>
            {% endfor%}
            <option  value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
          </select>    

          <select name="classroom" class="form-control">
            <option value="None" selected="selected">{% trans "Select Classroom" %}</option>
            {% for value,key in grades.items %}
            <option value="{{ key }}">{{ key }}</option>
            {% endfor%}
            <option value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6" > 
        <div class="row pull-right">
          From  <input type="date" name="start_date" id="start_date" class="form-control"/>
          To  <input type="date" name="end_date" id="end_date" class="form-control"/>
        </div>
      </div>
      <div class="col-md-2">
        <div class="row pull-left">
          <input type="submit" class="form-control btn btn-primary"  id="#submit" value="{% trans 'search' %}"/>          
          <input type="submit" class="form-control btn btn-primary"  id="export-btn" value="{% trans 'Export' %}"/>                
      </div>
    </div>   
  </form>
</div> 
<br>
<div class="col-md-13">  
      <table class="table table-bordered table-striped table-hover" id="StudentAcademicTable"
      data-academic='{% for a in ac %}{"gender":"{{ a.gender }}","school_name":"{{ a.school_name }}","test_date":"{{ a.test_date }}","student_id":"{{ a.student_id }}","name":"{{ a.name }}","test_level":"{{ a.test_level }}","promote":"{{ a.promote }}"},{% endfor %}'>
      <thead><tr>
        <th>{% trans "Site" %}</th>
        <th>{% trans "Test Grade" %}</th>          
        <th>{% trans "Student" %}</th>
        <th>{% trans "Gender" %}</th>
        <th>{% trans "Test Date " %}</th>
        <th>{% trans "Result" %}</th>
        <th>{% trans "Total" %}</th>                    
         </tr></thead>
      <tbody>
         
      </tbody>
      </table>
      
{% endblock %}

{% block script %}

<script type = "text/JavaScript" src = "https://underscorejs.org/underscore-min.js"></script>
<script src="/static/mande/js/jquery.table2excel.js"></script>

<script type="text/javascript">
var table = null
function filterBySite(search_value){
  table.columns(0).search(search_value).draw();
  $("#site").val(search_value);
  $("#site").show();
}
function ClearFilterBySite(){
  table.columns(0).search('').draw();
  $("#site").val("Site");
  $("#site").hide();
}
function filterByGrade(search_value){
  if (search_value=='English' || search_value=='Vietnamese'){
      table.columns(1).search("^"+search_value[0],true,false).draw();
  }
  else{
      table.columns(1).search("^"+search_value,true,false).draw();
  }
  $("#grade").val(search_value);
  $("#grade").show();
}
function ClearFilterByGrade(){
  table.columns(1).search('').draw();
  $("#grade").val("Grade");
  $("#grade").hide();
}
var academics = "[" + $('#StudentAcademicTable').data('academic').slice(0, -1) + "]";
academics = JSON.parse(academics);
  //console.table(academics);
  var groups = _.uniq(academics, x => x.student_id);
  var results = [];
  _.each(groups, function(group, index, groups) {
    var filters = _.filter(academics, function(academic, index, academics){
      return academic.student_id === group.student_id;
    });
    var one = 0;
    var zero = 0;
    _.each(filters, function(filter, index, filters) {
      (filter.promote === "1") ? one++: zero++;
      results.push({
        "gender": filter.gender,
        "school_name": filter.school_name,
        "test_date": filter.test_date,
        "student_id": filter.student_id,
        "name": filter.name,
        "test_level": filter.test_level,
        "promote": filter.promote,
        "total": null
      });
      if(_.size(filters) === index+1){
        results.push({
        "gender": filter.gender,
        "school_name": filter.school_name,
        "test_date": filter.test_date,
        "student_id": filter.student_id,
        "name": filter.name,
        "test_level": filter.test_level,
        "promote": filter.promote,        
        "total":  "<b> {% trans "Total"%} &nbsp;&nbsp;&nbsp;= &nbsp; &nbsp;"+one + "&nbsp;{% trans "Pass"%} &nbsp;/&nbsp;" +  zero+ "&nbsp;{% trans "Fail"%} &nbsp;&nbsp; &nbsp;&nbsp; </b>"
        });
      }
    });
  });

$(document).ready(function(){
  $("#site").hide();
  $("#grade").hide();  

  $("select[name='site']").on( "change", function() {
    //alert($(this).find(":selected").val());
    if($(this).val()=="Clear_Search") {
      ClearFilterBySite($(this).val());
      }
    else{
      filterBySite($(this).val());      
    }    
  });
  $("select[name='classroom']").on( "change", function() {
    //alert($(this).find(":selected").val());

    if($(this).val()=="Clear_Search") {
      ClearFilterByGrade($(this).val());($(this).val());      
    }
    else{
      filterByGrade($(this).val());      
    }  
  });

  table = $('#StudentAcademicTable').DataTable({
      data:  results,
      responsive: true,
      lengthMenu: [
            [25, 50, 100, -1],
            [25, 50, 100,'All'],
        ],
      order: [[2,'asc'],[4,'asc']],     
      columns: [
      {data: 'school_name' },           
      { 
        data: 'test_level',
        render:function(data){
         var grade = [];
         grade[-3] = 'K3';
         grade[-2] = 'K4';
         grade[-1] = 'K5';
         grade[1] = 'G1';
         grade[2] = 'G2';
         grade[3] = 'G3';
         grade[4] = 'G4';
         grade[5] = 'G5';
         grade[6] = 'G6';
         grade[51] = 'E1';
         grade[52] = 'E2';
         grade[53] = 'E3';
         grade[54] = 'E4';
         grade[55] = 'E5';
         grade[0] = '';
         if(data==='-3'){data=grade[-3];}                   
         else if(data==='-2'){data=grade[-2];}
         else if(data==='-1'){data=grade[-1];}
         else if(data==='1'){data=grade[1];}
         else if(data==='2'){data=grade[2];}
         else if(data==='3'){data=grade[3];}
         else if(data==='4'){data=grade[4];}
         else if(data==='5'){data=grade[5];}
         else if(data==='6'){data=grade[6];}
         else if(data==='51'){data=grade[51];}
         else if(data==='52'){data=grade[52];}
         else if(data==='53'){data=grade[53];}
         else if(data==='54'){data=grade[54];}
         else if(data==='55'){data=grade[55];}
         else{data=grade[0];} 
 
         return data;
        }
      },
      { 
        data: 'student_id',       
        render:function(data, type, row, meta){
          //console.log(row)
          
          var url = "{% url 'student_detail' 123456 %}";
          return '<a href='+url.replace(/123456/g, row.student_id)+'>'+ row.student_id + ' - '+row.name+'</a>';
        } 
      },
      { data: 'gender' },
      { data: 'test_date'},
      { 
        data: 'promote',
        render:function(data){
          return (data === "1") ? "Pass": 'Fail';
        }
      },
      { data: 'total', visible:false },
    ],
    drawCallback: function(nRow, aData, iDisplayIndex){      
      var api = this.api();
      var rows = api.rows( {page:'current'} ).nodes();

      api.column(6, {page:'current'} ).data().each(function(total, i) {
        if(total){
          $(rows).eq(i).html('<td colspan="6"  class="text-right">'+total+'</td >');
        }
      });
    },
  });

  $('#export-btn').on('click', function(e){    
    e.preventDefault();    
    $("#StudentAcademicTable").table2excel({      
      exclude: ".excludeThisClass",
      name: "EnglishStudentAcademicHistoryReport"
    });
  });  
});
</script>
{% endblock %}
