{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
  {%trans 'Exit Surveys List'%}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="medicalReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Student ID" %}</th>
          <th>{% trans "Exit Date" %}</th>
          <th>{% trans "Grade In VDP When Exit" %}</th>
          <th>{% trans "Public School Grade at Exit" %}</th>
          <th>{% trans "Reason" %}</th>
          <th>{% trans "Comment" %}</th>
          <th>{% trans "Post Exit Survey" %}</th>
        </tr>
        </thead>
        <tbody>
          {% for exit_survey in exit_surveys %}
          <tr>
            <td>{{exit_survey.student_id.site}}</td>
            <td><a href="{% url 'student_detail' exit_survey.student_id.student_id %}">{{exit_survey.student_id}}</a></td>
            <td>{{exit_survey.exit_date}} ({{exit_survey.exit_date | timesince}})</td>
            <td>{{exit_survey.student_id.current_vdp_grade|grade_by_id}}</td>
            <td>{{exit_survey.get_last_grade_display}}</td>
            <td>{{exit_survey.get_early_exit_reason_display}}</td>
            <td>{{exit_survey.early_exit_comment}}</td>
            <td>
              {% if exit_survey.student_id|check_if_already_perform_post_exit:post_exit_surveys %}
                <button class="btn btn-success btn-xs">
                  {% trans "Already Performed" %}
                </button>
              {%else%}
              <a href = "{% url 'post_exit_survey' exit_survey.student_id.student_id %}" class="btn btn-danger btn-xs" role="button">
                {% trans "Perform" %}
              </a>
              {%endif%}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfooter>
          <tr>
            <td>{% trans "Total" %}</td>
            <td colspan="7">{{exit_surveys|length}}</td>
          </tr>
        </tfooter>
      </table>
    </div>

    <div class="col-md-3">
      <form action = "{% url 'exit_surveys_list' %}" method="post">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="form-group">
              <input type="date" name="from_exit_date" class="form-control" id="from_exit_date" required>
            </div>
            <div class="form-group">
              <input type="date" name="to_exit_date" class="form-control" id="to_exit_date" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary form-control">{% trans "Search" %}</button>
            </div>
          </div>
      </form>
    </div>


{% endblock %}

{% block script %}
<script type="text/javascript">
  $('#from_exit_date').val('{{from_exit_date}}');
  $('#to_exit_date').val('{{to_exit_date}}');
  $(document).ready(function(){
    $('#medicalReportTable').DataTable({
        responsive: true,
        pageLength: 25,
        order: [[0,'asc']],
        dom: 'frtipB',
        buttons: [
          {
                   extend: 'csvHtml5',
                   text: 'TSV export <i class="fa fa-download"></i>',
                   className: 'btn btn-sm btn-success',
                   fieldSeparator: '\t',
                   extension: '.tsv',
                   title: 'StudentMedical'
               },

      ]
    });
  });
</script>

{% endblock %}
