{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}
{% load mandefilters %}
{% block title %}
  {% trans "Dashboard" %}
{% endblock %}

{% block content %}
            <div class="row">
                <div class = "col-lg-8">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "VDP Catch up" %}
                          <span id="color_list" style="margin-left:40px;"></span>
                          <div class="pull-right">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                      {% trans "Actions" %}
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu pull-right" role="menu">
                                      <li><a href="#">{% trans "Action" %}</a>
                                      </li>
                                      <li><a href="#">{% trans "Another action" %}</a>
                                      </li>
                                      <li><a href="#">{% trans "Something else here"  %}</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li><a href="#">{% trans "Separated link" %}</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="morris-bar-chart"></div>
                              </div>
                              <!-- /.col-lg-12 (nested) -->
                          </div>
                          <!-- /.row -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "VDP English" %}
                          <span id="color_list_skill" style="margin-left:40px;"></span>
                          <div class="pull-right">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                      {% trans "Actions" %}
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu pull-right" role="menu">
                                      <li><a href="#">{% trans "Action" %}</a>
                                      </li>
                                      <li><a href="#">{% trans "Another action" %}</a>
                                      </li>
                                      <li><a href="#">{% trans "Something else here"  %}</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li><a href="#">{% trans "Separated link" %}</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                            
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <div class="row">
                              <div class="col-lg-12">
                                  <div id="morris-bar-chart-skill"></div>
                              </div>
                              <!-- /.col-lg-12 (nested) -->
                          </div>
                          <!-- /.row -->
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!--add by hok-->
                  <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "VDP Computer" %}
                        <span id="color_list_computer" style="margin-left:40px;"></span>
                        <div class="pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    {% trans "Actions" %}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li><a href="#">{% trans "Action" %}</a>
                                    </li>
                                    <li><a href="#">{% trans "Another action" %}</a>
                                    </li>
                                    <li><a href="#">{% trans "Something else here"  %}</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li><a href="#">{% trans "Separated link" %}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="morris-bar-chart-computer"></div>
                            </div>
                            <!-- /.col-lg-12 (nested) -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- end-->
                  <div class="container" style="padding-bottom:30px;">
                      <div style="color:blue;">
                        <h3>{% trans "All Amount Student in Catch up school & skill" %}</h3>
                        <h4>{% trans "Total" %} : {% blocktrans %}{{all_students}} Students{% endblocktrans %} {% blocktrans %}({{total_female}} female){% endblocktrans %}</h4>
                      </div>
                      {% trans "Catch up" %} : {% blocktrans %}{{total_catchup}} Students{% endblocktrans %} &nbsp;|&nbsp; {% trans "English" %} : {% blocktrans %}{{total_english}} Students {% endblocktrans %} &nbsp; | &nbsp; {% trans "Computer" %} : {% blocktrans %}{{total_computer}} Students {% endblocktrans %}
                  </div>
                  <!-- /.panel -->

                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "VDP at a Glance" %}
                          <div class="pull-right">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                      {% trans "Overview" %}
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu pull-right" role="menu">
                                      <li><a data-target="catchup_gender_panel" data-id="catchup_gender_panel" data-panel="objectives">{% trans "Catch Up Students" %}</a>
                                      </li>
                                      <li><a data-target="english_gender_panel" data-id="english_gender_panel" data-panel="objectives">{% trans "English Students" %}</a>
                                      </li>
                                      <li><a data-target="skills_panel" data-id="skills_panel" data-panel="objectives">{% trans "Objectives breakdown" %}</a>
                                      </li>
                                      <li><a href="#">{% trans "Something else here" %}</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li><a href="#">{% trans "Separated link" %}</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- /.panel-heading -->
                      <div id="catchup_gender_panel" class="panel-body">
                          <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover">
                              <tr><td colspan=3>{% trans "Catch Up Students" %}: <strong>{{total_catchup}}</strong>{% blocktrans %} ({{total_catchup_female}} female){% endblocktrans %}</td></tr>
                              <tr><td>
                              {% for school,attributes in catchup_gender_breakdown.items %}
                              <div class="col-md-4">
                              <strong>{{school}} <br/>({% trans "total" %}: {{attributes.Total}})</strong>
                                <div id="morris-donut-chart-{{school}}"></div>
                              </div>
                              {% endfor %}
                              </td></tr>
                            </table>
                            <div class ="table-responsive">
                              <table class="table table-striped table-bordered table-hover">
                                <tr><td colspan=12>{% trans "At Age Appropriate Grade Level" %}/<strong>{% trans "Total" %}</strong>:</td></tr>
                                <tr>
                                {% for key, value in students_by_grade.items %}
                                    <td><strong>{{key | grade_by_id }}</strong></td>
                                {% endfor %}
                              </tr>
                                <tr>
                                  {% for key, value in students_by_grade.items %}
                                      {% with atgl=students_at_gl_by_grade|get_item:key %}
                                      <td>{{atgl}}/<strong>{{value}}<br/> <small>({% widthratio atgl value 100 %}%)</small></strong></td>
                                      {% endwith %}
                                  {% endfor %}
                                </tr>
                              </table>
                            </div>
                          </div>

                      </div>
                      <!-- /.panel-body -->
                      <div id="english_gender_panel" class="panel-body">
                          <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover">
                              <tr><td colspan=3>{% trans "English Students" %}: <strong>{{total_english}}</strong>{% blocktrans %} ({{total_english_female}} female){% endblocktrans %}</td></tr>
                              <tr><td>
                              {% for school,attributes in english_gender_breakdown.items %}
                              <div class="col-md-4">
                              <strong>{{school}} <br/>({% trans "total" %}: {{attributes.Total}})</strong>
                                <div id="morris-donut-chart-english-{{school}}"></div>
                              </div>
                              {% endfor %}
                              </td></tr>
                            </table>
                          </div>
                      </div>
                      <div id="skills_panel" class="panel-body" style="display:none">
                          <div class="col-md-12">
                            <table class="table table-striped table-bordered table-hover">
                              <tr><td colspan=3>{% trans "Students" %}: <strong>{{all_students}}</strong> {% blocktrans %}({{total_skills}} Skills Training){% endblocktrans %}</td></tr>
                              <tr><td>
                              {% for school,attributes in program_breakdown.items %}
                              <div class="col-md-4">
                              <strong>{{school}} <br/>({% trans "total" %}: {{attributes.Total}})</strong>
                                <div id="morris-donut-chart1-{{school}}"></div>
                              </div>
                              {% endfor %}
                              </td></tr>
                            </table>
                          </div>

                      </div>
                      <!-- /.panel-body -->
                      <!-- /.panel-body computer -->
                      <div id="computer_gender_panel" class="panel-body">
                        <div class="col-md-12">
                          <table class="table table-striped table-bordered table-hover">
                            <tr><td colspan=3>{% trans "Computer Students" %}: <strong>{{total_computer}}</strong>{% blocktrans %} ({{total_computer_female}} female){% endblocktrans %}</td></tr>
                            <tr><td>
                            {% for school,attributes in computer_gender_breakdown.items %}
                            <div class="col-md-4">
                            <strong>{{school}} <br/>({% trans "total" %}: {{attributes.Total}})</strong>
                              <div id="morris-donut-chart-computer-{{school}}"></div>
                            </div>
                            {% endfor %}
                            </td></tr>
                          </table>
                        </div>
                    </div>
                    <div id="computers_panel" class="panel-body" style="display:none">
                        <div class="col-md-12">
                          <table class="table table-striped table-bordered table-hover">
                            <tr><td colspan=3>{% trans "Students" %}: <strong>{{all_students}}</strong> {% blocktrans %}({{total_skills}} Skills Training){% endblocktrans %}</td></tr>
                            <tr><td>
                            {% for school,attributes in program_breakdown.items %}
                            <div class="col-md-4">
                            <strong>{{school}} <br/>({% trans "total" %}: {{attributes.Total}})</strong>
                              <div id="morris-donut-chart1-{{school}}"></div>
                            </div>
                            {% endfor %}
                            </td></tr>
                          </table>
                        </div>

                    </div>
                    <!-- /.panel-body -->
                  </div>
                </div>
                <!-- /.col-lg-8 -->
                <div class = "col-lg-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "Anomalous Data" %}
                          <div class="pull-right">
                              <div class="btn-group">
                                  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                      {% trans "Unapproved Absences" %}
                                      <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu pull-right" role="menu">
                                      <li><a data-target="absence_panel" data-id="absence_panel" data-panel="anamolous">{% trans "Unapproved Absences" %}</a>
                                      </li>
                                      <li><a href="#">{% trans "Something else here" %}</a>
                                      </li>
                                      <li class="divider"></li>
                                      <li><a href="#">{% trans "Separated link" %}</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                      <!-- /.panel-heading -->

                      <div id="absence_panel" class="panel-body" style="display:none">
                        <table class="table table-bordered table-striped table-hover" id="unapprovedAbsenceNoCommentTable" >
                          <thead>
                            <tr>
                              <th>{% trans "Date" %}</th><th>{% trans "Site" %}</th><th>{% trans "Student" %}</th>
                            </tr>
                          </thead>
                          {% for student in unapproved_absence_no_comment %}
                          <tr>
                              <td>{{student.date|date:"Y-m-d"}}</td>
                              <td>{{student.student_id.site}}</td>
                              {% if student.classroom.classroom_id != None %}
                              <td><a href="{% url 'take_class_attendance' student.classroom.classroom_id student.date|date:'Y-m-d' %}" role="button" class="btn btn-xsmall btn-success">{{student.student_id.student_id}}</a></td>
                              {% endif %}
                              {% if student.classroom.classroom_id == None %}
                              <td>{{student.student_id.student_id}}</td>
                              {% endif %}
                          </tr>
                          {% endfor %}
                        </table>
                      </div>
                  </div>
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bell fa-fw"></i> {% trans "Recent Activity" %}
                      </div>
                      <!-- /.panel-heading -->
                      <div class="panel-body">
                          <div class="list-group">
                            {% for notification in notifications %}

                              <a href="#" class="list-group-item">
                                  <i class="fa {{notification.font_awesome_icon}} fa-fw"></i> {{notification.text}}
                                  <span class="pull-right text-muted small">
                                    <em>{{notification.date|timesince}} ago by {{notification.user}}</em>
                                  </span>
                              </a>
                            {% endfor %}
                          </div>
                          <!-- /.list-group -->
                          <a href="{% url 'notification_log' %}" class="btn btn-default btn-block">{% trans "View All Alerts" %}</a>
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <i class="fa fa-bar-chart-o fa-fw"></i> {% trans "Students at Grade Level" %}
                      </div>
                      <div class="panel-body">
                          <div id="morris-area-chart"></div>
                          <a href="#" class="btn btn-default btn-block">{% trans "View Details" %}</a>
                      </div>
                      <!-- /.panel-body -->
                  </div>
                  <!-- /.panel -->
                </div>
            </div>
            <!-- /.row -->
{% endblock %}

{% block script %}
   <script src="/static/mande/js/js.cookie.js"></script>

    <script type="text/javascript">

    $(document).ready(function(){
      $('#unenrolledStudentsTable').DataTable({
          responsive: true,
          pageLength: 5,
          searching: false,
          bLengthChange: false,
      });
      $('#unapprovedAbsenceNoCommentTable').DataTable({
          responsive: true,
          pageLength: 5,
          searching: false,
          bLengthChange: false,
      });

      <!-- Add custom js to toggle panels with action links -->
      $('a').click(function() {
    	  if ($(this).attr('data-id') != undefined) {
    		  var panel = $(this).attr('data-id');
    		  $(this).closest('.panel-default').find('.panel-body').hide();
    		  $('#' + panel).show();
    		  $(window).trigger('resize');
    		  $(this).closest('.panel-default').find('button.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');

    		  // Create cookie to save preference
    		  if ($(this).attr('data-panel') != undefined) {
            var cookie_name = $(this).attr('data-panel') + '_cookie';
    		    Cookies.set(cookie_name, panel, { expires: 7 });
    		  }
    	  }
      });

      // Check cookies for panel settings
      var cookies_array = [];
      $('a[data-panel]').each(function() {
        var search_cookie_name = $(this).attr('data-panel') +'_cookie';
        if ($.inArray(search_cookie_name, cookies_array) < 0) {
          cookies_array.push(search_cookie_name);
        }
      });
      $.each(cookies_array, function( index, value ) {
        var cookie_value = Cookies.get(value);
        if (cookie_value != undefined) {
          $('a[data-id="'+cookie_value+'"]').click();
        }
      });
    });

      $(function() {
          var colors = {'VDP-PKPN':'#0b62a4','VDP-TK':'#7a92a3','VDP-PPT':'#4da74d','VDP-KR':'#afd8f8','VDP-PT':'#7A0071','VDP-TT':'#BA1200'};
          var colors_skill = {'E':'#4da74d'};
          var colors_computer = {'C':'#4da74d'};

          {% for site in schools %}
          $('<canvas style="width:15px;height:15px;background:'+colors['{{site}}']+';"></canvas> <span style="margin-right:15px;">{{site}}</span>').appendTo("#color_list");
          $('<canvas style="width:15px;height:15px;background:'+colors['{{site}}']+';"></canvas> <span style="margin-right:15px;">{{site}}</span>').appendTo("#color_list_skill");
          $('<canvas style="width:15px;height:15px;background:'+colors['{{site}}']+';"></canvas> <span style="margin-right:15px;">{{site}}</span>').appendTo("#color_list_computer");
          {% endfor %}

          {% for school,attributes in catchup_gender_breakdown.items %}
            Morris.Donut({
                element: 'morris-donut-chart-{{school}}',
                data: [
                    {
                        label: "M",
                        value: {{attributes.M}},
                    },
                    {
                        label: "F",
                        value: {{attributes.F}},
                    },
                ],
                resize: true,
                colors: ['#337ab7','#d9534f']
            });
          {% endfor %}

          {% for school,attributes in english_gender_breakdown.items %}
            Morris.Donut({
                element: 'morris-donut-chart-english-{{school}}',
                data: [
                    {
                        label: "M",
                        value: {{attributes.M}},
                    },
                    {
                        label: "F",
                        value: {{attributes.F}},
                    },
                ],
                resize: true,
                colors: ['#008000','#008080']
            });
          {% endfor %}

          {% for school,attributes in computer_gender_breakdown.items %}
            Morris.Donut({
                element: 'morris-donut-chart-computer-{{school}}',
                data: [
                    {
                        label: "M",
                        value: {{attributes.M}},
                    },
                    {
                        label: "F",
                        value: {{attributes.F}},
                    },
                ],
                resize: true,
                colors: ['#008000','#008080']
            });
          {% endfor %} 


          {% for school,attributes in program_breakdown.items %}
            Morris.Donut({
                element: 'morris-donut-chart1-{{school}}',
                data: [
                    {
                        label: "Skills",
                        value: {{attributes.Skills}},
                    },
                    {
                        label: "Grades",
                        value: {{attributes.Grades}},
                    },
                ],
                resize: true,
                colors: ['#4DA74D','#7A92A3']
            });
          {% endfor %}

          Morris.Bar({
              element: 'morris-bar-chart',
              data: [
                {% for grade, population in students_by_grade_by_site.items %}
                  {
                      y: '{{grade | grade_by_id}}',
                      {% for site,students in population.items %}
                        '{{site}}': {{students}},
                      {% endfor %}
                  },
                {% endfor %}
              ],
              xkey: 'y',
              ykeys: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              labels: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              hideHover: 'auto',
              resize: true,
              barColors: function (row, series, type) {
                if (series.key in colors){
                    return colors[series.key];
                }
                else{
                    return "#fec04c";
                }
              }
          });
          Morris.Bar({
              element: 'morris-bar-chart-skill',
              data: [
                {% for grade, population in students_by_skill_by_site.items %}
                  {
                      y: '{{grade | grade_by_id}}',
                      {% for site,students in population.items %}
                        '{{site}}': {{students}},
                      {% endfor %}
                  },
                {% endfor %}
              ],
              xkey: 'y',
              ykeys: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              labels: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              hideHover: 'auto',
              resize: true,
              barColors: function (row, series, type) {
                if (series.key in colors){
                    return colors[series.key];
                }
                else{
                    return "#fec04c";
                }
              }
          });

           //add by hok
           Morris.Bar({
              element: 'morris-bar-chart-computer',
              data: [
                {% for grade, population in students_by_computer_by_site.items %}
                  {
                      y: '{{grade | grade_by_id}}',
                      {% for site,students in population.items %}
                        '{{site}}': {{students}},
                      {% endfor %}
                  },
                {% endfor %}
              ],
              xkey: 'y',
              ykeys: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              labels: [
                {% for school in schools %}'{{school.school_name}}',{% endfor %}
              ],
              hideHover: 'auto',
              resize: true,
              barColors: function (row, series, type) {
                if (series.key in colors){
                    return colors[series.key];
                }
                else{
                    return "#fec04c";
                }
              }
          });
          //end

      });

    </script>
{% endblock %}
