{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
  {% if student %}
    {% blocktrans %}Editing Intake Survey for {{student}}{% endblocktrans %}
  {% else %}
    {% trans "Performing Intake Survey" %}
  {% endif %}
{% endblock %}

{% block content %}

<div class="col-md-12">
    {% for field, errors in form.errors.items %}
      {% if field == "__all__" %}
          <ul style="color:red; list-style: none; padding-left: 10px;">
          {% for error in errors %}
              <li>{{error}}</li>
          {% endfor%}
          </ul>
      {%endif%}
    {% endfor%}

{% if student %}
<form action = "{% url 'intake_survey' student.student_id %}?next={{next_url}}&limit={{limit}}" method="post">
{% else %}
<form action = "{% url 'intake_survey' %}" method="post">
{% endif %}
    <div class="col-md-6">
      {{ form.date.as_hidden}}
      {% bootstrap_field form.site placeholder=False %}
      {% bootstrap_field form.name placeholder=False %}
      {% bootstrap_field form.dob placeholder=False %}
      {% bootstrap_field form.pob placeholder=False %}
      {% bootstrap_field form.gender placeholder=False %}
      {% bootstrap_field form.address placeholder=False %}
      {% bootstrap_field form.guardian1_name placeholder=False %}
      {% bootstrap_field form.guardian1_relationship placeholder=False %}
      {% bootstrap_field form.guardian1_phone placeholder=False %}
      {% bootstrap_field form.guardian1_profession placeholder=False %}
      {% bootstrap_field form.guardian1_employment placeholder=False %}
      {% bootstrap_field form.guardian2_name placeholder=False %}
      {% bootstrap_field form.guardian2_relationship placeholder=False %}
      {% bootstrap_field form.guardian2_phone placeholder=False %}
      {% bootstrap_field form.guardian2_profession placeholder=False %}
      {% bootstrap_field form.guardian2_employment placeholder=False %}
      {% bootstrap_field form.minors placeholder=False %}
      {% bootstrap_field form.minors_in_public_school placeholder=False %}
      {% bootstrap_field form.minors_in_other_school placeholder=False %}
      {% bootstrap_field form.notes placeholder=False %}
    </div>
    <div class="col-md-6">
      {% bootstrap_field form.enrollment_date placeholder=False %}
      {% bootstrap_field form.starting_grade placeholder=False %}
      {% csrf_token %}
      <div class="form-group" style="text-align:right;">
        <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
      </div>
    </div>

</form>
</div>
<div class="col-md-3"></div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  var data_guardian_profession = {{ data_guardian_profession | safe }}
  $("#id_guardian1_profession,#id_guardian2_profession" ).autocomplete({
      source: data_guardian_profession
  });

  var limit = 'id_{{limit}}';
  if(limit !== 'id_None'){
    //loop through all form groups and hide everything but our limit
    $('.form-group').each(function(index){
      if(!$(this).find($('#id_{{limit}}')).length){
        $(this).hide();
      }
    });
  }
});
</script>

{% endblock %}
