{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
{% trans "Performing Intake Update" %} - {{survey.name}}
{% endblock %}

{% block content %}

<div class="col-md-3"></div>
<div class="col-md-6">
<form action = "{% url 'intake_update' student_id %}?next={{next}}&tab={{tab}}" method="post">
    {% bootstrap_form form set_placeholder=False %}
    {% csrf_token %}
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">{% trans 'Submit'%}</button>
    </div>
</form>
</div>
<div class="col-md-3"></div>
{% endblock %}
{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  var student_id = {{student_id}}
  if(student_id == 0){
      $("#id_student_id").closest('.form-group').show();
  }
  else{
      $("#id_student_id").closest('.form-group').hide();
  }
  var data_guardian_profession = {{ data_guardian_profession | safe }}
  $("#id_guardian1_profession,#id_guardian2_profession" ).autocomplete({
      source: data_guardian_profession
  });
});
</script>

{% endblock %}
