{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% blocktrans %}M&E Summary Report in {{start_view_date}} to {{view_date}}{% endblocktrans %}
{% endblock %}

{% block content %}
    <div class="col-md-9">
      <h3>{% trans "Catch-up school" %}</h3>
      <table>
        <tr>
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
            <tr><th>&nbsp;</th></tr>
            <tr><td>&nbsp;</td></tr>
            {% for key,grade in grades_level %}
                <tr>
                  <td>
                    {{grade}}
                  </td>
                </tr>
            {% endfor %}
            <tr><td>{% trans 'Total' %}</td></tr>
          </table>
        </td>
        {%for school,value in students_by_site_grade.items%}
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
            <tr>
              <th colspan="2">{{school}}</th>
            </tr>
            <tr>
              <td>{% trans "Boys" %}</td><td>{% trans "Girls" %}</td>
            </tr>
            {%for key,data in value.items%}
            <tr>
              <td>{{data.M.data}}</td><td>{{data.F.data}}</td>
            </tr>
            {%endfor%}
          </table>
        </td>
        {%endfor%}
      </tr>
      </table>
    </div>
    <div class="col-md-3">
      <form method="post" action="{% url 'mande_summary_report' %}">
          {% csrf_token %}
          <div class="col-md-12">
            <div class="form-group">
              <input type="date" name="start_view_date" class="form-control" id="start_view_date" required>
            </div>
            <div class="form-group">
              <input type="date" name="view_date" class="form-control" id="view_date" required>
            </div>
            <div class="form-group">
              <button id="submit" class="form-control btn btn-primary">{% trans "Submit" %}</button>
            </div>
          </div>
      </form>
    </div>
    <div class="col-md-9">
      <h3>{% trans "Students enrolled in English" %}</h3>
      <table>
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
            <tr><th>&nbsp;</th></tr>
            <tr><td>&nbsp;</td></tr>
            {% for l in english_level %}
                <tr>
                  <td>
                    {% with level=l|grade_by_id%}
                    {% trans level%}
                    {% endwith %}
                  </td>
                </tr>
            {% endfor %}
            <tr>
              <td>{% trans "Total" %}</td>
            </tr>
          </table>
        </td>
        {%for school,value in students_enrolled_in_english_by_level.items%}
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
            <tr>
              <th colspan="2">{{school}}</th>
            </tr>
            <tr>
              <td>{% trans "Boys" %}</td><td>{% trans "Girls" %}</td>
            </tr>
            {%for key,data in value.items%}
            <tr>
              <td>{{data.M}}</td><td>{{data.F}}</td>
            </tr>
            {% endfor %}
          </table>
        </td>
        {%endfor%}
        </tr>
      </table>
    </div>
    <div class="col-md-12">
        <h3>{% trans "Total Students" %}</h3>
        <table>
          <tr>
            {%for school,value in students_by_site.items%}
            <td>
              <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
                <tr>
                  <th colspan="2">{{school}}</th>
                </tr>
                <tr>
                  <td>{% trans "Boys" %}</td><td>{% trans "Girls" %}</td>
                </tr>
              </tr>
              <tr>
                <td>{{value.M}}</td>
                <td>{{value.F}}</td>
              </tr>
              </table>
            </td>
            {%endfor%}
          </tr>
        </table>
    </div>
    <div class="col-md-12">
        <h3>{% trans "Achieved age appropriate level" %}</h3>
        <table>
          <td>
            <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
              <tr><th>&nbsp;</th></tr>
              <tr><th>{% trans 'Grade' %}&nbsp;<br/><br/></th></tr>
              {% for key,grade in grades_level %}
                  <tr>
                    <td>
                       {{grade}}
                    </td>
                  </tr>
              {% endfor %}
              <tr><td>{% trans 'Total' %}</td></tr>
            </table>
          </td>
          {% for school,value in students_by_site_grade.items %}
          <td>
            <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
                <tr>
                  <th colspan="4">{{school}}</th>
                </tr>
                <tr>
                  <td>{% trans "Boys" %}</td><td>% {% trans "of total" %}</td>
                  <td>{% trans "Girls" %}</td><td>% {% trans "of total" %}</td>
                </tr>
                {%for key,data in value.items%}
                <tr>
                  <td>{{data.M.age_appropriate}}</td>
                  <td>{% widthratio data.M.age_appropriate data.M.data 100 %}%</td>
                  <td>{{data.F.age_appropriate}}</td>
                  <td>{% widthratio data.F.age_appropriate data.F.data 100 %}%</td>
                </tr>
                {%endfor%}
              </table>
            </td>
            {% endfor %}
          </tr>
        </table>
    </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    $('#view_date').val('{{view_date}}');
    $('#start_view_date').val('{{start_view_date}}');
    $(function() {
          $('#submit').click(function() {
              //split on /
              url = '{%url 'mande_summary_report' %}' + $('#start_view_date').val() + '/' +$('#view_date').val();
              window.location.href = url;
              return false;
          });
        });
</script>
{% endblock %}
