{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Notification Log" %}
{% endblock %}

{% block content %}
<table id="log" class="table table-bordered table-striped table-hover">
  <thead>
    <tr><th>{% trans "Type" %}</th><th>{% trans "Date" %}</th><th>{% trans "User" %}</th><th>{% trans "Action" %}</th></tr>
  <thead>
  <tbody>
{% for notification in notifications %}
      <tr>
          <td><i class="fa {{notification.font_awesome_icon}} fa-fw"></i></td>
          <td>{{notification.date}}</td>
          <td>{{notification.user}}</td>
          <td>{{notification.text}}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
 $('#log').DataTable({
     responsive: true,
     pageLength: 25,
 });
});
</script>
{% endblock %}
