{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block title %}
{% trans "Post-Exit Survey Eligible Students" %}
{% endblock %}

{% block content %}
<table class="table table-bordered table-striped table-hover" id="exitSurveyTable">
  <thead><tr>
    <th>{% trans "Site" %}</th>
    <th>{% trans "Date of Exit" %}</th>
    <th>SID</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Perform" %}</th>
  </thead>
  <tbody>
{% for exitsurvey in exitsurveys %}
  <tr>
    <td>{{exitsurvey.student_id.site}}
    <td>{{exitsurvey.exit_date}}</td>
    <td><a href = "{% url 'student_detail' exitsurvey.student_id.student_id %}">{{exitsurvey.student_id.student_id}}</a></td>
    <td>{{exitsurvey.student_id.name}}</td>
    <td><a href = "{% url 'post_exit_survey' exitsurvey.student_id.student_id %}" class="btn btn-danger btn-xs" role="button">{% trans "Perform Post-Exit Survey" %}</a></td>
  </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript">

$(document).ready(function(){
  $('#exitSurveyTable').DataTable({
      responsive: true,
      pageLength: 25,
  });
});
</script>

{% endblock %}
