{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Public School Report" %}
{% if academic_year and academic_year != '0'  %}
    {{academic_year}}-{{academic_year|add:1}}
{% endif %}
{% if number%}
    ({{number}})
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="publicSchoolReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Student" %}</th>
          <th>{% trans "VDP Grade" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Status" %}</th>
          <th>{% trans "From Date" %}</th>
          <th>{% trans "To Date" %}</th>
          <th>{% trans "Public School Grade" %}</th>
          <th>{% trans "Public School Name" %}</th>
          <th>{% trans "Reason Not Attend Public School" %}</th>
        </tr></thead>
        <tbody>
          {% for pschool in pschools %}
              <tr>
                  <td>{{ pschool.student_id.site }}</td>
                  <td><a href="{% url 'student_detail' pschool.student_id.student_id %}">{{ pschool.student_id }}</a></td>
                  <td>{{ pschool.student_id.current_vdp_grade | grade_by_id}}</td>
                  <td>
                    {% with classroom=pschool.student_id|student_classroom%}
                      {% if classroom|length > 0%}
                        {% for classroom in pschool.student_id|student_classroom %}
                           {{classroom.classroom_id.classroom_number}}
                          {% if not forloop.last %}
                          ,<br/>
                          {% endif %}
                        {% endfor%}
                      {% else %}
                        N/A
                      {% endif %}
                    {% endwith %}
                  </td>
                  <td>{{ pschool.status | yn_display}}</td>
                  <td>{{ pschool.enroll_date }}</td>
                  <td>{{ pschool.drop_date }}</td>
                  <td>{{ pschool.grade | public_school_grade_display}}</td>
                  <td>{{ pschool.school_name }}</td>
                  <td>{{ pschool.reasons }}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
<div class="col-md-3">
    <div class="col-md-12">
        <ul style="list-style:none; padding:0;">
            <li>
                {% trans "Academic Date" %}
            </li>
            <li>
                <div class="controls form-inline">
                    <select class="form-control" id="start_month" data-toggle="tooltip" data-placement="top" title="Start Date">
                        {% for month in months %}
                        <option value="{{month.0}}">{{month.1}}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" id="start_day" data-toggle="tooltip" data-placement="top" title="Start Date">
                        {% for i in days %}
                        <option value="{{i|stringformat:'02d'}}">{{i|stringformat:"02d"}}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
        </ul>

        <ul style="list-style:none; padding:0;">
            <li>
                <div class="controls form-inline">
                    <select class="form-control" id="end_month" data-toggle="tooltip" data-placement="top" title="End Date">
                        {% for month in months %}
                        <option value="{{month.0}}">{{month.1}}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" id="end_day" data-toggle="tooltip" data-placement="top" title="End Date">
                        {% for i in days %}
                        <option value="{{i|stringformat:'02d'}}">{{i|stringformat:"02d"}}</option>
                        {% endfor %}
                    </select>
                </div>
            </li>
        </ul>
        <ul style="list-style:none; padding:0;">
          <li>
              <input class="btn btn-success" id="set_academic_date" type="button" value="{% trans 'Set Academic date' %}" onclick="set_academic_date()"/>
          </li>
        </ul>
        <ul style="list-style:none; padding:0;">
          <li>
              {% trans "Academic Year" %}
          </li>
          <li>
              <select class="form-control" id="select_year">
                  <option value="0">{% trans "All" %}</option>
                  {% for year in academic_years%}
                      <option value="{{year}}">{{year}}-{{year|add:1}}</option>
                  {% endfor%}
              </select>
          </li>
        </ul>
        <ul style="list-style:none; padding:0;">
          <li>
              {% trans "Number of Survey" %}
          </li>
          <li>
              <input class="form-control" id="search_survey_time" type="number" placeholder="{% trans 'Input Number of Survey' %}"/>
          </li>
        </ul>
        <ul style="list-style:none; padding:0;">
          <li>
              <input class="btn btn-success" id="submit_number" type="button" value="{% trans 'Search' %}" onclick="submit_number()"/>
              <a class="btn btn-warning" href="{% url 'public_school_report' academic_year start_date end_date%}" type="button">{% trans 'Clear Search' %}</a>

          </li>
        </ul>
    </div>
  <div class="col-md-12" id="filtered">
    <b>{% trans "Filter by:" %}</b>
    <div>
      <input id="site" type="button" class="btn btn-sm btn-success" value="Site">
      <input id="grade" type="button" class="btn btn-sm btn-success" value="Grade">
    </div>
  </div>
  <div class="col-md-6">
    <b>{% trans "Site" %}</b>
    <ul class = "buttonlist">
    {% for site in sites %}
      <li> <a class="btn btn-sm btn-warning" onclick ="filterBySite('{{site}}')" href='#'>{{site}}</a></li>
    {% endfor %}
    <li><a role = "button" class="btn btn-sm btn-warning" onclick="ClearFilterBySite()" href="#">{% trans "Clear Search" %}</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <b>{% trans "Grade" %}</b>
    <ul class = "buttonlist">
    {% for value,key in grades.items %}
      <li> <a class="btn btn-sm btn-warning" onclick ="filterByGrade('{{key|escapejs}}')" href='#'>{{key}}</a></li>
    {% endfor %}
    <li><a role = "button" class="btn btn-sm btn-warning" onclick="ClearFilterByGrade()" href="#">{% trans "Clear Search" %}</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block script %}
 <!-- DataTables JavaScript and filter-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script type="text/javascript">
$("#select_year").val({{academic_year}});

var start = "{{start_date}}";
var end  = "{{end_date}}";
$("#start_month").val(start.substr(0, 2));
$("#start_day").val(start.substr(start.lastIndexOf("-")+1,2));
$("#end_month").val(end.substr(0, 2));
$("#end_day").val(end.substr(end.lastIndexOf("-")+1,2));

var number = "{{number}}"
if (number && number !="None"){
    $("#search_survey_time").val({{number}});
}

$('#select_year').on('change', function() {
    var selected_year = this.value;

    if (number && number !="None"){
        url = '{%url 'public_school_report' %}'+ selected_year + '/{{start_date}}/{{end_date}}/' + number
    }
    else {
        url = '{%url 'public_school_report' %}'+ selected_year + '/{{start_date}}/{{end_date}}'

    }
    window.location.href = url;
})

function submit_number(){
    var academic_year = {{academic_year}}
    number = $('#search_survey_time').val()
    if(number){
          url = '{%url 'public_school_report' %}'+ academic_year + '/{{start_date}}/{{end_date}}/' + number
          window.location.href = url;

    }
    else{
        alert("Please input a number!")
    }

}

function set_academic_date(){
    var start_month = $('#start_month').val()
    var start_day = $('#start_day').val()
    var end_month = $('#end_month').val()
    var end_day = $('#end_day').val()

    var start_date = start_month + '-' + start_day
    var end_date = end_month + '-' + end_day

    if (moment('2015-'+start_date).isValid()  &&  moment('2015-'+end_date).isValid()){
        if (number && number !="None"){
            url = '{%url 'public_school_report' %}' + '{{academic_year}}/' + start_date +'/' + end_date + '/' + number
        }
        else{
            url = '{%url 'public_school_report' %}' + '{{academic_year}}/' + start_date +'/' + end_date
        }
        window.location.href = url;
    }
    else{
        alert('Invalid Date');
    }
}

var table = null
function filterBySite(search_value){
  table.columns(0).search(search_value).draw();
  $("#site").val(search_value);
  $("#site").show();
}
function ClearFilterBySite(){
  table.columns(0).search('').draw();
  $("#site").val("Site");
  $("#site").hide();
}
function filterByGrade(search_value){
  if (search_value=='English' || search_value=='Vietnamese'){
      table.columns(2).search(search_value[0]).draw();
  }
  else{
      table.columns(2).search(search_value).draw();
  }
  $("#grade").val(search_value);
  $("#grade").show();
}
function ClearFilterByGrade(){
  table.columns(2).search('').draw();
  $("#grade").val("Grade");
  $("#grade").hide();
}
$(document).ready(function(){
  $("#site").hide();
  $("#grade").hide();

  table = $('#publicSchoolReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'PublicSchoolReport'
             },

    ]
  });
});
</script>

{% endblock %}
