{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load mandefilters %}
{% block title %}
{% trans action %} {% trans 'a Public School History for'%} {{student_id|name_by_sid}}
{% endblock %}
{% block content %}
<div class="col-md-9">
<form method="post">
    {% csrf_token %}
    {{form.student_id.as_hidden}}
    {% bootstrap_field form.status placeholder=False %}
    {% bootstrap_field form.enroll_date placeholder=False %}
    {% bootstrap_field form.drop_date placeholder=False %}
    {% bootstrap_field form.grade placeholder=False %}
    {% bootstrap_field form.school_name placeholder=False %}
    {% bootstrap_field form.reasons placeholder=False %}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
      <button type="submit" class="btn btn-warning" name="cancel" style="float:right;">{% trans 'Cancel' %}</button>
    </div>
</form>
</div>
<div style="color:red;" class="col-md-3">
  {% if form.errors%}
    {{form.non_field_errors}}
  {% endif %}
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
    var data_public_schools = {{ data_public_schools | safe }}
    $("#id_school_name" ).autocomplete({
        source: data_public_schools
    });

    $("#id_grade").closest('.form-group').hide();
    $("#id_school_name").closest('.form-group').hide();
    $("#id_reasons").closest('.form-group').hide();
    var status = $("#id_status").val();
    if(status == 'Y' ){
      $("#id_grade").closest('.form-group').show();
      $("#id_school_name").closest('.form-group').show();
    }
    else{
      $("#id_reasons").closest('.form-group').show();
    }

    $("#id_status").change(function(){
      var status = $("#id_status").val();
      if(status == 'Y' ){
        // show required field
        $("#id_grade").closest('.form-group').show();
        $("#id_school_name").closest('.form-group').show();
        // hide not required field
        $("#id_reasons").closest('.form-group').hide();

      }
      else{
        // show required field
        $("#id_reasons").closest('.form-group').show();
        // hide not required field
        $("#id_grade").closest('.form-group').hide();
        $("#id_school_name").closest('.form-group').hide();
      }
    });
  });
</script>
{% endblock %}
