{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Spiritual Survey Report" %}
{% if academic_year and academic_year != '0'  %}
    {{academic_year}}-{{academic_year|add:1}}
{% endif %}
{% if number%}
    ({{number}})
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="SpiritualSurveyReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Student" %}</th>
          <th>{% trans "VDP Grade" %}</th>
          <th>{% trans "Description" %}</th>
          <th>{% trans "Survey Date" %}</th>
          <th>{% trans "Did the student attend church within the past 6 months?" %}</th>
          <th>{% trans "Frequency of Attending" %}</th>
          <th>{% trans "Church Name" %}</th>
        </tr></thead>
        <tbody>
            {% for survey in spiritual_surveys %}
                <tr>
                    <td>{{ survey.student_id.site }}</td>
                    <td><a href="{% url 'student_detail' survey.student_id.student_id %}">{{ survey.student_id }}</a></td>
                    <td>{{ survey.student_id.current_vdp_grade | grade_by_id}}</td>
                    <td>
                      {% with classroom=survey.student_id|student_classroom%}
                        {% if classroom|length > 0%}
                          {% for classroom in survey.student_id|student_classroom %}
                             {{classroom.classroom_id.classroom_number}}
                            {% if not forloop.last %}
                            ,<br/>
                            {% endif %}
                          {% endfor%}
                        {% else %}
                          N/A
                        {% endif %}
                      {% endwith %}
                    </td>
                    <td>{{ survey.date }}</td>
                    <td>{{ survey.personal_attend_church | yn_display}}</td>
                    <td>{{ survey.frequency_of_attending | frequency_display}}</td>
                    <td>{{ survey.church_name}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>
<div class="col-md-3">
    <div class="col-md-12">
        <ul style="list-style:none; padding:0;">
          <li>
              {% trans "Academic Year" %}
          </li>
          <li>
              <select class="form-control" id="select_year">
                  <option value="0">{% trans "All" %}</option>
                  {% for year in academic_years%}
                      <option value="{{year}}">{{year}}-{{year|add:1}}</option>
                  {% endfor%}
              </select>
          </li>
        </ul>
        <ul style="list-style:none; padding:0;">
          <li>
              {% trans "Number of Survey" %}
          </li>
          <li>
              <input class="form-control" id="search_survey_time" type="number" placeholder="{% trans 'Input Number of Survey' %}"/>
          </li>
        </ul>
        <ul style="list-style:none; padding:0;">
          <li>
              <input class="btn btn-success" id="submit_number" type="button" value="{% trans 'Search' %}" onclick="submit_number()"/>
              <a class="btn btn-warning" href="{% url 'spiritual_survey_report' academic_year %}" type="button">{% trans 'Clear Search' %}</a>

          </li>
        </ul>
        <ul style="list-style:none; padding:0;">
          <li>
          </li>
        </ul>
    </div>
  <div class="col-md-12" id="filtered">
    <b>{% trans "Filter by:" %}</b>
    <div>
      <input id="site" type="button" class="btn btn-sm btn-success" value="Site">
      <input id="grade" type="button" class="btn btn-sm btn-success" value="Grade">
    </div>
  </div>
  <div class="col-md-6">
    <b>{% trans "Site" %}</b>
    <ul class = "buttonlist">
    {% for site in sites %}
      <li> <a class="btn btn-sm btn-warning" onclick ="filterBySite('{{site}}')" href='#'>{{site}}</a></li>
    {% endfor %}
    <li><a role = "button" class="btn btn-sm btn-warning" onclick="ClearFilterBySite()" href="#">{% trans "Clear Search" %}</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <b>{% trans "Grade" %}</b>
    <ul class = "buttonlist">
    {% for value,key in grades.items %}
      <li> <a class="btn btn-sm btn-warning" onclick ="filterByGrade('{{key|escapejs}}')" href='#'>{{key}}</a></li>
    {% endfor %}
    <li><a role = "button" class="btn btn-sm btn-warning" onclick="ClearFilterByGrade()" href="#">{% trans "Clear Search" %}</a></li>
    </ul>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$("#select_year").val({{academic_year}});
var number = "{{number}}"
if (number && number !="None"){
    $("#search_survey_time").val({{number}});
}

$('#select_year').on('change', function() {
    var selected_year = this.value;

    if (number && number !="None"){
        url = '{%url 'spiritual_survey_report' %}'+ selected_year + '/' + number
    }
    else {
        url = '{%url 'spiritual_survey_report' %}'+ selected_year

    }
    window.location.href = url;
})

function submit_number(){
    var academic_year = {{academic_year}}
    number = $('#search_survey_time').val()
    if(number){
          url = '{%url 'spiritual_survey_report' %}'+ academic_year + '/' + number
          window.location.href = url;

    }
    else{
        alert("Please input a number!")
    }

}

var table = null
function filterBySite(search_value){
  table.columns(0).search(search_value).draw();
  $("#site").val(search_value);
  $("#site").show();
}
function ClearFilterBySite(){
  table.columns(0).search('').draw();
  $("#site").val("Site");
  $("#site").hide();
}
function filterByGrade(search_value){
  if (search_value=='English' || search_value=='Vietnamese'){
      table.columns(2).search("^"+search_value[0],true,false).draw();
  }
  else{
      table.columns(2).search("^"+search_value,true,false).draw();
  }
  $("#grade").val(search_value);
  $("#grade").show();
}
function ClearFilterByGrade(){
  table.columns(2).search('').draw();
  $("#grade").val("Grade");
  $("#grade").hide();
}
$(document).ready(function(){
  $("#site").hide();
  $("#grade").hide();

  table = $('#SpiritualSurveyReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'SpiritualSurveyReport'
             },

    ]
  });
});
</script>

{% endblock %}
