{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% load bootstrap3 %}
{% block title %}
{% if student_id and student_id != '0' %}
{% with spi=action|add:' Spiritual Activities Survey for' %}
    {% trans spi %} {{student_id|name_by_sid}}
{% endwith %}
{% else %}
{% with foo=action|add:' Spiritual Activities Survey' %}
    {% trans foo %}
{% endwith %}
<!-- {% trans action %}{% trans 'Spiritual Activities Survey' %} -->
{% endif%}

{% endblock %}

{% block content %}
<div class="col-md-3"></div>
<div class="col-md-6">
{% if survey_id %}
<form action = "{% url 'spiritualactivities_survey' student_id survey_id %}?next={{next_url}}" method="post">
{% else %}
<form action = "{% url 'spiritualactivities_survey' student_id %}?next={{next_url}}" method="post">
{% endif %}
    {% csrf_token %}

    {% if survey_id %}
    {{form.student_id.as_hidden}}
    {% else %}
    {% bootstrap_field form.student_id placeholder=False %}

    {% endif %}

    {% bootstrap_field form.date placeholder=False %}
    {% bootstrap_field form.personal_attend_church placeholder=False %}
    {% bootstrap_field form.frequency_of_attending placeholder=False %}
    {% bootstrap_field form.church_name placeholder=False %}

    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
</form>
</div>
<div class="col-md-3"></div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
    var data_church_names = {{ data_church_names | safe }}
    $("#id_church_name" ).autocomplete({
        source: data_church_names
      });
    try {
      $('#id_student_id').select2({
        placeholder: "---Select a Student---",
      });
    }
    catch(err) {
     console.log(err)
    }
    //hide or show church name
    if($('#id_personal_attend_church').val()=='Y'){
      $('#id_church_name').closest('.form-group').show();
      $('#id_church_name').attr('required', true);
    }
    else{
      $('#id_church_name').closest('.form-group').hide();
      $('#id_church_name').attr('required', false);
    }
    // hide or show frequency_of_attending church
    if($('#id_personal_attend_church').val()=='Y'){
      $('#id_frequency_of_attending').closest('.form-group').show();
    }
    else{
      $('#id_frequency_of_attending').closest('.form-group').hide();
    }
  });
  $('#id_personal_attend_church').change(function(){
    if($(this).val()=='Y'){
      $('#id_church_name').closest('.form-group').show();
      $('#id_church_name').attr('required', true);
      $('#id_frequency_of_attending').closest('.form-group').show();

    }
    else{
      $('#id_church_name').closest('.form-group').hide();
      $('#id_church_name').attr('required', false);
      $('#id_frequency_of_attending').closest('.form-group').hide();

    }
  });
</script>
{% endblock%}
