{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Student Evaluation Report" %}{% if grade_id and grade_id != '0'%} {{grade_id | grade_by_id}} {% endif %}
{% if start_date and end_date%} {% trans "on" %} {{start_date}} - {{end_date}} {% endif %}
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <div class="form-inline" style="text-align: right; margin-bottom: 15px">
            <div class="form-group">
              <input type="date" name="search_start_date" class="form-control" id="search_start_date" required>
            </div>
            <div class="form-group">
              <input type="date" name="search_end_date" class="form-control" id="search_end_date" required>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-primary form-control" onclick="submit();">{% trans "Submit" %}</button>
            </div>
      </div>
    </div>

    <div class="col-md-3">
        <table class="table table-responsive">
          <thead><tr><th>{% trans "Grade Level" %}</th></tr></thead>
          <tbody>
            <tr>
                <td>
                    {% if start_date and end_date %}
                    <a href = "{% url 'student_evaluation_report' 0 start_date end_date %}" role="button" class="btn btn-xs btn-warning">{% trans "All Grade Levels" %}</a>
                    {% else %}
                    <a href = "{% url 'student_evaluation_report' %}" role="button" class="btn btn-xs btn-warning">{% trans "All Grade Levels" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% for grade_id,grade in grades.items %}
              <tr>
                <td>
                {% if start_date and end_date %}
                <a href = "{% url 'student_evaluation_report' grade_id start_date end_date %}" role="button" class="btn btn-xs btn-success">{% trans grade %}</a>
                {% else %}
                <a href = "{% url 'student_evaluation_report' grade_id %}" role="button" class="btn btn-xs btn-success">{% trans grade %}</a>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
            <tr>
              <td>
              {% if start_date and end_date%}
              <a href = "{% url 'student_evaluation_report' 50 start_date end_date %}" role="button" class="btn btn-xs btn-success">{% trans "English" %}</a>
              {% else %}
              <a href = "{% url 'student_evaluation_report' 50 %}" role="button" class="btn btn-xs btn-success">{% trans "English" %}</a>
              {% endif %}
              </td>
            </tr>
            <tr>
              <td>
              {% if start_date and end_date %}
              <a href = "{% url 'student_evaluation_report' 70 start_date end_date %}" role="button" class="btn btn-xs btn-success">{% trans "Vietnamese" %}</a>
              {% else %}
              <a href = "{% url 'student_evaluation_report' 70 %}" role="button" class="btn btn-xs btn-success">{% trans "Vietnamese" %}</a>
              {% endif %}
              </td>
            </tr>
          </tbody>
        </table>

    </div>
    <div class="col-md-9">
          <table class="table table-responsive table-bordered table-striped table-hover" id="evaluationReportTable">
            <thead><tr>
              <th>{% trans "Site" %}</th>
              <th>{% trans "Evaluation Date" %}</th>
              <th>{% trans "Student" %}</th>
              <th>{% trans "Grade Level" %}</th>
              <th>{% trans "Description" %}</th>
              <th>{% trans "Academic" %}</th>
              <th>{% trans "Study/Learning" %}</th>
              <th>{% trans "Life/Personal" %}</th>
              <th>{% trans "Hygiene" %}</th>
              <th>{% trans "Christian Growth" %}</th>
              <th>{% trans "Comments" %}</th>

            </tr></thead>
            <tbody>
              {% for evaluation in evaluations %}
              <tr>
                  <td>{{ evaluation.student_id.site }}</td>
                  <td>{{ evaluation.date }}</td>
                  <td><a href="{% url 'student_detail' evaluation.student_id.student_id %}">{{ evaluation.student_id }}</a></td>
                  <td>{{ evaluation.student_id.current_vdp_grade | grade_by_id }}</td>
                  <td>
                    {% with classroom=evaluation.student_id|student_classroom%}
                      {% if classroom|length > 0%}
                        {% for classroom in evaluation.student_id|student_classroom %}
                           {{classroom.classroom_id.classroom_number}}
                          {% if not forloop.last %}
                          ,<br/>
                          {% endif %}
                        {% endfor%}
                      {% else %}
                        N/A
                      {% endif %}
                    {% endwith %}
                  </td>
                  <td>{{evaluation.academic_score}}</td>
                  <td>{{evaluation.study_score}}</td>
                  <td>{{evaluation.personal_score}}</td>
                  <td>{{evaluation.hygiene_score}}</td>
                  <td>{{evaluation.faith_score}}</td>
                  <td>{{evaluation.comments}}</td>
                  </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
var search_start_date = "{{start_date}}"
var search_end_date = "{{end_date}}"
var grade_id  = "{{grade_id}}"

$('#search_start_date').val(search_start_date);
$('#search_end_date').val(search_end_date);

function submit()
{
   search_start_date = $('#search_start_date').val()
   search_end_date = $('#search_end_date').val()
   url = '{%url 'student_evaluation_report' %}' + grade_id + "/" + search_start_date + "/" + search_end_date
   window.location.href = url
}

$(document).ready(function(){
  $('#evaluationReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'StudentEvaluation'
             },

    ]
  });
});
</script>

{% endblock %}
