{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Student Enrollment Report" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <form class="form-inline" role="form" method="post" action="{% url 'student_enrollment_report' %}">
    {% csrf_token %}
    <div class="col-md-5">
      <div class="form-group">
        <select name="site" class="form-control">
          <option>{% trans "Select Site" %}</option>
          {% for site in sites %}
            <option value="{{site}}">{{site}}</option>
          {% endfor%}
          <option  value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
        </select>
      </div>
      <div class="form-group" >
        <select name="classroom" class="form-control">
          <option value="None" selected="selected">{% trans "Select Classroom" %}</option>
          {% for value,key in grades.items %}
          <option value="{{ key }}">{{ key }}</option>
          {% endfor%}
          <option value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
        </select>
      </div>
    </div>
    <div class="col-md-7" style="text-align: right;"> 
        <div class="form-group">
        From  <input type="date" name="min" id="min" class="form-control"/>
        </div>
        <div class="form-group">
        To  <input type="date" name="max" id="max" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="submit" class="form-control btn btn-primary" id="#submit" value="{% trans 'Clear' %}"/>
        </div>         
    </div>
  </form>
</div>

<div class="col-md-13">  
      <table class="table table-bordered table-striped table-hover" id="StudentEnrollmentReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Grade" %}</th>  
          <th>{% trans "Description" %}</th>  
          <th>{% trans "Student" %}</th>  
          <th>{% trans "Gender" %}</th>  
          <th>{% trans "DOB" %}</th>  
          <th>{% trans "Age" %}</th>  
          <th>{% trans "Address" %}</th>  
          <th>{% trans "Guardian 1" %}</th>  
          <th>{% trans "Guardian 1 Profession" %}</th>  
          <th>{% trans "Guardian 2" %}</th>  
          <th>{% trans "Guardian 2 Profession" %}</th>  
          <th>{% trans "Enrollment Date" %}</th>  
          

           </tr></thead>
        <tbody> 
          {% for survey in surveys %}
          <tr>
              <td>{{ survey.site }}</td>
              <td>{{ survey.current_vdp_grade | grade_by_id}}</td>                
              <td>
                {% with classroom=survey|student_classroom%}
                  {% if classroom|length > 0%}
                    {% for classroom in survey|student_classroom %}
                        {{classroom.classroom_id.classroom_number}}
                      {% if not forloop.last %}
                      ,<br/>
                      {% endif %}
                    {% endfor%}
                  {% else %}
                    N/A
                  {% endif %}
                {% endwith %}
              </td>
              <td><a href="{% url 'student_detail' survey.student_id %}">{{ survey }}</a></td>
              <td>{{ survey.gender }}</td>
              <td>{{ survey.dob|date:'d N Y'}}</td>            
              <td>{{survey.dob|timesince}} old</td>
              <td>{{survey.address}} </td>
              <td>{{ survey.getRecentFields.guardian1_name}}</td>  
              <td>{{ survey.getRecentFields.guardian1_profession}}</td>  
              <td>{{ survey.getRecentFields.guardian2_name}}</td>  
              <td>{{ survey.getRecentFields.guardian2_profession}}</td>  
              <td>{{ survey.getRecentFields.enrollment.enrollment_date}}</td>                

          </tr>
      {% endfor %}
        </tbody>
      </table>

{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>

<script type="text/javascript">
var table = null
function filterBySite(search_value){
  table.columns(0).search(search_value).draw();
  $("#site").val(search_value);
  $("#site").show();
}
function ClearFilterBySite(){
  table.columns(0).search('').draw();
  $("#site").val("Site");
  $("#site").hide();
}
function filterByGrade(search_value){
  if (search_value=='English' || search_value=='Vietnamese'){
      table.columns(1).search("^"+search_value[0],true,false).draw();
  }
  else{
      table.columns(1).search("^"+search_value,true,false).draw();
  }
  $("#grade").val(search_value);
  $("#grade").show();
}
function ClearFilterByGrade(){
  table.columns(1).search('').draw();
  $("#grade").val("Grade");
  $("#grade").hide();
}

$(document).ready(function(){
  $("#site").hide();
  $("#grade").hide();  

  $("select[name='site']").on( "change", function() {
    //alert($(this).find(":selected").val());
    if($(this).val()=="Clear_Search") {
      ClearFilterBySite($(this).val());      
    }
    else{
      filterBySite($(this).val());      
    }    
  });

  $("select[name='classroom']").on( "change", function() {
    //alert($(this).find(":selected").val());

    if($(this).val()=="Clear_Search") {
      ClearFilterByGrade($(this).val());($(this).val());      
    }
    else{
      filterByGrade($(this).val());      
    }  
  });
 
  table = $('#StudentEnrollmentReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
          extend: 'csvHtml5',
          text: 'TSV export <i class="fa fa-download"></i>',
          className: 'btn btn-sm btn-success',
          fieldSeparator: '\t',
          extension: '.tsv',
          title: 'StudentEnrollmentReport'
        },

    ]
  });

  // Refilter the table with data
  var minDate, maxDate;
 $.fn.dataTable.ext.search.push(
   function( settings, data, dataIndex ) {
    
     var min = minDate;
     var max = maxDate;
    
     //console.log('min' + min);
     //console.log('min' + max);
     var date = new Date(data[12]);
         
     if (min <= date && max.toString() === 'Invalid Date') {return true; }
     if (max >= date && min.toString() === 'Invalid Date') {return true; }     
     if (min == null && max == null) { return true; }
     if (min == null && date <= max) { return true; }
     if (max == null && date >= min) { return true; }               
     if (min <= date && date <= max) {return true; }
     return false;
   }
 );
 $('#min, #max').on('change', function () { 
   minDate = new Date($('#min').val());
   maxDate = new Date($('#max').val());   
   table.draw();
 });  
});

</script>
{% endblock %}
