{% extends "base.html" %}
{% load i18n %}
{% load mathfilters %}
{% load mandefilters %}
{% block title %}
  {% trans "Intake Surveys" context "student list"%}​
  <a href="{% url 'generate'%}" class="btn btn-info pull-right" role="button">{% trans "Refresh" %}</a>
{% endblock %}

{% block content %}
<div class="dataTable_wrapper">
  <table class="table table-striped table-hover" id="studentDataTable">
    <thead>
      <tr>
        <th>{% trans "Site" %}</th><th>{% trans "SID" %}</th>
        <th>{% trans "Name" %}</th><th>{% trans "Date" %}</th>
        <th>{% trans "Gender" %}</th><th>{% trans "DOB" %}</th>
        <th>{% trans "VDP Grade" %}</th>
        <th>{% trans "VDP Class" %}</th>
        <th>{% trans "At Grade Level?" %}</th><th>{% trans "In Public School?" %}</th>
        <th>{% trans "Refresh" %}</th>
        </tr>
    </thead>
    <tbody>
      {% for survey in surveys %}
      <tr>
        <td>{{survey.site.school_name}}</td>
        <td><a href ="{% url 'student_detail' survey.student_id %}">{{ survey.student_id }}</a></td>
        <td>{{survey.name}}</td>
        <td>{{survey.date|date:"d M Y"}}</td>
        <td>{{survey.gender}}</td>
        <td>{{survey.dob}} ({{survey.dob|timesince}} old)</td>
        {% if survey.vdp_grade == 0 %}
        <td><a href="{% url 'intake_internal' survey.student_id %}" class="btn btn-success" role="button">Enroll</a></td>
        {% else %}
        <td>
            {{survey.get_vdp_grade_display}}
        </td>
        {% endif %}
        <td>
            {% with classrooms=survey.student_id|student_classroom%}
              {% if classrooms|length > 0%}
                {% for classroom in survey.student_id|student_classroom %}
                  {{classroom.classroom_id.get_cohort_display}}
                  {% if not forloop.last %}
                  ,<br/>
                  {% endif %}
                {% endfor%}
              {% else %}
                {% trans 'Not Enrolled'%}
              {% endif %}
            {% endwith %}
        </td>
        <td>{{survey.at_grade_level}}</td>
        <td>{{survey.in_public_school}}</td>
        <td>{{survey.refresh|date:"d M Y"}}</td>

      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript">
$(document).ready(function(){
  var table = $('#studentDataTable').DataTable({
      responsive: true,
      pageLength: 25,
      search: {caseInsensitive: false},
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'IntakeSurveys'
             },

    ]
  });
});
</script>

{% endblock %}
