{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Students Lag Summary Report" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
    <table>
      <tr>
        {% for school,data in students_lag_by_site.items %}
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
              <tr>
                <th colspan="4" style="text-align:center;">{{school}}</th>
              </tr>
              <tr>
                <td>{% trans "Boys" %}</td><td>% {% trans "of total" %}</td>
                <td>{% trans "Girls" %}</td><td>% {% trans "of total" %}</td>
              </tr>
              <tr>
                <td>{{ data.students_age_not_appropriate_grade_level.M }}</td>
                <td>
                  {% widthratio data.students_age_not_appropriate_grade_level.M data.students.M 100 %}
                   %
                </td>
                <td>{{ data.students_age_not_appropriate_grade_level.F }}</td>
                <td>
                  {% widthratio data.students_age_not_appropriate_grade_level.F data.students.F 100 %}
                   %
                </td>
              </tr>
          </table>
        </td>
        {% endfor %}
      </tr>
    </table>
  </div>
  <div class="col-md-12">
    <table>
      <tr>
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
              <tr>
                <th colspan="4" style="text-align:center;">{% trans "All Site" %}
</th>
              </tr>
              <tr>
                <td>{% trans "Boys" %}</td><td>% {% trans "of total" %}</td>
                <td>{% trans "Girls" %}</td><td>% {% trans "of total" %}</td>
              </tr>
              <tr>
                <td>{{ students_all_site.students_age_not_appropriate_grade_level.M }}</td>
                <td>
                  {% widthratio students_all_site.students_age_not_appropriate_grade_level.M students_all_site.students.M 100 %}
                   %
                </td>
                <td>{{ students_all_site.students_age_not_appropriate_grade_level.F }}</td>
                <td>
                  {% widthratio students_all_site.students_age_not_appropriate_grade_level.F students_all_site.students.F 100 %}
                   %
                </td>
              </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
