{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Student Vaccine Report" %}
{% if start_date  != '0'  and end_date != '0'  %}
    {{start_date}}-{{end_date}}
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <form class="form-inline" role="form" method="post" action="{% url 'student_vaccine_report' %}">
    {% csrf_token %}
    <div class="col-md-5">
      <div class="form-group">
        <select name="site" class="form-control">
          <option>{% trans "Select Site" %}</option>
          {% for site in sites %}
            <option value="{{site}}">{{site}}</option>
          {% endfor%}
          <option  value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
        </select>
      </div>
      <div class="form-group" >
        <select name="classroom" class="form-control">
          <option value="None" selected="selected">{% trans "Select Classroom" %}</option>
          {% for value,key in grades.items %}
          <option value="{{ key }}">{{ key }}</option>
          {% endfor%}
          <option value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
        </select>
      </div>
    </div>
    <div class="col-md-7" style="text-align: right;"> 
        <div class="form-group">
          <input type="date" name="start_date" id="#datePicker_start_date" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="date" name="end_date" id="#datePicker_start_date" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="submit" class="form-control btn btn-primary" id="#submit" value="{% trans 'Submit' %}"/>
        </div>         
    </div>
  </form>
</div>

<div class="col-md-12">  
      <table class="table table-bordered table-striped table-hover" id="VaccineSurveyReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Grade" %}</th>  
          <th>{% trans "Description" %}</th>                   
          <th>{% trans "Student" %}</th>
          <th>{% trans "Gender" %}</th>
          <th>{% trans "Vaccine Time" %}</th>
          <th>{% trans "Vaccine Type" %}</th>
          <th>{% trans "Vaccine Name" %}</th>
          <th>{% trans "Other" %}</th>                   
          <th>{% trans "Vaccine Date" %}</th>
          <th>{% trans "Survey Date" %}</th>                    
          <th>{% trans "Notes" %}</th>
           </tr></thead>
        <tbody>
            {% for vaccine in vaccine_surveys %}
                <tr>
                    <td>{{ vaccine.student_id.site }}</td>
                    <td>{{ vaccine.student_id.current_vdp_grade | grade_by_id}}</td>                
                    <td>
                      {% with classroom=vaccine.student_id|student_classroom%}
                        {% if classroom|length > 0%}
                          {% for classroom in vaccine.student_id|student_classroom %}
                              {{classroom.classroom_id.classroom_number}}
                            {% if not forloop.last %}
                            ,<br/>
                            {% endif %}
                          {% endfor%}
                        {% else %}
                          N/A
                        {% endif %}
                      {% endwith %}
                    </td>
                    <td><a href="{% url 'student_detail' vaccine.student_id.student_id %}">{{ vaccine.student_id }}</a></td>
                    <td>{{ vaccine.student_id.gender }}</td>
                    <td>{{ vaccine.time}}</td>
                    <td>{{ vaccine.type}}</td>
                    <td>{{ vaccine.name}}</td>
                    <td>{{ vaccine.other}}</td>                                                        
                    <td>{{ vaccine.vaccine_date }}</td>
                    <td>{{ vaccine.survey_date }}</td>                  
                    <td>{{ vaccine.notes}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>

{% endblock %}

{% block script %}
<script type="text/javascript">

/*
function disableSubmit(){
   if(($('#site').val() == "None") && ($('#classroom').val() == "None")) {
      $("#submit").attr("disabled", true);
    }
   else if(($('#site').val() != "None") && ($('#classroom').val() != "None")){
      $("#submit").attr("disabled", true);
    }
   else if (($('#datePicker_start_date').val() = "None") && ($('#datePicker_end_date').val() = "None")) {
      $("#submit").attr("disabled", true);
   }

   else{
      $("#submit").attr("disabled", false);
    }
}
$(document).ready(function(){
 $('#datePicker_start_date').val('{{start_date}}');
 $('#datePicker_end_date').val('');
 // call function to check if submit button should disable or not
 disableSubmit();
});
*/
/*
$("#select_year").val({{academic_year}});
var number = "{{number}}"
if (number && number !="None"){
    $("#search_survey_time").val({{number}});
}

$('#select_year').on('change', function() {
    var selected_year = this.value;

    if (number && number !="None"){
        url = '{%url 'spiritual_survey_report' %}'+ selected_year + '/' + number
    }
    else {
        url = '{%url 'spiritual_survey_report' %}'+ selected_year

    }
    window.location.href = url;
})

function submit_number(){
    var academic_year = {{academic_year}}
    number = $('#search_survey_time').val()
    if(number){
          url = '{%url 'spiritual_survey_report' %}'+ academic_year + '/' + number
          window.location.href = url;

    }
    else{
        alert("Please input a number!")
    }

}
*/
var table = null
function filterBySite(search_value){
  table.columns(0).search(search_value).draw();
  $("#site").val(search_value);
  $("#site").show();
}
function ClearFilterBySite(){
  table.columns(0).search('').draw();
  $("#site").val("Site");
  $("#site").hide();
}
function filterByGrade(search_value){
  if (search_value=='English' || search_value=='Vietnamese'){
      table.columns(1).search("^"+search_value[0],true,false).draw();
  }
  else{
      table.columns(1).search("^"+search_value,true,false).draw();
  }
  $("#grade").val(search_value);
  $("#grade").show();
}
function ClearFilterByGrade(){
  table.columns(1).search('').draw();
  $("#grade").val("Grade");
  $("#grade").hide();
}
$(document).ready(function(){
  $("#site").hide();
  $("#grade").hide();

  $("select[name='site']").on( "change", function() {
    //alert($(this).find(":selected").val());
    if($(this).val()=="Clear_Search") {
      ClearFilterBySite($(this).val());
    }
    else{
      filterBySite($(this).val());
    }    
  });

  $("select[name='classroom']").on( "change", function() {
    //alert($(this).find(":selected").val());

    if($(this).val()=="Clear_Search") {
      ClearFilterByGrade($(this).val());($(this).val());
    }
    else{
      filterByGrade($(this).val());
    }    

   
  });

  table = $('#VaccineSurveyReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'VaccineSurveyReport'
             },

    ]
  });
});

</script>

{% endblock %}
