{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Students Integrated In Public School Report" %}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Student" %}</th>
          <th>{% trans "Current VDP Grade" %}</th>
        </tr></thead>
        <tbody>
          {% for student in intergrated_students %}
          <tr>
              <td>{{ student.site }}</td>
              <td><a href="{% url 'student_detail' student.student_id %}">{{ student }}</a></td>
              <td>{{ student.current_vdp_grade | grade_by_id }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  $('#attendanceReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'StudentLag'
             },

    ]
  });
});
</script>

{% endblock %}
