{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
  {% trans "Student Search Results"%}​
{% endblock %}

{% block content %}
<table class="table table-striped table-hover" id="studentDataTable">
  <thead>
    <tr>
      <th>{% trans "Site" %}</th><th>{% trans "SID" %}</th>
      <th>{% trans "Name" %}</th><th>{% trans "Date" %}</th>
      <th>{% trans "Gender" %}</th><th>{% trans "DOB" %}</th>
      <th>{% trans "VDP Grade" %}</th>
      </tr>
  </thead>
  <tbody>
    {% for survey in surveys %}
    {% if survey.if_student_exited %}
    <tr style="color:red;">
    {% else%}
    <tr>
    {% endif %}
      <td>{{survey.site.school_name}}</td>
      <td><a href ="{% url 'student_detail' survey.student_id %}">{{ survey.student_id }}</a></td>
      <td>{{survey.name}}</td>
      <td>{{survey.date|date:"d M Y"}}</td>
      <td>{{survey.gender}}</td>
      <td>{{survey.dob}}
      <td>{{ survey.current_vdp_grade | grade_by_id }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(document).ready(function(){
  var table = $('#studentDataTable').DataTable({
      responsive: true,
      pageLength: 25,
      search: {caseInsensitive: false},
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'StudentSearch'
             },

    ]
  });
});
</script>

{% endblock %}
