{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
  {% trans 'Student Attendance Detail Report' %} {% if start_date and end_date %} {{start_date}} {% trans 'to' %} {{end_date}} {% endif %}
{% endblock %}

{% block content %}

<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead>
          <tr>
            <th>{% trans "Site" %}</th>
            <th>{% trans "Student" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Grade" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "Absence code" %}</th>
            <th>{% trans "Note" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for attendance in attendances %}
          <tr>
              <td>{{ attendance.student_id.site }}</td>
              <td>{{ attendance.student_id }}</td>
              <td>{{ attendance.date }}</td>
              <td>{{ attendance.classroom.get_cohort_display }}</td>
              <td>{{ attendance.classroom.classroom_number }}</td>
              <td>{{ attendance.attendance }}</td>
              <td>{{ attendance.notes }}</td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
  </div>

  <div class="col-md-3">
        <form method="post" action="{% url 'student_attendance_detail' student_id %}">
          {% csrf_token %}
          <div class="form-group">
            <input type="date" name="start_date" class="form-control" required/>
          </div>
          <div class="form-group">
            <input type="date" name="end_date" class="form-control" required/>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary form-control" value="{% trans 'Submit' %}"/>
          </div>
        </form>
    </div>


{% endblock %}

{% block script %}
<script type="text/javascript">
  $(document).ready(function(){
    $('#attendanceReportTable').DataTable({
        responsive: true,
        pageLength: 25,
        order: [[0,'asc'],[1,'asc'],[2,'asc']],
        columnDefs: [
         { type: 'jethro', targets: 1 }
       ],
       dom: 'frtipB',
       buttons: [
         {
                  extend: 'csvHtml5',
                  text: 'TSV export <i class="fa fa-download"></i>',
                  className: 'btn btn-sm btn-success',
                  fieldSeparator: '\t',
                  extension: '.tsv',
                  title: 'Attendance'
              },

     ]
    });
  });
</script>

{% endblock %}
