{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Student Achievement Test Report" %} {% if grade_id  and grade_id != '0' %} {{ grade_id | grade_by_id}} {% endif %} {% if start_date and end_date%} {% trans "on" %} {{start_date}} - {{end_date}} {% endif %}
{% endblock %}

{% block content %}
    <div class="col-md-12">
      <div class="form-inline" style="text-align: right; margin-bottom: 15px">
            <div class="form-group">
              <input type="date" name="search_start_date" class="form-control" id="search_start_date" required>
            </div>
            <div class="form-group">
              <input type="date" name="search_end_date" class="form-control" id="search_end_date" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary form-control" onclick="submit();">{% trans "Submit" %}</button>
            </div>
      </div>
    </div>
    <div class="col-md-12">
    <div class="col-md-2">
        <table class="table table-responsive">
          <thead><tr><th>{% trans "Grade Level" %}</th></tr></thead>
          <tbody>
            <tr>
                <td>
                    {% if start_date and end_date %}
                    <a href = "{% url 'student_achievement_test_report' 0 start_date end_date %}" role="button" class="btn btn-xs btn-warning">{% trans "All Grade Levels" %}</a>
                    {% else %}
                    <a href = "{% url 'student_achievement_test_report' 0 %}" role="button" class="btn btn-xs btn-warning">{% trans "All Grade Levels" %}</a>
                    {% endif %}
                </td>
            </tr>
            {% for grade_id,grade in grades.items %}
              <tr>
                <td>
                {% if start_date and end_date %}
                <a href = "{% url 'student_achievement_test_report' grade_id start_date end_date %}" role="button" class="btn btn-xs btn-success">{% trans grade %}</a>
                {% else %}
                <a href = "{% url 'student_achievement_test_report' grade_id %}" role="button" class="btn btn-xs btn-success">{% trans grade %}</a>
                {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
    <div class="col-md-10">
          <table class="table table-responsive table-bordered table-striped table-hover" id="evaluationReportTable">
            <thead>
              <tr>
                <th>{% trans "Site" %}</th>
                <th>{% trans "Student" %}</th>
                <th>{% trans "Grade Level" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Test Date" %}</th>
                <th>{% trans "Level" %}</th>                
                <th>{% trans "Math" %}</th>
                <th>{% trans "Khmer" %}</th>
                <th>{% trans "Activity Test" %}</th>
                <th>{% trans "Quiz" %}</th>
                <th>{% trans "Monthly Test" %}</th>
                <th>{% trans "Midterm Test" %}</th>
                <th>{% trans "Final Test" %}</th>
                <th>{% trans "Promote" %}</th>
                <th>{% trans "Notes" %}</th>
              </tr>
            </thead>
            <tbody>
              {% for achievement_test in achievement_tests %}
              <tr>
                  <td>{{ achievement_test.student_id.site }}</td>
                  <td><a href="{% url 'student_detail' achievement_test.student_id.student_id %}">{{ achievement_test.student_id }} </a></td>
                  <td>{{ achievement_test.student_id.current_vdp_grade | grade_by_id }}</td>
                  <td>
                    {% with classroom=achievement_test.student_id|student_classroom%}
                      {% if classroom|length > 0%}
                        {% for classroom in achievement_test.student_id|student_classroom %}
                           {{classroom.classroom_id.classroom_number}}
                          {% if not forloop.last %}
                          ,<br/>
                          {% endif %}
                        {% endfor%}
                      {% else %}
                        N/A
                      {% endif %}
                    {% endwith %}
                  </td>
                  <td>{{ achievement_test.test_date }}</td>
                  <td>{{achievement_test.test_level}}</td>
                  <td>{{achievement_test.test_grade_math}}</td>
                  <td>{{achievement_test.test_grade_khmer}}</td>
                  <td>{{achievement_test.activity_test}}</td>
                  <td>{{achievement_test.quiz}}</td>
                  <td>{{achievement_test.monthly_test}}</td>
                  <td>{{achievement_test.middle_test}}</td>
                  <td>{{achievement_test.final_test}}</td>
                  <td>{{achievement_test.promote}}</td>
                  <td>{{achievement_test.notes}}</td>
                  </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
    <div class="col-md-12">
{% endblock %}

{% block script %}
<script type="text/javascript">
  var search_start_date = "{{start_date}}"
  var search_end_date = "{{end_date}}"
  var grade_id  = "{{grade_id}}"

  $('#search_start_date').val(search_start_date);
  $('#search_end_date').val(search_end_date);

  function submit()
  {
     search_start_date = $('#search_start_date').val()
     search_end_date = $('#search_end_date').val()
     url = '{%url 'student_achievement_test_report' %}' + grade_id + "/" + search_start_date + "/" + search_end_date
     window.location.href = url
  }

  $(document).ready(function(){
    $('#evaluationReportTable').DataTable({
        responsive: true,
        pageLength: 15,
        order: [[0,'asc']],
        dom: 'frtipB',
        buttons: [
          {
                   extend: 'csvHtml5',
                   text: 'TSV export <i class="fa fa-download"></i>',
                   className: 'btn btn-sm btn-success',
                   fieldSeparator: '\t',
                   extension: '.tsv',
                   title: 'StudentAchievementTest'
               },

      ]
    });
  });
</script>

{% endblock %}
