{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% load bootstrap3 %}
{% block title %}
{% if locked == True %}
  {% trans 'Sorry, you cannot change Student Evaluation.' %}
{% else %}
{% trans "Student Evaluations for" %} {{classroom.school_id}} ({{classroom.get_cohort_display}} - {{classroom.classroom_number}})
{% endif %}
{% endblock %}

{% block content %}
{% if locked == True %}
  {% trans 'Student Evaluation currently locked' %}
{% else %}
<div class="col-md-9">
  <p style="color:red">{{ warning }}</p>

  <form method="post" action="{% url 'studentevaluation_form' classroom.school_id.school_id date classroom.classroom_id %}">
    {% csrf_token %}
    {{ formset.management_form }}


          {% for form in formset %}
          <div class="form-group table-responsive">
            {{form.id}}
          <table class="table table-bordered table-striped table-hover" id="academicTable">
            <thead>
              <tr>
                <th colspan=4><h3><a href="{% url 'student_detail' form.student_id.value%}">
                        {{form.student_id.value}} - {{form.student_id.value|name_by_sid}}</a>
                        {{ form.student_id.as_hidden }}{{ form.date.as_hidden }}</h3></th>
                <th><h3>{{forloop.counter}} of {{formset|length}}</h3></th>
              </tr>
              <tr>
              <th>{% trans "Academic" %}</th>
              <th>{% trans "Study/Learning" %}</th>
              <th>{% trans "Life/Personal" %}</th>
              <th>{% trans "Hygiene" %}</th>
              <th>{% trans "Christian Growth" %}</th>
              </tr></thead>
            <tbody>
              <tr>
                <td>{% bootstrap_field form.academic_score placeholder=False %}</td>
                <td>{% bootstrap_field form.study_score placeholder=False %}</td>
                <td>{% bootstrap_field form.personal_score placeholder=False %}</td>
                <td>{% bootstrap_field form.hygiene_score placeholder=False %}</td>
                <td>{% bootstrap_field form.faith_score placeholder=False %}</td>
            </tr>
            <tr>
              <td colspan=7>{% bootstrap_field form.comments placeholder=False %}</strong>  <button class="btn btn-primary">{% trans "Submit" %}</button></td>
            </tr>
          </tbody>

          <tfoot>
          </tfoot>
        </table>
      </div>
          {% endfor %}
      <button class="btn btn-primary">{% trans "Submit" %}</button>
  </form>
</div>

<div class="col-md-3">
      <input type="date" name="attendance_date" class="form-control" id="datePicker"/>
      <p style="color:green">{{ message }}</p>
      <ul>
        {% for classroom_by_school in classrooms_by_school %}
        <li>
          <a href="{% url 'studentevaluation_form' classroom_by_school.school_id.school_id date %}{{classroom_by_school.classroom_id}}/">{{classroom_by_school.get_cohort_display}} - {{classroom_by_school.classroom_number}}</a>
        </li>
        {% endfor %}

  </ul>

</div>
{% endif %}

{% endblock %}

{% block script %}
<script type="text/javascript">

$(document).ready( function() {
    $('#datePicker').val('{{date}}');

    $(function() {
      $('#datePicker').change(function() {
          //split on /
          $url = window.location.href.split('/')
          //replace the final value (the date)
          $url[$url.length-3] = $(this).val()
          //rewrite the url with the new date in place
          window.location.href = $url.join('/')
      });
    });

    // $('#academicTable').DataTable({
    //   responsive: true,
    //   pageLength: 300,
    //   columnDefs: [
    //     {'width': '10px', 'targets':0}
    //   ]
    // });

});

</script>
{% endblock %}
