{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Student Lag Report" %}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead>
          <tr>
            <th>{% trans "Site" %}</th>
            <th>{% trans "Student" %}</th>
            <th>{% trans "Current Grade" %}</th>
            <th>{% trans "Age Appropriate Grade" %}</th>
            <th>{% trans "Lag" %}</th>
            <th>{% trans "Date Achieved Age Appropriate Level" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for student,lag in students_lag.items %}
          <tr>
              <td>{{ student.site }}</td>
              <td><a href="{% url 'student_detail' student.student_id %}">{{ student }}</a></td>
              <td>{{lag.vdp_grade | grade_by_id}}</td>
              <td>{{lag.appropriate_grade | age_appropriate_grade_display}}</td>
              <td>{{lag.lag}}</td>
              <td>
                 {{lag.date_achieved_age_appropriate_level}} ({{lag.date_achieved_age_appropriate_level|timesince }})
              </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>


    <div class="col-md-3">
      <form method="post" action="{% url 'student_lag_report' %}">
        {% csrf_token %}
        <input type="date" name="view_date" class="form-control" id="datePicker"/>
      </form>
    </div>


{% endblock %}

{% block script %}
<script type="text/javascript">
$('#datePicker').val('{{view_date}}');
$(function() {
      $('#datePicker').change(function() {
          //split on /
          $("form").submit();
      });
    });

$(document).ready(function(){
  $('#attendanceReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'StudentLag'
             },

    ]
  });
});
</script>

{% endblock %}
