{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Student Disease Report" %}
{% if start_date  != '0'  and end_date != '0'  %}
    {{start_date}}-{{end_date}}
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-12">
  <form class="form-inline" role="form" method="post" action="{% url 'student_disease_report' %}">
    {% csrf_token %}
    <div class="col-md-5">
      <div class="form-group">
        <select name="site" class="form-control">
          <option>{% trans "Select Site" %}</option>
          {% for site in sites %}
            <option value="{{site}}">{{site}}</option>
          {% endfor%}
          <option  value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
        </select>
      </div>
      <div class="form-group" >
        <select name="classroom" class="form-control">
          <option value="None" selected="selected">{% trans "Select Classroom" %}</option>
          {% for value,key in grades.items %}
          <option value="{{ key }}">{{ key }}</option>
          {% endfor%}
          <option value="{{Clear_Search}}">{% trans "Clear Search" %}</option>
        </select>
      </div>
    </div>
    <div class="col-md-7" style="text-align: right;"> 
        <div class="form-group">
          <input type="date" name="start_date" id="#datePicker_start_date" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="date" name="end_date" id="#datePicker_start_date" class="form-control"/>
        </div>
        <div class="form-group">
          <input type="submit" class="form-control btn btn-primary" id="#submit" value="{% trans 'Submit' %}"/>
        </div>         
    </div>
  </form>
</div>

<div class="col-md-12">  
      <table class="table table-bordered table-striped table-hover" id="DiseaseSurveyReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Grade" %}</th>     
          <th>{% trans "Description" %}</th>           
          <th>{% trans "Student" %}</th>
          <th>{% trans "Gender" %}</th>
          <th>{% trans "Disease Name" %}</th>
          <th>{% trans "Survey Date" %}</th>                            
          <th>{% trans "Notes" %}</th>
           </tr></thead>
        <tbody>
            {% for disease in student_diseases %}
                <tr>
                    <td>{{ disease.student_id.site }}</td>   
                    <td>{{ disease.student_id.current_vdp_grade | grade_by_id}}</td>                
                    <td>
                      {% with classroom=disease.student_id|student_classroom%}
                        {% if classroom|length > 0%}
                          {% for classroom in disease.student_id|student_classroom %}
                            {{classroom.classroom_id.classroom_number}}
                            {% if not forloop.last %}
                            ,<br/>
                            {% endif %}
                          {% endfor%}
                        {% else %}
                          N/A
                        {% endif %}
                      {% endwith %}
                    </td>
                    <td><a href="{% url 'student_detail' disease.student_id.student_id %}">{{ disease.student_id }}</a></td>
                    <td>{{ disease.student_id.gender }}</td>
                    <td>{{ disease.disease_name}}</td>                    
                    <td>{{ disease.survey_date }}</td>                    
                    <td>{{ disease.notes}}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
var table = null
function filterBySite(search_value){
  table.columns(0).search(search_value).draw();
  $("#site").val(search_value);
  $("#site").show();
}
function ClearFilterBySite(){
  table.columns(0).search('').draw();
  $("#site").val("Site");
  $("#site").hide();
}
function filterByGrade(search_value){
  if (search_value=='English' || search_value=='Vietnamese'){
      table.columns(1).search("^"+search_value[0],true,false).draw();
  }
  else{ 
      table.columns(1).search("^"+search_value,true,false).draw();
  }
  $("#grade").val(search_value);
  $("#grade").show();
}
function ClearFilterByGrade(){
  table.columns(1).search('').draw();
  $("#grade").val("Grade");
  $("#grade").hide();
}
$(document).ready(function(){
  $("#site").hide();
  $("#grade").hide();

  $("select[name='site']").on( "change", function() {
    //alert($(this).find(":selected").val());
    if($(this).val()=="Clear_Search") {
      ClearFilterBySite($(this).val());
    }
    else{
      filterBySite($(this).val());
    }    
  });

  $("select[name='classroom']").on( "change", function() {
    //alert($(this).find(":selected").val());

    if($(this).val()=="Clear_Search") {
      ClearFilterByGrade($(this).val());($(this).val());
    }
    else{
      filterByGrade($(this).val());
    }    

   
  });


  table = $('#DiseaseSurveyReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'DiseaseSurveyReport'
             },

    ]
  });
});

</script>

{% endblock %}
