{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Students Promoted Times Report" %}
{% if year and year != '0'  %}
    {{year}}-{{year|add:1}}
{% endif %}
{% if classroom == '0' or not classroom%}
    {% if school and school != '0'  %}
    {{school | site_by_id}}
    {% if grade and grade != '0'  %} {{ grade | grade_by_id}} {%endif%}
    {%endif%}
{%endif%}
{% if classroom and classroom != '0'  %} {{ classroom | classroom_by_id}} {%endif%}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead>
          <tr>
            <th>{% trans "Site" %}</th>
            <th>{% trans "Student" %}</th>
            <th>{% trans "Current Grade" %}</th>
            <th>{% trans "Description" %}</th>
            <th>{% trans "How long in VDP Program" %}</th>
            <th>{% trans "The Last Promoted Date" %}</th>
            <th>{% trans "The Last Promoted Date and Now" %}</th>
            <th>{% trans "Promoted Times" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for student,promoted in students_promoted.items %}
          <tr>
              <td>{{ student.site }}</td>
              <td><a href="{% url 'student_detail' student.student_id %}">{{ student }}</a></td>
              <td>{{student.current_vdp_grade | grade_by_id}}</td>
              <td>
                {% with classroom=student.student_id|student_classroom%}
                  {% if classroom|length > 0%}
                    {% for classroom in student.student_id|student_classroom %}
                       {{classroom.classroom_id.classroom_number}}
                      {% if not forloop.last %}
                      ,<br/>
                      {% endif %}
                    {% endfor%}
                  {% else %}
                    N/A
                  {% endif %}
                {% endwith %}
              </td>
              <td>{{promoted.enrolled_date|timesince}}</td>
              <td>{{promoted.lastest_promoted_date}}</td>
              <td>{{promoted.lastest_promoted_date|timesince}}</td>
              <td>{{promoted.promoted_times}}</td>

          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
<div class="col-md-3">
  <ul class="buttonlist">
    <li>
        <a role="button" class="btn btn-sm btn-danger" href="{% url 'students_promoted_times_report' %}">{% trans "Clear Search" %}</a>
    </li>
    <li>
      <a href="{% url 'students_promoted_times_report' 'ALL' year school grade classroom %}" class="btn {% if filter_seach != 'ALL' %} btn-info {% else %} btn-warning {% endif %} btn-sm">
        {% trans "All Students" %}
      </a>
    </li>
    <li>
        <a href="{% url 'students_promoted_times_report' 'CURRENT' year school grade classroom %}" class="btn {% if filter_seach == 'ALL' %} btn-info {% else %} btn-warning {% endif %} btn-sm">
            {% trans "Current Students" %}
        </a>
    </li>
  </ul>
  <ul style="list-style:none; padding:0;">
    <li>
        {% trans "Academic Year" %}
    </li>
    <li>
        <select class="form-control" id="select_year">
            <option value="0">{% trans "All" %}</option>
            {% for year in academic_years%}
                <option value="{{year}}">{{year}}-{{year|add:1}}</option>
            {% endfor%}

        </select>
    </li>
  </ul>
  <ul style="list-style:none; padding:0;">
    <li>
        {% trans "Number of Promoted Time" %}
    </li>
    <li>
        <input class="form-control" id="search_promoted_time" type="number"​​ placeholder="{% trans 'Input Number of Promoted Time' %}"/>
    </li>
  </ul>
  <ul style="list-style:none; padding:0;">
    <li style="margin-bottom:5px;">
        <a class="btn btn-info" id="school0" href="{% url 'students_promoted_times_report' filter_seach year 0 0 0 %}">{% trans "All Sites" %}</a>
    <li>
    {% for site in sites %}
      <li style="margin-bottom:5px;">
        <button type="button" id="{{'school'|concate:site.school_id}}" class="btn btn-info" data-toggle="collapse" data-target="{{'#demo'|concate:site.school_id}}">{{ site.school_name }} <span class="caret"></span></button>
         <div id="{{'demo'|concate:site.school_id}}" class="collapse">
             <ul style="list-style:none; padding:0; margin-top:5px; margin-left:10px;">
               <li style="margin-bottom:5px;">
                    <a class="btn btn-success" href="{% url 'students_promoted_times_report' filter_seach year site.school_id 0 0 %}">{% trans "All Grades" %}</a>
               <li>
               {% for grade_id,grade in grades.items %}
                 <li style="margin-bottom:5px;">
                     <div class="dropdown">
                       <button class="btn btn-success dropdown-toggle" id="{{'grade'|concate:grade_id}}" type="button" data-toggle="dropdown">{{grade}}
                       <span class="caret"></span></button>
                       <ul class="dropdown-menu" role="menu" aria-labelledby="{{'grade'|concate:grade_id}}">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'students_promoted_times_report' filter_seach year site.school_id grade_id 0 %}">{% trans "All Classes" %}</a></li>
                            <li role="presentation" class="divider"></li>
                            {% for class in grade_id|classroom_by_school_grade:site.school_id %}
                            <li role="presentation"><a role="menuitem" id="{{'classroom'|concate:class.classroom_id}}" tabindex="-1" href="{% url 'students_promoted_times_report' filter_seach year 0 0 class.classroom_id %}">{{class}}</a></li>
                            <li role="presentation" class="divider"></li>
                            {% endfor %}
                       </ul>
                     </div>
                 </li>
               {% endfor %}
             </ul>
         </div>

      </li>
    {% endfor %}
  </ul>

</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
var table = null;
$(document).ready(function(){
  table = $('#attendanceReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      oSearch: { "bSmart": false, "bRegex": true },
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'StudentLag'
             },
    ]
  });
  var classroom = {{classroom}}
  // current year
  $("#select_year").val({{year}});
  if(classroom=='0'){
      // current site
      $("#school{{school}}").css({"background":"#f0ad4e","border-color":"#f0ad4e"});
  }

  // current grade
  $("#grade{{grade}}").css({"background":"#f0ad4e","border-color":"#f0ad4e"});
  // current class
  $("#classroom{{classroom}}").css({"background":"#f0ad4e","color":"white"});

  $('#select_year').on('change', function() {
      var selected_year = this.value;
      var filter_seach = "{{filter_seach}}"
      var school = "{{school}}"
      var grade = "{{grade}}"
      var classroom = "{{classroom}}"
      url = '{%url 'students_promoted_times_report' %}'+ filter_seach + '/' + selected_year + '/' + school + '/' + grade + '/' + classroom
      window.location.href = url;
    })
    $('#search_promoted_time').on( 'change', function () {
        table
        .columns(6)
        .search( this.value )
        .draw();
    });
    $('#search_promoted_time').on( 'keyup', function () {
        table
        .columns(6)
        .search( this.value )
        .draw();
    });
});
</script>
{% endblock %}
