{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans 'Student Dental Report for' %}​
{% if current_site and current_site == 'All Site' %}
{% trans current_site%}
{%else%}
{{current_site}}
{%endif%}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="medicalReportTable">
        <thead><tr>
          <th>{% trans "Date" %}</th>
          <th>{% trans "Number of Student" %}</th>
          <th>{% trans "Extractions" %}</th>
          <th>{% trans "Sealent" %}</th>
          <th>{% trans "Fillings" %}</th>
          <th>{% trans "Endo" %}</th>
          <th>{% trans "Scaling" %}</th>
          <th>{% trans "Pulped" %}</th>
          <th>{% trans "Xray" %}</th>
        </tr>
        </thead>
        <tbody>
            {% for dental in dentals_by_month_year %}
          <tr>
              <td>{{ dental.group_by_date }}</td>
              <td>{{dental.unique}}</td>
              <td>
                  {{dental.dentals|get_subtotal_of_dental:'extractions' }}
              </td>
              <td>
                  {{dental.dentals|get_subtotal_of_dental:'sealent' }}
              </td>
              <td>
                  {{dental.dentals|get_subtotal_of_dental:'filling' }}
              </td>
              <td>
                  {{dental.dentals|get_subtotal_of_dental:'endo' }}
              </td>
              <td>
                  {{dental.dentals|get_subtotal_of_dental:'scaling' }}
              </td>
              <td>
                  {{dental.dentals|get_subtotal_of_dental:'pulped' }}
              </td>
              <td>
                  {{dental.dentals|get_subtotal_of_dental:'xray' }}
              </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfooter>
          <tr>
            <td>{% trans "Total" %} :</td>
            <td>
              {{unique_students}}
            </td>
            <td>
              {{dentals_by_month_year|get_total_of_dental:'extractions' }}
            </td>
            <td>
                {{dentals_by_month_year|get_total_of_dental:'sealent' }}
            </td>
            <td>
                {{dentals_by_month_year|get_total_of_dental:'filling' }}
            </td>
            <td>
                {{dentals_by_month_year|get_total_of_dental:'endo' }}
            </td>
            <td>
                {{dentals_by_month_year|get_total_of_dental:'scaling' }}
            </td>
            <td>
                {{dentals_by_month_year|get_total_of_dental:'pulped' }}
            </td>
            <td>
                {{dentals_by_month_year|get_total_of_dental:'xray' }}
            </td>
          </tr>
        </tfooter>
      </table>
    </div>


    <div class="col-md-3">
      <div class="col-md-12">
        <div class="form-group">
          <a href = "{% url 'student_dental_summary_report' %}" class="btn btn-xs btn-warning" style="width:100%;">{% trans "All Site" %}</a>
        </div>
        {% for site in sites %}
          <div class="form-group">
            <a href = "{% url 'student_dental_summary_report' site.school_id %}" class="btn btn-xs btn-success" style="width:100%;">
              {{ site.school_name }}
            </a>
          </div>
        {% endfor %}
      </div>
    </div>


{% endblock %}

{% block script %}
<script type="text/javascript">
$('#datePicker').val('{{attendance_date}}');
$(function() {
      $('#datePicker').change(function() {
          //split on /
          url = '{%url 'student_medical_report' %}' + $(this).val()
          window.location.href = url
      });
    });
$(document).ready(function(){
  $('#medicalReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
      dom: 'frtipB',
      buttons: [
        {
                 extend: 'csvHtml5',
                 text: 'TSV export <i class="fa fa-download"></i>',
                 className: 'btn btn-sm btn-success',
                 fieldSeparator: '\t',
                 extension: '.tsv',
                 title: 'StudentMedical'
             },

    ]
  });
});
</script>

{% endblock %}
