{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "Students daily absences" %}
{% endblock %}

{% block content %}
<div class="col-md-9">
      <table class="table table-bordered table-striped table-hover" id="attendanceReportTable">
        <thead><tr>
          <th>{% trans "Site" %}</th>
          <th>{% trans "Student" %}</th>
        {% for key,code in attendancecodes.items %}
          <th>{{code}}</th>
        {% endfor %}

        </tr></thead>
        <tbody>
          {% for student,attendance in attendance_by_sid.items %}
          <tr>
              <td>{{ student.site }}</td>
              <td><a href="{% url 'student_detail' student.student_id %}">{{ student }}</a></td>
              {% for key,attendance_item in attendance.items %}
              <td>{{attendance_item}}</td>
              {% endfor %}
              </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>


    <div class="col-md-3">
    </div>


{% endblock %}

{% block script %}
<script type="text/javascript">
$('#datePicker').val('{{attendance_date}}');

$(document).ready(function(){
  $('#attendanceReportTable').DataTable({
      responsive: true,
      pageLength: 25,
      order: [[0,'asc']],
  });
});
</script>

{% endblock %}
