{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load mandefilters %}
{% block title %}
{% trans "Adding a General Notes" %} {% if student_id %} for {{student_id|name_by_sid}}{% endif %}
{% endblock %}
{% block content %}
<div class="col-md-6">
    {% if student_id %}
    <form action = "{% url 'student_note' student_id%}" method="post">
    {% else %}
    <form action = "{% url 'student_note' %}" method="post">
    {% endif %}
        {% if student_id %}
        {{ form.student_id.as_hidden }}
        {% else %}
        {% bootstrap_field form.student_id placeholder=False %}
        {% endif %}
        {% bootstrap_field form.date placeholder=False %}
        {% bootstrap_field form.notes placeholder=False %}
        {% csrf_token %}
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
    </form>
</div>
<div class="col-md-3">
    <div style="color:red;">
        {% if form.errors %}
          <ul>
            {% for key,value in form.errors.items %}
              <li>{{ key|escape }} : {{ value|escape }}</li>
            {% endfor %}
          </ul>
        {% endif %}
    </div>
</div>
{% endblock %}
