{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Taking attendance for" %} {{classroom}}
{% endblock %}

{% block content %}

<div class="col-md-9">
  <form method="post" action="{% url 'take_class_attendance' classroom.classroom_id %}">
    {% csrf_token %}
    <div class="form-group">
      <table class="table table-bordered table-striped table-hover" id="attendanceTable">
        <thead><tr>
          <th>{% trans "SID" %}</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Present" %}</th>
          <th>{% trans "Unapproved Absence" %}</th>
          <th>{% trans "Approved Absence" %}</th>
          <th>{% trans "Comment" %}</th></tr></thead>
        <tbody>
          {% for student in students %}
          <tr>
              <td>{{student.student_id.student_id}}</td>
              <td>{{student.student_id.name}}</td>
              <td><input type="radio" name="{{student.student_id.student_id}}" value ="P" checked/></td>
              <td><input type="radio" name="{{student.student_id.student_id}}" value="UA"/></td>
              <td><input type="radio" name="{{student.student_id.student_id}}" value="AA"/></td>
              <td><input type="text" /></td>
          </tr>
          {% endfor %}
          {% for attendance in attendance_entries %}
          <tr>
              <td>{{attendance.student_id.student_id}}</td>
              <td>{{attendance.student_id.name}}</td>
              <td>{{ attendance.get_attendance_display }}<input type="radio" name="{{student.student_id.student_id}}" value ="P" checked/></td>
              <td><input type="radio" name="{{student.student_id.student_id}}" value="UA"/></td>
              <td><input type="radio" name="{{student.student_id.student_id}}" value="AA"/></td>
              <td>{{attendance.notes}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr><td colspan=6><button class="btn btn-primary">{% trans "Submit" %}</button></td></tr>
        </tfoot>

      </table>
    </div>
  </form>
</div>


<div class="col-md-3">
    <form method="post" action="{% url 'take_class_attendance' classroom.classroom_id %}">
      {% csrf_token %}
      <input type="date" name="attendance_date" class="form-control" id="datePicker"/>
    </form>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">

$(document).ready( function() {
    $('#datePicker').val('{{attendance_date}}');
    $(function() {
      $('#datePicker').change(function() {
        this.form.submit();
      });
    });
    $('#attendanceTable').DataTable({
      responsive: true,
      pageLength: 300,
      "dom": '<"top"i>rt<"bottom"f><"clear">'
    });

    $('#previousAttendanceTable').DataTable({
      responsive: true,
      pageLength: 300,
      "dom": '<"top"i>rt<"bottom"f><"clear">'
    });

});

</script>
{% endblock %}
