{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
{% trans "Taking attendance for" %} {{classroom}}
{% endblock %}

{% block content %}

<div class="col-md-9">
  {% if next_url %}
    <form method="post" action="{% url 'take_class_attendance' classroom.classroom_id attendance_date %}?next={{next_url}}&limit={{limit}">
  {% else %}
    <form method="post" action="{% url 'take_class_attendance' classroom.classroom_id attendance_date %}">

  {% endif %}
    {% csrf_token %}
    {{ formset.management_form }}
    <div class="form-group">
      <table class="table table-bordered table-striped table-hover" id="attendanceTable">
        <thead><tr>
          <th>{% trans "SID" %}</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Attendance" %}</th>
          <th>{% trans "Comment" %}</th></tr></thead>
        <tbody>
          {% for form in formset %}
          <tr>
              <td><a href="{%url 'student_detail' form.student_id.value %}">{{form.student_id.value}}</a>
                {{ form.student_id.as_hidden }}
                {{form.id.as_hidden}}
              </td>
              <td>{{form.student_id__name.value}} {{form.student_id__name.as_hidden}}</td>
              <td>{% bootstrap_field form.attendance show_label=False placeholder=False %}</td>
              <td>{% bootstrap_field form.notes  show_label=False placeholder=False %}</td>
          </tr>
          {% endfor %}
        </tbody>

        <tfoot>

          <tr><td colspan=4>
            {% if submit_enabled == True %}
              <button class="btn btn-primary">{% trans "Submit" %}</button>
            {% else %}
              <p style="color:red">
                {% trans "This class does not meet today!" %}
              </p>
              <p>
                Want to <a href="{% url 'attendance_days' classroom.classroom_id attendance_date %}">{% trans "change the attendance calendar?" %}</a>
              </p>
            {% endif %}
          </td></tr>
        </tfoot>


      </table>
    </div>
  </form>
</div>


<div class="col-md-3">
      <input type="date" name="attendance_date" class="form-control" id="datePicker"/>
      <p style="color:red">{{ warning }}</p>
      <p style="color:green">{{ message }}</p>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript">

$(document).ready( function() {
    $('#datePicker').val('{{attendance_date}}');
    $(function() {
      $('#datePicker').change(function() {
          //split on /
          $url = window.location.href.split('/')
          //replace the final value (the date)
          $url[$url.length-2] = $(this).val()
          //rewrite the url with the new date in place
          window.location.href = $url.join('/')
      });
    });

    $('#attendanceTable').DataTable({
      responsive: true,
      pageLength: 300,
      "dom": '<"top"i>rt<"bottom"f><"clear">'
    });
});

</script>
{% endblock %}
