{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
{% trans "Manage Teachers" %}
{% if action != None %}
<small>{% trans action %}</action>
{% endif %}
{% endblock %}

{% block content %}
<div class="col-md-12">

</div>
<div class="col-md-4">
  <ul>
    {% if status == 'active' %}
      <h5>{% trans "Active Teacher" %}</h5>
    {% else %}
      <h5>{% trans "Inactive Teacher" %}</h5>
    {% endif %}
    {% for teacher in current_teachers %}
      <li><a href = "{% url 'teacher_form' status teacher.teacher_id %}">{{teacher}}</a></li>
    {% endfor %}
  </ul>
</div>

<div class="col-md-4">
<form action = "{% url 'teacher_form' status teacher_id %}" method="post">
    {% bootstrap_form form set_placeholder=False %}
    {% csrf_token %}
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
</form>
</div>
<div class="col-md-2">
  {% if action == None %}
    <a href = "{% url 'teacher_form' status %}" role="button" class="btn btn-success">{% trans "Adding a teacher" %}</a>
  {% else %}
    <a href = "{% url 'teacher_form' status %}" role="button" class="btn btn-danger">{% trans "Add a teacher?" %}</a>
  {% endif %}
</div>
<div class="col-md-2">
   {% if status == 'active' %}
    <a href = "{% url 'teacher_form' 'inactive' %}" role="button" class="btn btn-warning">{% trans "Show Inactive Teacher" %}</a>
   {% else %}
   <a href = "{% url 'teacher_form' 'active' %}" role="button" class="btn btn-warning">{% trans "Show Active Teacher" %}</a>
   {% endif %}

</div>


{% endblock %}
