{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block title %}
{% trans "Vaccine Form" %}
{% endblock %}

{% block content %}
<div class="col-md-3"></div>
<div class="col-md-6">
  {% if id %}
  <form action = "{% url 'vaccine_form' student_id id %}?next={{next_url}}" method="POST">
  {% else %}
  <form action = "{% url 'vaccine_form' student_id %}?next={{next_url}}" method="POST">
  {% endif %}
    
    {% csrf_token %}
    {% bootstrap_field form.student_id placeholder=False %}
    {% bootstrap_field form.type placeholder=False %}
    {% bootstrap_field form.name placeholder=False %}
    {% bootstrap_field form.other placeholder=False %}
    {% bootstrap_field form.time placeholder=False %}
    {% bootstrap_field form.vaccine_date placeholder=False %}
    {% bootstrap_field form.survey_date placeholder=False %}
    {% bootstrap_field form.notes placeholder=False %}
    
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
    </div>
  </form>
</div>
<div class="col-md-3"></div>

{% endblock %}

{% block script %}
<script type="text/javascript">
 $(document).ready(function(){
    var data_names = {{ data_names | safe }}
    $("#id_name" ).autocomplete({
        source: data_names
      });
    try {
      $('#id_student_id').select2({
        placeholder: "---Select a Student---",
      });
    }
    catch(err) {
     console.log(err)
    }

//hide or show other vaccince name
if($('#id_name').val()=='OTHER'){
   $('#id_other').closest('.form-group').show();
   $('#id_other').attr('required', true);   
 }
 else{
  $('#id_other').closest('.form-group').hide();
  $('#id_other').attr('required', false);  
 }                         
});
$('#id_name').change(function(){
 if($(this).val()=='OTHER'){
   $('#id_other').closest('.form-group').show();
   $('#id_other').attr('required', true);      
 }
 else{
  $('#id_other').closest('.form-group').hide();
   $('#id_other').attr('required', false);      

 }
});
</script>

{% endblock %}