{% extends "base.html" %}
{% load i18n %}
{% load mandefilters %}
{% block title %}
{% trans "VDP catch up the right level" %}
{% endblock %}

{% block content %}
<div class="col-md-12">
    <table>
      <tr>
        {% for school,data in students_meet_psgrade_by_site.items %}
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
              <tr>
                <th colspan="4" style="text-align:center;">{{school}} 
                  {% with a=data.students.M b=data.students.F %}
                  {{ a|add:b }}
                  {% trans "students" %}
                  {% endwith %} </th>
              </tr>
              <tr>
                <td>{% trans "Boys" %}</td><td>% {% trans "of total" %}</td>
                <td>{% trans "Girls" %}</td><td>% {% trans "of total" %}</td>
              </tr>
              <tr>
                <td>                  
                  {{ data.student_vpdgrade_meet_or_over_psgrade.M }} / {{data.students.M}}</td>
                <td>
                  {% widthratio data.student_vpdgrade_meet_or_over_psgrade.M data.students.M 100 %}
                   %
                </td>
                <td>{{ data.student_vpdgrade_meet_or_over_psgrade.F }} / {{data.students.F}}</td>
                <td>
                  {% widthratio data.student_vpdgrade_meet_or_over_psgrade.F data.students.F 100 %}
                   %
                </td>
              </tr>
              <tr>
                <td colspan="4" style="text-align:center;">
                {% trans "Total" %}
                {% with a=data.student_vpdgrade_meet_or_over_psgrade.M b=data.student_vpdgrade_meet_or_over_psgrade.F %}
                {{ a|add:b }}               
                {% endwith %} 
                 / {% widthratio  data.student_vpdgrade_meet_or_over_psgrade.M|add:data.student_vpdgrade_meet_or_over_psgrade.F data.students.M|add:data.students.F 100 %}
                 % 
                </td>
              </tr>
          </table>
        </td>
        {% endfor %}
      </tr>
    </table>
  </div>
  <div class="col-md-12">
    <table>
      <tr>
        <td>
          <table style="border:1px solid black; display:inline-table;" class="table table-bordered table-striped table-hover">
              <tr>
                <th colspan="4" style="text-align:center;">{% trans "All Site" %}
                  {% with a=students_all_site.students.M b=students_all_site.students.F %}
                  {{ a|add:b }}
                  {% endwith %}
                  {% trans "students" %}
  </th>         </th>
              </tr>
              <tr>
                <td>{% trans "Boys" %}</td><td>% {% trans "of total" %}</td>
                <td>{% trans "Girls" %}</td><td>% {% trans "of total" %}</td>
              </tr>
              <tr>
                <td>{{ students_all_site.student_vpdgrade_meet_or_over_psgrade.M }} / {{ students_all_site.students.M}}</td>
                <td>
                  {% widthratio students_all_site.student_vpdgrade_meet_or_over_psgrade.M students_all_site.students.M 100 %}
                   %
                </td>
                <td>{{ students_all_site.student_vpdgrade_meet_or_over_psgrade.F }} / {{ students_all_site.students.F}}</td>
                <td>
                  {% widthratio students_all_site.student_vpdgrade_meet_or_over_psgrade.F students_all_site.students.F 100 %}
                   %
                </td>
              </tr>
              <tr>
                <td colspan="4" style="text-align:center;">
                {% trans "Total" %} 
                {% with a=students_all_site.student_vpdgrade_meet_or_over_psgrade.M b=students_all_site.student_vpdgrade_meet_or_over_psgrade.F %}
                {{ a|add:b }}               
                {% endwith %} 
                 / {% widthratio  students_all_site.student_vpdgrade_meet_or_over_psgrade.M|add:students_all_site.student_vpdgrade_meet_or_over_psgrade.F students_all_site.students.M|add:students_all_site.students.F 100 %}
                 % 
                </td>
              </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
