{% load mandefilters %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jethro - Asian Hope VDP Monitoring and Evaluation</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/mande/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/static/mande/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="/static/mande/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/mande/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/static/mande/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/mande/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Select2 CSS -->
    <link href="/static/mande/bower_components/select2/css/select2.css" rel="stylesheet"/>

    <!---- jquery ui --->
    <link rel="stylesheet" href="/static/mande/bower_components/jquery-ui/jquery-ui.css">
      <!---- crop image --->
    <link rel="stylesheet" href="/static/mande/bower_components/cropper/cropper.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Custom Jethro Theme and context specific css !-->
    <link href="https://fonts.googleapis.com/css?family=Moul" rel="stylesheet">
    <link href="/static/mande/dist/css/jethro.css" rel="stylesheet">
    <style rel="stylesheet" type="text/css">

    </style>
</head>

<body>
    <!-- <div id="bug"><i style=" font-size: 23px;" class="fa fa-bug" aria-hidden="true"></i></div> -->

    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-/static-top" role="navigation" style="margin-bottom: 0">
            <div class="header_wrapper">
                <div class="logo">
                    <a href="/"><img src="/static/image/ah_logo.png"></img></a>
                </div>
                <div class="title"><marquee><span>{% trans "Village Development Program" %}</span></marquee></div>
                <div class="login_info">
                    <ul class="nav navbar-top-links navbar-right">
                        {% get_available_languages as languages %}
                        {% for lang_code, lang_name in languages %}
                          <a href="{% change_lang lang_code %}">{{lang_name}}</a>
                        {% endfor %}

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <img src="{{user.profile.profile_picture}}" onerror="this.src='/static/image/no_image_available.gif'" style="width:40px; height:40px; border-radius:50%;">
                                </img>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="">Logged in as: <strong>{{ user }}</strong></a></li>
                                <li>
                                    <a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    {% if messages %}
                    <ul class="messages messages_upload" style="padding: 0 0 0 10px; margin: 0">
                      {% for message in messages %}
                        {%if "update_profile" in message.tags %}
                          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                    {% endif %}
                  </div>
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                          <form method="post" name="search_form" onsubmit="get_action();">
                            {% csrf_token %}
                            <div class="input-group custom-search-form">

                                <input type="text" class="form-control" placeholder="Search..." id="search_box" required>
                                <span class="input-group-btn">
                                  <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                  </button>
                                </span>
                            </div>
                          </form>
                            <!-- /input-group -->
                        </li>

                        <li>
                            <a href="{% url 'index' %}"><i class="fa fa-dashboard fa-fw"></i>{% trans "Dashboard" %}</a>
                        </li>

                        {% for heading in menu %}
                        <li>
                          <a href="#"><i class="fa {{heading.icon}} fa-fw"></i>{% trans heading.display %}<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                            {% for item in heading.items %}
                              <li>
                                <a href="{% url item.name %}">{% trans item.display %}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-/static-side -->
        </nav>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                  <h1 class="page-header">{% block title %}{% endblock %}</h1>
{% block content %}{% endblock %}
                  </div>
                  <!-- /.col-lg-12 -->
                  </div>
                  <!-- /.row -->
                  </div>

                  <!-- /.container-fluid -->
                  </div>
                  <!-- /#page-wrapper -->

                  </div>
                  <!-- /#wrapper -->
                  <!-- jQuery -->
                  <script src="/static/mande/bower_components/jquery/dist/jquery.min.js"></script>
                  <script src="/static/mande/bower_components/jquery-ui/jquery-ui.js"></script>

                  <!-- Bootstrap Core JavaScript -->
                  <script src="/static/mande/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

                  <!-- Metis Menu Plugin JavaScript -->
                  <script src="/static/mande/bower_components/metisMenu/dist/metisMenu.min.js"></script>

                  <!-- Morris Charts JavaScript -->
                  <script src="/static/mande/bower_components/raphael/raphael-min.js"></script>
                  <script src="/static/mande/bower_components/morrisjs/morris.min.js"></script>

                  <!-- DataTables JavaScript -->
                   <script src="/static/mande/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
                   <script src="/static/mande/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

                   <script src="/static/mande/bower_components/buttons/js/dataTables.buttons.min.js"></script>
                   <script src="/static/mande/bower_components/buttons/js/buttons.html5.min.js"></script>
                   <link src="/static/mande/bower_components/buttons/css/buttons.dataTables.min.css" rel="stylesheet">

                  <!-- Custom Theme JavaScript -->
                  <script src="/static/mande/dist/js/sb-admin-2.js"></script>
                  <script src="/static/mande/bower_components/webcam/webcam.js"></script>
                  <script src="/static/mande/bower_components/cropper/cropper.js"></script>
                  <script src="/static/mande/bower_components/select2/js/select2.js"></script>
                  <!-- Custom JS -->
                  <script src="/static/mande/dist/js/jethro.js"></script>

                  {%block script %}{% endblock %}
</body>
<script type="text/javascript" src="https://jira.asianhope.org/s/431c2762976caec12827c94ff810e709-T/en_USmpmr87/6346/321/1.4.16/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=ac436889"></script>

<script type="text/javascript">
    function get_action() {
        var search_value = $("#search_box").val();
        sessionStorage.setItem('search_data', JSON.stringify(search_value));
        url = "{% url 'student_search' %}"+search_value+"/"
        document.search_form.action = url
    }
$(function() {
    var obj =sessionStorage.search_data
    if(obj){
         var search_data = JSON.parse(obj);
         $("#search_box").val(search_data);
    }
    else{
        $("#search_box").val('');
    }

    var data_search = {{search_sugestion | safe}}
    $("#search_box").autocomplete({
        source: function(request, response) {
            // The term the user searched for;
            var term = request.term;
            var m = new RegExp("^" + $.ui.autocomplete.escapeRegex(term), "i");
            var matches = $.grep(data_search.sort(), function(value, index) {
                return m.test(value.label || value.value || value);
            });
            // let autocomplete know the results:
            response(matches);
        },
        select: function (event, ui) {
            var value = ui.item.value;
            url = "{% url 'student_search' %}"+value+"/"
            //store in session
            sessionStorage.setItem('search_data', JSON.stringify(value));
            window.location.href = url
        }
    });

    $('#bug').click(function() {
      $("body").append('<div class="modalOverlay">'+
        '<div id="report_bug_form">'+
            '<img style=""src="/static/image/unchecked.png" class="ribbon"/>'+
            '<span>Report a Bug</span>'+
            '<form style="margin-top: 20px;">'+
                '<input placeholder="Title *" id="title" class="form-control" type="text" required /><br/>'+
                '<select id="label" class="form-control">'+
                  '<option value="Bug">Bug</option>'+
                  '<option value="Feature Request">Feature Request</option>'+
                '</select><br/>'+
                '<textarea id="description" placeholder="Description" class="form-control" type="text" rows="5"></textarea><br/>'+
                '<span id="message"></span>'+
                '<button onclick="report()" id="submit_report" class="btn btn-success">Submit</button>'+
                '&nbsp; &nbsp;'+
                '<button type="reset" id="cancel_report" class="btn btn-warning">Cancel</button>'+
            '</form>'+
        '</div></div>');
    });

    $('body').on('click','#submit_report',function(e){
        e.preventDefault();
        var title = $('#title').val();
        var label = $('#label').val();
        var description = $('#description').val();
        if(title != ''){
            $.post("{% url 'bug_report' %}",
              {
                  csrfmiddlewaretoken:'{{csrf_token}}',
                  title : title,
                  label : label,
                  description : description
              },
              function(data, status){
                 data = JSON.parse(data)
                 if (status == 'success'){
                      if (data.status == 'success'){
                         $("#message").text(data.message).css("color", "green").append('<br/><br/>');
                         setTimeout(removeReportForm, 5000);
                      }
                      else{
                          $("#message").text(data.message).css("color", "red").append('<br/><br/>');
                      }
                 }
                 else{
                     $("#message").text("Something went wrong!").css("color", "orange").append('<br/><br/>');
                 }
              })
        }
        else{
            $("#message").text("Title is required!").css("color", "red").append('<br/><br/>');
        }

    });

    function removeReportForm () {
        $( ".modalOverlay" ).remove();
    }

    $('body').on('click','#cancel_report',function(){
        $( ".modalOverlay" ).remove();
    });

    $('body').on('click','.ribbon',function(){
        $( ".modalOverlay" ).remove();
    });

});


</script>
{% block javascript %}{% endblock %}

</html>
